

<section class="content__about about">
    <div class="heading">
        <h3 class="title mt mb">{{ phrase_array({ 'ru': 'Новый Interlude', 'en': 'New Interlude', }) }} <span class="color-orange">X999</span></h3>
    </div>
    <div class="about__desc">
        <div class="headline__desc headline__desc_limit">
            {{ phrase_array({

            'ru':
            '- Это самая стабильная сборка самых крутых хроник.<br>
            - Самый лучший клиент, который ты видел!<br>
            - Эксклюзивна графика будущего уже сейчас!<br>
            - Новая анимация старых скилов, моджно стильно молодежно.<br>
            - Только классика, только хардкор! Никаких дополнений, ничего лишнего<br>
            - Уникальный, проработанный, качественный интерфейс<br>
            - Крутые НПЦ и Мобы, которых ты заслужил<br>',

            'en':
            '- This is the most stable collection of the best chronicles.<br>
            - The best client you\'ve ever seen!<br>
            - Exclusive graphics of the future now!<br>
            - New animation of old skills, stylish and youthful.<br>
            - Only classics, only hardcore! No extras, nothing superfluous<br>
            - Unique, well-designed, high-quality interface<br>
            - Cool NPCs and Mobs you deserve<br>',

            })|raw }}
        </div>
        <div class="about__rates rates">
            <div class="rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__exp.jpg" alt="sp / xp">
                </div>
                <div class="rate__title">
                    sp / xp
                </div>
                <div class="rate__lvl">
                    x100
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__adena.jpg" alt="Adena">
                </div>
                <div class="rate__title">
                    Adena
                </div>
                <div class="rate__lvl">
                    x30
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__drop.jpg" alt="Drop">
                </div>
                <div class="rate__title">
                    Drop
                </div>
                <div class="rate__lvl">
                    x15
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__spoil-festival.jpg" alt="Spoil">
                </div>
                <div class="rate__title">
                    Spoil
                </div>
                <div class="rate__lvl">
                    x7
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__soul-bow.jpg" alt="Raid Boss">
                </div>
                <div class="rate__title">
                    Raid Boss
                </div>
                <div class="rate__lvl">
                    x3
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__valakas.jpg" alt="Epic boss">
                </div>
                <div class="rate__title">
                    Epic boss
                </div>
                <div class="rate__lvl">
                    x3
                </div>
            </div>
            <!-- Конец   rate -->
        </div>
    </div>
    <!-- Сюда тоже можно добавить текст! -->
</section>