<section class="content__events events">
  <div class="heading">
    <h3 class="title mt mb">{{phrase("upcoming events")|raw}}</h3>
  </div>
  <div class="events__list">
    <a href="#" class="events__event event">
      <div class="event__img"
           style=" background-image: url({{template}}/images/tmp/events/event-1.jpg);"></div>
      <div class="event__inner"></div>
      <div class="event__content">
        <div class="event__title">{{phrase("catch your luck")}}</div>
      </div>
    </a>
    <a href="#" class="events__event event">
      <div class="event__img"
           style=" background-image: url({{template}}/images/tmp/events/event-2.jpg);"></div>
      <div class="event__inner"></div>
      <div class="event__content">
        <div class="event__title">{{phrase("gate of dion")}}</div>
      </div>
    </a>
    <a href="#" class="events__event event">
      <div class="event__img"
           style=" background-image: url({{template}}/images/tmp/events/event-3.jpg);"></div>
      <div class="event__inner"></div>
      <div class="event__content">
        <div class="event__title">{{phrase("farming katas with the entire server")}}</div>
      </div>
    </a>
  </div>

</section> 
