<!-- files START -->
<div style="display: none">
    <div class="ww ww_animated" id="files">
        <div class="ww__close" data-fancybox-close></div>
        <div class="ww__inner">
            <div class="ww__body">
                <div class="ww__head">
                    <div class="title title_mb_small">
                        Подключение <span class="color-orange">к серверу</span>
                    </div>
                    <div class="desc">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit
                        incidunt accusantium asperiores reprehenderit.
                    </div>
                </div>
                <div class="ww__content">
                    <div class="m-heading mt mb">
                        <div class="m-heading__title">
                            1. Скачайте и установите клиент/патч
                        </div>
                    </div>

                    <div class="files">
                        <div class="files__list">
                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Клиент Lineage 2 interlude</div>
                                    <div class="files__desc">Размер: 4.7 Gb</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>
                                    Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта" />
                                            </div>
                                            <div class="dlink__tx">С сайта</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png" alt="Google Drive" />
                                            </div>
                                            <div class="dlink__tx">Google Drive</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png" alt="Ya. Disk" />
                                            </div>
                                            <div class="dlink__tx">Ya. Disk</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host" />
                                            </div>
                                            <div class="dlink__tx">RG-Host</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent" />
                                            </div>
                                            <div class="dlink__tx">Torrent</div>
                                        </a>
                                    </div>
                                    <!-- END download-list -->
                                </div>
                            </div>

                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Патч для игры</div>
                                    <div class="files__desc">Размер: 365 MB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>
                                    Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта" />
                                            </div>
                                            <div class="dlink__tx">С сайта</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png" alt="Google Drive" />
                                            </div>
                                            <div class="dlink__tx">Google Drive</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png" alt="Ya. Disk" />
                                            </div>
                                            <div class="dlink__tx">Ya. Disk</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host" />
                                            </div>
                                            <div class="dlink__tx">RG-Host</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent" />
                                            </div>
                                            <div class="dlink__tx">Torrent</div>
                                        </a>
                                    </div>
                                    <!-- END download-list -->
                                </div>
                            </div>

                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Апдейтер</div>
                                    <div class="files__desc">Размер: 11 MB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>
                                    Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта" />
                                            </div>
                                            <div class="dlink__tx">С сайта</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png" alt="Google Drive" />
                                            </div>
                                            <div class="dlink__tx">Google Drive</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png" alt="Ya. Disk" />
                                            </div>
                                            <div class="dlink__tx">Ya. Disk</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host" />
                                            </div>
                                            <div class="dlink__tx">RG-Host</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent" />
                                            </div>
                                            <div class="dlink__tx">Torrent</div>
                                        </a>
                                    </div>
                                    <!-- END download-list -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ww__alert alert">
                        <div class="alert__pic alert__pic_mr">
                            <img src="{{template}}/images/icons/alerts/danger.svg" alt="i" class="alert__img" />
                        </div>
                        <div class="alert__content">
                            ОБРАТИТЕ ВНИМАНИЕ! <br />
                            Перед установкой патча обязательно удалите папку system
                        </div>
                    </div>

                    <div class="m-heading mt mb">
                        <div class="m-heading__title">2. Создайте аккаунт</div>
                    </div>
                    <div class="ww__btns">
                        <a href="javascript:;" data-open-window="reg" class="btn">
                            <div class="btn__content">Регистрация</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END  ww__body -->
        </div>
        <!-- END  ww__inner -->
    </div>
    <!-- END  ww -->
</div>
<!-- files END -->