{% extends 'struct.html' %}

{% block title %}{{title_start_page()}}{% endblock %}

{% block content %}
<section class="content__streams streams">
    <div class="heading">
        <h3 class="title mt mb">{{phrase("live broadcasts")|raw}}</h3>
        <div class="streams__slnav slnav">
            <div class="slnav__arrow slnav__arrow_left" data-streams-prev></div>
            <div class="slnav__pagination" data-streams-pagination></div>
            <div class="slnav__arrow slnav__arrow_right" data-streams-next></div>
        </div>
    </div>
    <div class="streams__list" data-slider-streams="true">
        <div class="swiper-wrapper">

            <!-- example -->
            <!-- start Stream -->
            <!-- Twitch example: указываем ид канала -->
            <!-- <div class="swiper-slide">
<div class="stream" data-insertmedia='{"type" : "twitch" , "src"
    : "https://player.twitch.tv/?channel=doublefine" , "setting"
    : "autoplay=true&muted=true&parent=l2banners.ru" }'>
</div>
</div> -->
            <!-- end Stream -->

            <!-- example -->
            <!-- start Youtube embed video, указываем ид видео  -->
            <!-- <div class="swiper-slide">
<div class="stream"
data-insertmedia='{"type" : "youtube", "src" : "https://www.youtube.com/embed/UWDXdRwLZ4E", "setting" : "autoplay=1&mute=1" }'>
</div>
</div> -->
            <!-- end Stream -->

            <!-- example -->
            <!-- start Youtube live_stream, указываем ид канала -->
            <!-- <div class="swiper-slide">
<div class="stream"
data-insertmedia='{"type" : "youtube", "src" : "https://www.youtube.com/embed/live_stream?channel=UCwobzUc3z-0PrFpoRxNszXQ&autoplay=1&mute=1"}'>
</div>
</div> -->
            <!-- end Stream -->

            <!-- start Stream -->
            <div class="swiper-slide">
                <div class="stream">
                    <div class="stream__content">{{phrase("your stream")}}<br>
                        <a href="#" class="stream__link">{{phrase("add")}}</a>
                    </div>
                </div>
            </div>
            <!-- end Stream -->

            <!-- start Stream -->
            <div class="swiper-slide">
                <div class="stream">
                    <div class="stream__content">{{phrase("your stream")}}<br>
                        <a href="#" class="stream__link">{{phrase("add")}}</a>
                    </div>
                </div>
            </div>
            <!-- end Stream -->

            <!-- start Stream -->
            <div class="swiper-slide">
                <div class="stream">
                    <div class="stream__content">{{phrase("your stream")}}<br>
                        <a href="#" class="stream__link">{{phrase("add")}}</a>
                    </div>
                </div>
            </div>
            <!-- end Stream -->

            <!-- start Stream -->
            <div class="swiper-slide">
                <div class="stream">
                    <div class="stream__content">{{phrase("your stream")}}<br>
                        <a href="#" class="stream__link">{{phrase("add")}}</a>
                    </div>
                </div>
            </div>
            <!-- end Stream -->

            <!-- start Stream -->
            <div class="swiper-slide">
                <div class="stream">
                    <div class="stream__content">{{phrase("your stream")}}<br>
                        <a href="#" class="stream__link">{{phrase("add")}}</a>
                    </div>
                </div>
            </div>
            <!-- end Stream -->

        </div>
        <div class="streams__grp">

            <a href="#" class="streams__add lbtn lbtn_type_1">
                <div class="lbtn__content">{{phrase("add stream")}}</div>
            </a>
        </div>
        <div class="streams__swiper-pagination swiper-pagination"></div>
    </div>
</section> <!-- END  streams -->


<section class="content__news news">

    {% for news in last_news() %}
    <a href="/read/{{news.id}}" class="news__post post">
        <!-- Картинка к новости любого размера -->
        <div class="post__img"
             style="background-image: url({{news_poster(news.poster)}});"></div>
        <div class="post__date">
            {{news.date_create|date("d.m.Y")}}
        </div>
        <div class="post__title post__title_mb">
            {{news.name}}
        </div>
        <div class="post__content">
            {{news.description|raw}}
        </div>
    </a>
    {% endfor %}
</section> <!-- END news -->

{% include "about.html" %}

{% include "events.html" %}
{% endblock %}