<style>
	body {
		overflow-x: hidden;
		overflow-y: scroll;
		margin: 0;
	}

	/* preload */
	.preload {
		background-color: #1c1b1a;
		position: fixed;
		z-index: 500;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0 10px;
	}
</style>

<!-- Get-Web Libs  -->
<link rel="stylesheet" href="{{template}}/libs/fontello/css/gwi.css" />
<link
	rel="stylesheet"
	href="{{template}}/libs/fancybox/css/jquery.fancybox.min.css"
/>
<link rel="stylesheet" href="{{template}}/libs/swiper/css/swiper.min.css" />
<!-- Main styles -->
<link rel="stylesheet" href="{{template}}/css/main.css?ver=0.0.1" />
<link rel="stylesheet" href="{{template}}/css/custom.css?ver=0.0.1" />
