<!-- Get-Web Libs  -->
<script src="{{template}}/libs/jquery/jquery-3.4.1.min.js"></script>
<script src="{{template}}/libs/fancybox/js/jquery.fancybox.js"></script>
<script src="{{template}}/libs/swiper/js/swiper.min.js"></script>
<script src="{{template}}/libs/insertmedia/js/insertmedia.min.js"></script>
<script src="{{template}}/libs/tippy/js/popper.min.js"></script>
<script src="{{template}}/libs/tippy/js/tippy-bundle.iife.min.js"></script>
<script src="{{template}}/libs/anime/anime.min.js"></script>
<!-- Main app -->
<script src="{{template}}/js/app.js?ver=0.0.1"></script>