<div class="scl">
	<a href="#" class="scl__item">
		<span class="gwi gwi_youtube-play"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_vkontakte"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_paper-plane"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_facebook"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_discord"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_skype"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_twitter"></span>
	</a>
	<a href="#" class="scl__item">
		<span class="gwi gwi_mail-alt"></span>
	</a>
</div>
