<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{title_start_page()}}</title>
    <meta name="Description" content="{{description_start_page()}}"/>
    <meta name="Keywords" content="{{keywords_start_page()}}"/>

    <meta name="theme-color" content="#1c1b1a"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="Vitalii P. > Get-Web.site"/>

    <link rel="shortcut icon" href="{{template}}/images/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="icon" sizes="16x16" href="{{template}}/images/favicon/favicon-16x16.png" type="image/png"/>
    <link rel="icon" sizes="32x32" href="{{template}}/images/favicon/favicon-32x32.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="{{template}}/images/favicon/apple-touch-icon-precomposed.png"/>
    <link rel="apple-touch-icon" href="{{template}}/images/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{template}}/images/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{template}}/images/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{template}}/images/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{template}}/images/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{template}}/images/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{template}}/images/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{template}}/images/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{template}}/images/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="167x167" href="{{template}}/images/favicon/apple-touch-icon-167x167.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{template}}/images/favicon/apple-touch-icon-180x180.png"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://example.com/page.html"/>
    <meta property="og:title" content="{{title_start_page()}}"/>
    <meta property="og:image" content="{{template}}/images/sclbnr-ru.jpg"/>
    <meta property="og:description" content="{{description_start_page()}}"/>
    <meta property="og:site_name" content="{{title_start_page()}}"/>
    <meta property="og:locale" content="ru_RU"/>
    <!-- Next tags are optional but recommended -->
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <script>
        const __config = {
            gFonts: {
                fonts: [
                    "Roboto:400,700:latin,cyrillic",
                    "Roboto Slab:400,700:latin,cyrillic",
                ],
                delay: 500,
            },
            preload: {
                /* Время показа прелоадера в секудах */
                time: 0.8,
                /* Разрешить скрыть прелоадер кликнув на него */
                hideByClick: true,
            },
            insertmedia: {
                /* Задержка перед вставкой стримов, ускоряет начальную загрузку сайта и поднимает показатель pageSpeed */
                delay: 2000,
            },
            sliders: {
                streams: {
                    init: true,
                    autoplay: false,
                    autoplayDelay: 10000,
                    /* Остановить смену слайда если наведен курсор */
                    pauseOnHover: true,
                },
            },
        };
    </script>
    <style>
        body {
            overflow-x: hidden;
            overflow-y: scroll;
            margin: 0;
        }

        /* preload */
        .preload {
            background-color: #1c1b1a;
            position: fixed;
            z-index: 500;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 0 10px;
        }
    </style>

    <!-- Get-Web Libs  -->
    <link rel="stylesheet" href="{{template}}/libs/fontello/css/gwi.css"/>
    <link rel="stylesheet" href="{{template}}/libs/fancybox/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="{{template}}/libs/swiper/css/swiper.min.css"/>
    <!-- Main styles -->
    <link rel="stylesheet" href="{{template}}/css/main.css?ver=0.0.1"/>
    <link rel="stylesheet" href="{{template}}/css/custom.css?ver=0.0.1"/>

</head>


<body class="body">
<div class="preload">
    <div class="preload__progress" data-preload-progress></div>
    <img src="{{template}}/images/preload/preload.png" alt="" class="preload__logo">
</div>


<!-- Video background -->
<div class="videobg">
    <div class="videobg__container">
        <video class="videobg__video" poster="{{template}}/images/videobg/video.jpg" width="100%" height="auto"
               no-controls autoplay loop playsinline muted>
            <source src="{{template}}/images/videobg/video.webm" type="video/webm" class="videobg__source">
            <source src="{{template}}/images/videobg/video.mp4" type="video/mp4" class="videobg__source">
        </video>
    </div>
</div>


<div class="page">
    <section class="section" data-section="navigation">
        <div class="container">
            <div class="row navigation">

                <a href="/" class="navigation__logo logo">
                    <img src="{{template}}/images/logo/logo.png" alt="logo"></a>


                <div class="navigation__menu menu" data-menu>
                    <div class="gw-burger menu__gw-burger">
                        <div class="gw-burger__line gw-burger__line_pos_top"></div>
                        <div class="gw-burger__line gw-burger__line_pos_middle"></div>
                        <div class="gw-burger__line gw-burger__line_pos_bottom"></div>
                    </div>
                    <ul class="menu__list">
                        <li class="menu__el">
                            <a href="#" class="menu__item">
                                <div class="menu__content">{{phrase("home")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="#" class="menu__item">
                                <div class="menu__content">{{phrase("about server")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="{{alias('registration_user')}}" data-open-window="reg" class="menu__item">
                                <div class="menu__content">{{phrase("registration")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="javascript:;" data-open-window="files" class="menu__item">
                                <div class="menu__content">{{phrase("files")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="/statistic/pvp" class="menu__item">
                                <div class="menu__content">{{phrase("statistic")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="#" class="menu__item">
                                <div class="menu__content">{{phrase("forum")}}</div>
                            </a>
                        </li>
                        <li class="menu__el">
                            <a href="{{alias('donate')}}" class="menu__item">
                                <div class="menu__content">{{phrase("donation")}}</div>
                            </a>
                        </li>
                    </ul> <!-- END menu__list -->
                </div>


                <a href="{{alias('main')}}" class="navigation__lbtn lbtn">
                    <div class="lbtn__content">- {{phrase("account")}} -</div>
                </a>

                <div class="navigation__language">
                    <div class="lang notranslate">

                        {#
                        Выводим список языков.

                        Если передать аргумент true (или ничего) в функцию lang_active(), тогда вернется массив данных,
                        с информацией о активном языке пользователя.

                        Пример возвращаемых данных функцией lang_active()
                        ["lang"]=> string(2) "en"
                        ["name"]=> string(7) "English"
                        ["isActive"]=> bool(true)

                        ======

                        Если передан аргумент false означает что мы будем выводить массив языков (по этому нужно использовать цикл),
                        без языка который у пользователя активный.

                        Пример возвращаемых данных функцией lang_active(false)
                        array(3) {
                        [1]=>
                        array(3) {
                        ["lang"]=>
                        string(2) "es"
                        ["name"]=>
                        string(8) "Español"
                        ["isActive"]=>
                        bool(false)
                        }
                        [2]=>
                        array(3) {
                        ["lang"]=>
                        string(2) "ge"
                        ["name"]=>
                        string(21) "ქართული"
                        ["isActive"]=>
                        bool(false)
                        }
                        [3]=>
                        array(3) {
                        ["lang"]=>
                        string(2) "ru"
                        ["name"]=>
                        string(14) "Русский"
                        ["isActive"]=>
                        bool(false)
                        }
                        }
                        #}

                        <div class="lang__link lang__link_select" data-lang-active="">
                            <img class="lang__img lang__img_select" src="{{template}}/images/lang/lang__{{lang_active().lang }}.png" alt="Ru">
                            <div class="lang__box">
                                <span class="lang__name lang__name_select">{{lang_active().lang }}</span>
                                <div class="lang__arrow"></div>
                            </div>
                        </div>

                        {% for lang in lang_active(false) %}
                        <div class="lang__list" data-lang-list="">
                            <a href="/user/change/lang/{{lang['lang'] }}" class="lang__link lang__link_sub">
                                <img class="lang__img" src="{{template}}/images/lang/lang__{{lang['lang'] }}.png" alt="English">
                                <span class="lang__name">{{lang['lang'] }}</span></a>
                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div> <!-- END  row -->
        </div> <!-- END  container -->
    </section> <!-- END  section -->


    <section class="section" data-section="header">
        <div class="container">
            <div class="row header">


            </div> <!-- END  row -->
        </div> <!-- END  container -->
    </section> <!-- END  section -->


    <section class="section" data-section="main">
        <div class="container">
            <main class="row main">
                <aside class="main__sidebar sidebar">
                    <div class="sidebar__servers servers">
                        <div class="heading">
                            <h3 class="title mt mb">{{phrase("our servers")|raw}}</h3>
                        </div>
                        <div class="servers__list">

                            {% for server in server_online_status() %}
                            <a href="#" class="servers__server server" data-gw-server>
                                <div class="server__container">
                                    <div class="server__row">
                                        <div class="server__title">
                                            {{server.name}} <span class="color-orange">x{{server.rate_exp}}</span> - {{server.chronicle}}
                                        </div>
                                        <div class="server__online">
                                            {% if server.connect_game %}Online{% else %}Offline{% endif %}: <span class="color-orange" data-server-percent>0</span><span
                                                class="color-orange">%</span>
                                        </div>
                                    </div>
                                    <div class="server__progress" data-gw-server-online="{{server.player_count_online}}"
                                         data-gw-server-online-max="{{server.player_count_online+150*2}}">
                                        <div class="server__load" data-server-load=""></div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}

                        </div>
                    </div> <!-- END  servers -->


                    <div class="sidebar__forum forum">
                        <div class="heading">
                            <h3 class="title mt mb">{{phrase("forum topics")|raw}}</h3>
                        </div>
                        <div class="forum__themes">

                            {% for thread in last_forum_thread(5) %}
                            <div class="theme">
                                <a href="#" class="theme__link"></a>
                                <div class="theme__img"></div>
                                <div class="theme__content">
                                    <div class="theme__title">
                                        {{thread.name}}
                                    </div>
                                    <div class="theme__info">
                                        <div class="theme__author-wrp">
                                            Автор: <span class="theme__author">{{thread.last_post_user_name}}</span>
                                        </div>
                                        <div class="theme__date">
                                            {{thread.date_update}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>


                    <div class="sidebar__st st">
                        <div class="heading">
                            <h3 class="title mt mb">{{phrase("rating of the best")|raw}}</h3>
                        </div>
                        <select autocomplete="off" class="st__select" data-tab-select data-tab-select-server>
                            {% for server in server_online_status() %}
                            <option data-open-tab-select="server-{{server.id}}" data-open-tab-group-select="rating">{{server.name}} x{{server.rate_exp}}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="st__content">

                            {% for server in server_online_status() %}
                            <div class="rating-container" style="display: none;" data-tab="server-{{server.id}}"
                                 data-tab-group="rating">
                                <div class="rating">

                                    <div class="rating__box">
                                        <div class="rating__type" style="display: none;" data-tab="server-{{server.id}}-clan"
                                             data-tab-group="server-{{server.id}}-type">
                                            <div class="rating__item">
                                                <div class="rating__col">
                                                    <div class="top">
                                                        <div class="top__rw top__header">
                                                            <div class="top__num">
                                                                <div class="top__content">№</div>
                                                            </div>
                                                            <div class="top__name">
                                                                <div class="top__content">{{phrase("clan")}}</div>
                                                            </div>
                                                            <div class="top__total">
                                                                <div class="top__content">{{phrase('points')}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="top__body" data-top-scroll>

                                                            {% for i, clan in statistic_get_clans(server.id, 10) %}
                                                            <div class="top__rw">
                                                                <div class="top__num">
                                                                    <div class="top__content">{{i+1}}</div>
                                                                </div>
                                                                <div class="top__name">
                                                                    <div class="top__content">
                                                                        {{clan_icon(clan)|raw}} {{clan.clan_name}}
                                                                    </div>
                                                                </div>
                                                                <div class="top__total">
                                                                    <div class="top__content">{{clan.reputation_score}}</div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="rating__type" style="display: none;" data-tab="server-{{server.id}}-pvp"
                                             data-tab-group="server-{{server.id}}-type">
                                            <div class="rating__item">
                                                <div class="rating__col">
                                                    <div class="top">
                                                        <div class="top__rw top__header">
                                                            <div class="top__num">
                                                                <div class="top__content">№</div>
                                                            </div>
                                                            <div class="top__name">
                                                                <div class="top__content">{{phrase("name")}}</div>
                                                            </div>
                                                            <div class="top__total">
                                                                <div class="top__content">PvP</div>
                                                            </div>
                                                        </div>
                                                        <div class="top__body" data-top-scroll>
                                                            {% for i, player in statistic_get_pvp(server.id, 10) %}
                                                            <div class="top__rw">
                                                                <div class="top__num">
                                                                    <div class="top__content">{{i+1}}</div>
                                                                </div>
                                                                <div class="top__name">
                                                                    <div class="top__content">
                                                                        {{clan_icon(player)|raw}} {{player.player_name}}
                                                                    </div>
                                                                </div>
                                                                <div class="top__total">
                                                                    <div class="top__content">{{player.pvp}}</div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div> <!-- END  top  -->
                                                </div> <!-- END  rating__col  -->
                                            </div> <!-- END  rating__item  -->
                                        </div>

                                        <div class="rating__type" style="display: none;" data-tab="server-{{server.id}}-pk"
                                             data-tab-group="server-{{server.id}}-type">
                                            <div class="rating__item">
                                                <div class="rating__col">
                                                    <div class="top">
                                                        <div class="top__rw top__header">
                                                            <div class="top__num">
                                                                <div class="top__content">№</div>
                                                            </div>
                                                            <div class="top__name">
                                                                <div class="top__content">{{phrase("name")}}</div>
                                                            </div>
                                                            <div class="top__total">
                                                                <div class="top__content">PK</div>
                                                            </div>
                                                        </div>
                                                        <div class="top__body" data-top-scroll>

                                                            {% for i, player in statistic_get_pk(server.id, 10) %}
                                                            <div class="top__rw">
                                                                <div class="top__num">
                                                                    <div class="top__content">{{i+1}}</div>
                                                                </div>
                                                                <div class="top__name">
                                                                    <div class="top__content">
                                                                        {{clan_icon(player)|raw}} {{player.player_name}}
                                                                    </div>
                                                                </div>
                                                                <div class="top__total">
                                                                    <div class="top__content">{{player.pk}}</div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                        </div>
                                                    </div> <!-- END  top  -->
                                                </div> <!-- END  rating__col  -->
                                            </div>
                                        </div>

                                    </div>


                                    <div class="rating__btns">
                                        <div class="rating__btn" data-rating-select data-open-tab="server-{{server.id}}-clan"
                                             data-open-tab-group="server-{{server.id}}-type">{{phrase("clan")}}
                                        </div>
                                        <div class="rating__btn" data-rating-select data-open-tab="server-{{server.id}}-pvp"
                                             data-open-tab-group="server-{{server.id}}-type">PVP
                                        </div>
                                        <div class="rating__btn" data-rating-select data-open-tab="server-{{server.id}}-pk"
                                             data-open-tab-group="server-{{server.id}}-type">PK
                                        </div>
                                    </div> <!-- END  rating__btns  -->

                                </div> <!-- END  rating  -->
                            </div> <!-- END  rating-container  -->
                            {% endfor %}
                        </div> <!-- END tab__content -->
                    </div> <!-- END tab__box -->

                </aside>

                <div class="main__content content">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <!-- END  main -->
        </div>
        <!-- END  container -->
    </section>
    <!-- END  section -->

    <div class="section" data-section="footer">
        <div class="container">
            <div class="row footer">
                <div class="footer__navigation">
                    <div class="footer__site">
                        <a href="/" class="footer__logo"><img src="{{template}}/images/footer/logo.png" alt="logo"/></a>
                        <div class="footer__heading heading">
                            <h3 class="footer__title title">
                                Free server <span class="color-orange">Lineage 2</span>
                            </h3>
                        </div>
                        <div class="footer__desc">
                            {{phrase("bayka")}}
                        </div>

                        <div class="footer__contacts">
                            <div class="scl">
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_youtube-play"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_vkontakte"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_paper-plane"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_facebook"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_discord"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_skype"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_twitter"></span>
                                </a>
                                <a href="#" class="scl__item">
                                    <span class="gwi gwi_mail-alt"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="footer__fnav fnav">
                        <div class="fnav__box">
                            <div class="fnav__header">
                                <div class="fnav__title">{{phrase("about server")}}</div>
                            </div>
                            <ul class="fnav__list">
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("servers")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="javascript:;" data-open-window="files" class="fnav__link">{{phrase("files")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="javascript:;" data-open-window="reg" class="fnav__link">{{phrase("registration")}}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END  fnav__box -->
                        <div class="fnav__box">
                            <div class="fnav__header">
                                <div class="fnav__title">{{phrase("information")}}</div>
                            </div>
                            <ul class="fnav__list">
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("account")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("forum")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("statistic")}}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END  fnav__box -->
                        <div class="fnav__box">
                            <div class="fnav__header">
                                <div class="fnav__title">{{phrase("account")}}</div>
                            </div>
                            <ul class="fnav__list">
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("account")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("forum")}}</a>
                                </li>
                                <li class="fnav__el">
                                    <a href="#" class="fnav__link">{{phrase("statistic")}}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END  fnav__box -->
                    </div>
                    <!-- END  fnav -->
                </div>
                <!-- END  footer__navigation -->
                <div class="footer__bnrs">
                    <a href="https://get-web.site" target="_blank" class="bnr">
                        <img src="{{template}}/images/get-web-logo.png" alt="Front-End: Get-Web.Site" height="38"/>
                    </a>

                    <a href="https://tplbox.store" target="_blank" class="bnr">
                        <img src="{{template}}/images/tplbox.store-logo.png" alt="Website Templates : tplbox.store"
                             height="38"/>
                    </a>
                </div>
            </div>
            <!-- END  row -->
        </div>
        <!-- END  container -->
    </div>
    <!-- END  section -->

</div>
<!-- END page -->

<!-- files START -->
<div style="display: none;">
    <div class="ww ww_animated" id="files">
        <div class="ww__close" data-fancybox-close></div>
        <div class="ww__inner">
            <div class="ww__body">
                <div class="ww__head">
                    <div class="title title_mb_small">Подключение <span class="color-orange">к серверу</span></div>
                    <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit incidunt accusantium
                        asperiores reprehenderit.
                    </div>
                </div>
                <div class="ww__content">
                    <div class="m-heading mt mb">
                        <div class="m-heading__title">1. Скачайте и установите клиент/патч</div>
                    </div>

                    <div class="files">
                        <div class="files__list">
                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Клиент Lineage 2 interlude</div>
                                    <div class="files__desc">Размер: 4.7 Gb</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта">
                                            </div>
                                            <div class="dlink__tx">
                                                С сайта
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png"
                                                     alt="Google Drive">
                                            </div>
                                            <div class="dlink__tx">
                                                Google Drive
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png"
                                                     alt="Ya. Disk">
                                            </div>
                                            <div class="dlink__tx">
                                                Ya. Disk
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host">
                                            </div>
                                            <div class="dlink__tx">
                                                RG-Host
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent">
                                            </div>
                                            <div class="dlink__tx">
                                                Torrent
                                            </div>
                                        </a>
                                    </div> <!-- END download-list -->
                                </div>
                            </div>

                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Патч для игры</div>
                                    <div class="files__desc">Размер: 365 MB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта">
                                            </div>
                                            <div class="dlink__tx">
                                                С сайта
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png"
                                                     alt="Google Drive">
                                            </div>
                                            <div class="dlink__tx">
                                                Google Drive
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png"
                                                     alt="Ya. Disk">
                                            </div>
                                            <div class="dlink__tx">
                                                Ya. Disk
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host">
                                            </div>
                                            <div class="dlink__tx">
                                                RG-Host
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent">
                                            </div>
                                            <div class="dlink__tx">
                                                Torrent
                                            </div>
                                        </a>
                                    </div> <!-- END download-list -->
                                </div>
                            </div>

                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">Апдейтер</div>
                                    <div class="files__desc">Размер: 11 MB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>Скачать
                                    <div class="download-list" data-tip-content>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="С сайта">
                                            </div>
                                            <div class="dlink__tx">
                                                С сайта
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png"
                                                     alt="Google Drive">
                                            </div>
                                            <div class="dlink__tx">
                                                Google Drive
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png"
                                                     alt="Ya. Disk">
                                            </div>
                                            <div class="dlink__tx">
                                                Ya. Disk
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="RG-Host">
                                            </div>
                                            <div class="dlink__tx">
                                                RG-Host
                                            </div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent">
                                            </div>
                                            <div class="dlink__tx">
                                                Torrent
                                            </div>
                                        </a>
                                    </div> <!-- END download-list -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ww__alert alert">
                        <div class="alert__pic alert__pic_mr"><img src="{{template}}/images/icons/alerts/danger.svg"
                                                                   alt="i" class="alert__img">
                        </div>
                        <div class="alert__content">ОБРАТИТЕ ВНИМАНИЕ! <br>
                            Перед установкой патча обязательно удалите папку system
                        </div>
                    </div>

                    <div class="m-heading mt mb">
                        <div class="m-heading__title">2. Создайте аккаунт</div>
                    </div>
                    <div class="ww__btns">
                        <a href="javascript:;" data-open-window="reg" class="btn">
                            <div class="btn__content">Регистрация</div>
                        </a>
                    </div>

                </div>
            </div> <!-- END  ww__body -->
        </div> <!-- END  ww__inner -->
    </div> <!-- END  ww -->
</div>
<!-- files END -->


<!-- files START -->
<div style="display: none;">
    <div class="ww ww_animated" id="reg">
        <div class="ww__close" data-fancybox-close></div>
        <div class="ww__inner">
            <div class="ww__body">
                <div class="ww__head">
                    <div class="title title_mb_small">Создайте <span class="color-orange">аккаунт</span></div>
                    <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit incidunt accusantium
                        asperiores reprehenderit.
                    </div>
                </div>
                <div class="ww__content reg">
                    <div class="reg__rg rg">
                        <form action="/input" class="rg__form" id="form_signup">

                            <input type="hidden" name="module_form" value="Modules\Globals\SignUp\SignUp">
                            <input type="hidden" name="module" value="signup">
                            <input id="type_reg" name="type_reg" type="hidden" value="#r-email">

                            <!-- END  method -->

                            <div class="field field_mb field_radius_small">
                                <select id="method" name="method" class="selection selection_radius_small">
                                    <option value="r-email">Почта</option>
                                    <option value="r-phone">Телефон</option>
                                </select>
                            </div>

                            <div class="field field_mb field_radius_small">
                                <select class="field__prefix" data-toggle="tooltip" data-placement="top" name="prefix"
                                        title="Префикс: Он будет добавлен к вашему логину.">
                                    <option value="MB_" selected>MB_</option>
                                    <option value="MD_">MD_</option>
                                    <option value="SH_">SH_</option>
                                    <option value="EO_">EO_</option>
                                    <option value="YF_">YF_</option>
                                    <option value="IE_">IE_</option>
                                </select>
                                <button type="button" class="submit-btn field__refresh" title="Refresh prefix"
                                        data-post="refresh=prefix" data-action="/prefix/refresh">
                                </button>
                                <input type="text" id="t-signup-login" name="login" placeholder="Логин"
                                       autocomplete="off" class="field__input">

                            </div>

                            <div class="field field_mb field_radius_small">
                                <input type="password" id="t-signup-password" name="password" placeholder="Пароль"
                                       autocomplete="off" class="field__input">
                            </div>

                            <div class="field field_mb field_radius_small" data-tab="r-email" data-tab-group="r-type"
                                 style="display: none;">
                                <input type="email" id="signup-email" name="email" placeholder="Электронная почта"
                                       autocomplete="off" class="field__input">
                            </div>

                            <div data-tab="r-phone" data-tab-group="r-type" style="display: none;">
                                <div class="field field_radius_small">
                                    <input type="text" id="phone_code" name="phone_code" placeholder="Телефон"
                                           autocomplete="off" class="field__input">
                                </div>
                                <div class="msg">На указанный вами телефон будет отправлено смс с кодом!
                                </div>
                                <div class="field field_mb field_radius_small">
                                    <button type="button" class="field__send-sms send-sms">Получить код</button>
                                    <input type="text" id="t-signup-sms-cod" name="sms_cod" placeholder="Код из SMS"
                                           autocomplete="off" class="field__input">
                                </div>
                                <span class="minsw mb" data-open-tab="btn-show" data-open-tab-group="email"
                                      data-tab="btn-hide" data-tab-group="email" style="display: none;">Скрыть email
                                    </span>
                                <span class="minsw mb" data-open-tab="email|btn-hide" data-open-tab-group="email"
                                      data-tab="btn-show" data-tab-group="email">Добавить
                                        email</span>
                                <div class="field field_mb" data-tab="email" data-tab-group="email"
                                     style="display: none;">
                                    <input type="email" class="field__input" id="signup-email-phone" name="email-phone"
                                           placeholder="Электронная почта">
                                </div>
                            </div>

                            <div class="field field_mb field_radius_small">
                                <select id="t-signup-question" name="question" class="selection selection_radius_small">
                                    <option value="dog">Как зовут собаку вашей бабушки?</option>
                                    <option value="cat">Кличка вашего будущего кота</option>
                                </select>
                            </div>

                            <div class="field field_mb field_radius_small">
                                <input type="text" id="t-signup-answer" name="answer" placeholder="Ответ"
                                       autocomplete="off" class="field__input">
                            </div>

                            <div class="checkbox mt mb">
                                <label class="checkbox__label">
                                    <input type="checkbox" class="checkbox__input" id="signup-terms" name="terms"/>
                                    <span class="checkbox__block"></span>
                                </label>
                                <div>
                                    Я соглсен с <a href="#" target="_blank" class="color-orange">правилами
                                    сервера</a>
                                </div>
                            </div>
                            <div class="checkbox mb">
                                <label class="checkbox__label">
                                    <input type="checkbox" class="checkbox__input" id="signup-subscribe"
                                           name="subscribe"/>
                                    <span class="checkbox__block"></span>
                                </label>
                                <div>
                                    Получать информацию о акциях проекта
                                </div>
                            </div>

                            <div class="rg__btns">
                                <a href="#" class="btn">
                                    <div class="btn__content">Зарегистрироваться</div>
                                </a>
                            </div>

                        </form>
                    </div>
                </div> <!-- END  ww__content -->
            </div> <!-- END  ww__body -->
        </div> <!-- END  ww__inner -->
    </div> <!-- END  ww -->
</div>
<!-- files END -->


<!-- Get-Web Libs  -->
<script src="{{template}}/libs/jquery/jquery-3.4.1.min.js"></script>
<script src="{{template}}/libs/fancybox/js/jquery.fancybox.js"></script>
<script src="{{template}}/libs/swiper/js/swiper.min.js"></script>
<script src="{{template}}/libs/insertmedia/js/insertmedia.min.js"></script>
<script src="{{template}}/libs/tippy/js/popper.min.js"></script>
<script src="{{template}}/libs/tippy/js/tippy-bundle.iife.min.js"></script>
<script src="{{template}}/libs/anime/anime.min.js"></script>
<!-- Main app -->
<script src="{{template}}/js/app.js?ver=0.0.1"></script>

</body>

</html>

<!--
Copyright © SphereWeb
Design: Vitalii P. |  Get-Web.Site
Front-End Developer: Vitalii P.
Back-end developer: Logan22
 -->