{% extends 'basic/base.html' %}

{% block title %}{{phrase(355)}}{% endblock %}

{% block content %}
<div class="content">

<div class="row">
    <div class="col-lg-12">
        <!-- Block Tabs Animated Slide Up -->
        <div class="block block-rounded overflow-hidden">
            <ul class="nav nav-tabs nav-tabs-block" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="btabs-animated-slideup-home-tab" data-bs-toggle="tab" data-bs-target="#btabs-animated-slideup-home" role="tab" aria-controls="btabs-animated-slideup-home" aria-selected="false" tabindex="-1">{{phrase(350)}}</button>
                </li>

                {% if user_info('get_is_auth') %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ticket_create-tab" data-bs-toggle="tab" data-bs-target="#ticket_create" role="tab" aria-controls="btabs-animated-slideup-profile" aria-selected="true">
                        {{phrase(365)}}</button>
                </li>
                {% endif %}

            </ul>
            <div class="block-content tab-content overflow-hidden">
                <div class="tab-pane fade fade-up active show" id="btabs-animated-slideup-home" role="tabpanel" aria-labelledby="btabs-animated-slideup-home-tab" tabindex="0">

                    <div class="block block-rounded">
                            <table class="table table-sm table-vcenter">
                                {% for ticket in tickets %}
                                <tr>
                                    <td style="width: 50px;">
                                        {% if ticket.close %}<span class="badge bg-info">{{phrase(360)}}</span>{% endif %}
                                    </td>
                                    <td> {% if ticket.private == true and ticket.user_id != user_info('get_id') and user_info('get_access_level')!="admin" %}
                                        {{phrase("hide_private")}}
                                        {% else %}
                                        <a href="{{action('get_ticket', [ticket.id])}}" class="ajaxload">{{ ticket.content }}</a>
                                        {% endif %}
                                    </td>

                                    <td class="text-center">
                                        {{ timezone(ticket.date|date("H:i d.m.Y")) }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>

                </div>
                {% if user_info('get_is_auth') %}

                <div class="tab-pane fade fade-up" id="ticket_create" role="tabpanel" aria-labelledby="ticket_create-tab" tabindex="0">
                        <form action="{{action('add_ticket')}}" method="POST" onsubmit="return false;" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="mb-4">
                                      <textarea class="form-control form-control-lg" name="content" placeholder="" rows="14"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-4">
                                        <div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input name="image_1" id="image_1" type="file" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input name="image_2" id="image_2" type="file" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input name="image_3" id="image_3" type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input checked type="checkbox" class="form-check-input" id="private" name="private" value="on">
                                        <label class="form-check-label" for="private">{{phrase(459)}}</label>
                                    </div>

                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="opacity-50 me-1"></i> {{phrase("create")}}
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}
