<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{template}}/css/style.css">
  <title>Gameserver</title>
</head>

<body class="page-body">

  <header class="page-header">
    <div class="container">
      <div class="page-header__image">
        <img src="{{template}}/img/bg-head-hero.png" alt="">
      </div>
      <div class="social-links">
        <a href="" class="social-link"><img class="social-link__img" width="35" height="35" src="{{template}}/img/discord.svg"
            alt=""></a>
        <a href="" class="social-link"><img class="social-link__img" width="35" height="35" src="{{template}}/img/youtube.svg"
            alt=""></a>
        <a href="" class="social-link"><img class="social-link__img" width="35" height="35" src="{{template}}/img/facebook.svg"
            alt=""></a>
        <a href="" class="social-link"><img class="social-link__img" width="35" height="35" src="{{template}}/img/vk.svg" alt=""></a>
      </div>
      <h1 class="visually-hidden">Gameserver</h1>
      <nav class="page-header__nav">
        <a class="page-header__logo-link" href="">
          <img class="page-header__logo" width="40" height="40" src="{{template}}/img/logo.svg" alt="Логотип Gameserver">
          <span class="page-header__logo-text gradient">Gameserver</span>
        </a>
        <ul class="page-header__nav-list list_none">
          <li class="page-header__nav-item"><a class="page-header__nav-link gradient" href="">Главная</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link gradient" href="">Форум</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link gradient" href="">О сервере</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link gradient" href="">Файлы</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link gradient" href="">Кабинет</a></li>
          <li class="page-header__nav-item mobileW"><a href="" class="page-header__nav-link page-header__nav-link--image"><img class="social-link__img" width="35" height="35" src="{{template}}/img/discord.svg"
              alt=""></a></li>
          <li class="page-header__nav-item mobileW"><a href="" class="page-header__nav-link page-header__nav-link--image"><img class="social-link__img" width="35" height="35" src="{{template}}/img/youtube.svg"
              alt=""></a></li>
          <li class="page-header__nav-item mobileW"><a href="" class="page-header__nav-link page-header__nav-link--image"><img class="social-link__img" width="35" height="35" src="{{template}}/img/facebook.svg"
              alt=""></a></li>
          <li class="page-header__nav-item mobileW"><a href="" class="page-header__nav-link page-header__nav-link--image"><img class="social-link__img" width="35" height="35" src="{{template}}/img/vk.svg"
              alt=""></a></li>
        </ul>
        <a class="page-header__button-menu"><span class="menu-span"></span></a>

      </nav>
      <div class="page-header__title">
        <p class="page-header__title-text gradient"><span class="page-header__title-span">Новый х1200<br></span>
          СТАРТ 20 ЯНВАРЯ в 19.00 по МСК.</p>
        <a href="" class="page-header__button-reg button">Создать аккаунт</a>
        <a href="" class="page-header__button-details button">Подробности</a>
      </div>
      <div class="page-header__servers">
        <div class="page-header__server server">
          <div class="server__info">
            <span class="server__title gradient">Ruoff x3</span>
            <p class="server__descr">Для ценителей настоящей классики. <br> Хардкор в полной реализации</p>
            <div class="server__online-bar">
              <div class="server__online-value"></div>
            </div>
            <span class="server__online">Online: 870</span>
          </div>
          <a href="" class="server__button-stat"><img width="25" height="25" src="{{template}}/img/bar-chart.svg" alt=""></a>
          <a href="" class="server__button-info"><img width="25" height="25" src="{{template}}/img/info-sign.svg" alt=""></a>
        </div>
        <div class="page-header__server server">
          <div class="server__info">
            <span class="server__title gradient">Ruoff x3</span>
            <p class="server__descr">Для ценителей настоящей классики. <br> Хардкор в полной реализации</p>
            <div class="server__online-bar">
              <div class="server__online-value"></div>
            </div>
            <span class="server__online">Online: 870</span>
          </div>
          <a href="" class="server__button-stat"> <img width="25" height="25" src="{{template}}/img/bar-chart.svg" alt=""> </a>
          <a href="" class="server__button-info"><img width="25" height="25" src="{{template}}/img/info-sign.svg" alt=""></a>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main">
    <div class="container">
      <div class="page-main__content">
        <section class="page-main__news news">
          <div class="news__top-line top-line">
            <h2 class="news__title h2 top-line__title gradient">Новости сервера</h2>
            <a href="" class="news__button-all button top-line__button">Все новости</a>
          </div>
          <ul class="news__list">
            <li>
              <a href="" class="news__item">
                <img class="news__image" width="200" height="160" src="{{template}}/img/maxresdefault.jpg" alt="">
                <div class="news__item-text">
                  <h3 class="news__item-title gradient h3">Обновления 10.01.2021</h3>
                  <p class="news__item-descr">Совсем новые обновления на сервере вступают в силу с 10.01.2021
                    Полное описание доступно ниже, ваши пожелания мы готовы выслушать
                    в комментариях под данной записью к новости
                  </p>
                  <div class="news__item-info">
                    <span class="news__item-author">Опубликовал: Administrator</span>
                    <date class="news__item-date" datetime="">Время: 10.01.2021 в 09:00</date>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="" class="news__item">
                <img class="news__image" width="200" height="160" src="{{template}}/img/maxresdefault.jpg" alt="">
                <div class="news__item-text">
                  <h3 class="news__item-title gradient h3">Обновления 10.01.2021</h3>
                  <p class="news__item-descr">Совсем новые обновления на сервере вступают в силу с 10.01.2021
                    Полное описание доступно ниже, ваши пожелания мы готовы выслушать
                    в комментариях под данной записью к новости
                  </p>
                  <div class="news__item-info">
                    <span class="news__item-author">Опубликовал: Administrator</span>
                    <date class="news__item-date" datetime="">Время: 10.01.2021 в 09:00</date>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="" class="news__item">
                <img class="news__image" width="200" height="160" src="{{template}}/img/maxresdefault.jpg" alt="">
                <div class="news__item-text">
                  <h3 class="news__item-title gradient h3">Обновления 10.01.2021</h3>
                  <p class="news__item-descr">Совсем новые обновления на сервере вступают в силу с 10.01.2021
                    Полное описание доступно ниже, ваши пожелания мы готовы выслушать
                    в комментариях под данной записью к новости
                  </p>
                  <div class="news__item-info">
                    <span class="news__item-author">Опубликовал: Administrator</span>
                    <date class="news__item-date" datetime="">Время: 10.01.2021 в 09:00</date>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </section>
        <section class="page-main__forum forum">
          <div class="forum__top-line top-line">
            <h2 class="forum__title h2 top-line__title gradient">Темы с форума</h2>
            <a href="" class="forum__button-all button top-line__button">Все сообщения</a>
          </div>
          <ul class="forum__list">
            <li class="forum__item">
              <a href="">
                <img class="forum__item-avatar" width="69" height="69" src="{{template}}/img/Ava.jpg" alt="">
                <div class="forum__item-text">
                  <span class="forum__item-title gradient h3">Админ, почини баг срочно бля</span>
                  <span class="forum__item-author">Автор: DrDre</span>
                  <date class="forum__item-date" datetime="">05.01.2021 в 12.45</date>
                </div>
              </a>
            </li>
            <li class="forum__item">
              <a href="">
                <img class="forum__item-avatar" width="69" height="69" src="{{template}}/img/Ava.jpg" alt="">
                <div class="forum__item-text">
                  <span class="forum__item-title gradient h3">Админ, почини баг срочно бля</span>
                  <span class="forum__item-author">Автор: DrDre</span>
                  <date class="forum__item-date" datetime="">05.01.2021 в 12.45</date>
                </div>
              </a>
            </li>
            <li class="forum__item">
              <a href="">
                <img class="forum__item-avatar" width="69" height="69" src="{{template}}/img/Ava.jpg" alt="">
                <div class="forum__item-text">
                  <span class="forum__item-title gradient h3">Админ, почини баг срочно бля</span>
                  <span class="forum__item-author">Автор: DrDre</span>
                  <date class="forum__item-date" datetime="">05.01.2021 в 12.45</date>
                </div>
              </a>
            </li>
            <li class="forum__item">
              <a href="">
                <img class="forum__item-avatar" width="69" height="69" src="{{template}}/img/Ava.jpg" alt="">
                <div class="forum__item-text">
                  <span class="forum__item-title gradient h3">Админ, почини баг срочно бля</span>
                  <span class="forum__item-author">Автор: DrDre</span>
                  <date class="forum__item-date" datetime="">05.01.2021 в 12.45</date>
                </div>
              </a>
            </li>
            <li class="forum__item">
              <a href="">
                <img class="forum__item-avatar" width="69" height="69" src="{{template}}/img/Ava.jpg" alt="">
                <div class="forum__item-text">
                  <span class="forum__item-title gradient h3">Админ, почини баг срочно бля</span>
                  <span class="forum__item-author">Автор: DrDre</span>
                  <date class="forum__item-date" datetime="">05.01.2021 в 12.45</date>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <section class="page-main__top-players top-players">
      <div class="container">
        <h2 class="top-players__title h2 gradient">Топы игроков</h2>
        <div class="top-players__image">
          <img src="{{template}}/img/bg-top-hero.png" alt="">
        </div>
        <div class="top-players__wrapper">
          <div class="top-players__table">
            <div class="top-players__server-name top-players__stat ">x3</div>
            <button class="top-players__stat-pvp top-players__stat top-players__stat_active" type="button">pvp</button>
            <button class="top-players__stat-pk top-players__stat" type="button">pk</button>
            <ul class="top-players__list top-players__list-pvp top-players__list_active">
              <li class="top-players__item">
                <span class="top-players__item-number">1.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">2.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">3.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">4.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">5.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">6.</span>
                <span class="top-players__item-name">Katsdsdsdsdsdssdsdssde</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">7.</span>
                <span class="top-players__item-name">Hiu</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">8.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">9.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">10.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
            </ul>
            <ul class="top-players__list top-players__list-pk">
              <li class="top-players__item">
                <span class="top-players__item-number">1.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">2.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">3.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">4.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">5.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">6.</span>
                <span class="top-players__item-name">Katsdsdsdsdsdssdsdssde</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">7.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">8.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">9.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">10.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
            </ul>
          </div>
          <div class="top-players__table">
            <div class="top-players__server-name top-players__stat">x3</div>
            <button class="top-players__stat-pvp top-players__stat top-players__stat_active" type="button">pvp</button>
            <button class="top-players__stat-pk top-players__stat" type="button">pk</button>
            <ul class="top-players__list top-players__list-pvp top-players__list_active">
              <li class="top-players__item">
                <span class="top-players__item-number">1.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">2.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">3.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">4.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">5.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">6.</span>
                <span class="top-players__item-name">Katsdsdsdsdsdssdsdssde</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">7.</span>
                <span class="top-players__item-name">Hiu</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">8.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">9.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">10.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
            </ul>
            <ul class="top-players__list top-players__list-pk">
              <li class="top-players__item">
                <span class="top-players__item-number">1.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">2.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">3.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">4.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">5.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">6.</span>
                <span class="top-players__item-name">Katsdsdsdsdsdssdsdssde</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">7.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">8.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">9.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
              <li class="top-players__item">
                <span class="top-players__item-number">10.</span>
                <span class="top-players__item-name">Kate</span>
                <span class="top-players__item-count">12436</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer footer">
    <div class="container">
      <div class="footer__copyright">
        <div class="footer__logo">
          <img class="footer__logo-image" src="{{template}}//img/logo-footer.svg" width="40" height="40" alt="">
          <span class="footer__logo-text">Gameserver</span>
        </div>
        <p class="footer__copyright-text">Играйте в лучшую MMORPG 2008г. Все права защищены компанией НКСОФТ</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Главная</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Форум</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">О сервере</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Поддержка</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Кабинет</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Файлы</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Донат</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Wiki</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Тикеты</a></li>
        </ul>
      </nav>
      <ul class="footer__banners-list">
        <li class="footer__banners-item"></li>
        <li class="footer__banners-item"></li>
        <li class="footer__banners-item"></li>
        <li class="footer__banners-item"></li>
      </ul>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="{{template}}/js/js.js"></script>
</body>

</html>