{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-uppercase">{{phrase(273)}}</div>
      <div class="card-body">
        <div class="row">

          {% for avatar in avatars %}
          <div class="col-md-6 col-lg-2 col-xl-2">
              <img src="/src/template/cabinet/assets/images/navatarback/{{avatar}}" data-avatar="{{avatar }}" style="cursor: pointer;" class="lightbox-thumb img-thumbnail change_background">
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div><!--End Row-->
{% endblock %}

{% block js %}
<script src="{{'assets/js/user/change_avatar.js'|template}}"></script>
{% endblock %}