{% extends 'base.html' %}

{% block content %}
<div class="row" style="height: 450px;">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-uppercase">Загрузить скриншоты</div>
            <div class="card-body">
                <form class="dropzone dz-clickable" id="dropzone">
                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block css_ol_1 %}
<link href="{{'assets/plugins/dropzone/css/dropzone.css'|template}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="{{'assets/plugins/dropzone/js/dropzone.js'|template}}"></script>
<script>
    Dropzone.autoDiscover = false;
    $(".dropzone").dropzone({
        dataType: "json",
        type: "POST",
        maxFiles:  {{ allow_count_user_screenshot }},
        encode: true,
        url: "/gallery/screenshot/load",
        init: function () {
            var myDropzone = this;
            myDropzone.processQueue();
        },
        success: function (s, response) {
            console.log(response)
            // this.removeFile(file);
            if (response.ok == false) {
                error_noti(response.message)
                return;
            }
        }
    });

    function error_noti(msg) {
        Lobibox.notify('error', {
            pauseDelayOnHover: true,
            continueDelayOnInactiveTab: false,
            position: 'top right',
            icon: 'fa fa-exclamation-circle',
            msg: msg
        });
    }

</script>
{% endblock %}