{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="col-12 col-lg-12 col-xl-12">
	
	
     <div class="card-header">Каналы
			<div class="card-action">
				<a href="/channel/create">Создать канал</a>
             </div>
	 </div>
	 
           <ul class="list-group list-group-flush">
		   
			{% for channel in channel_list %}
              <li class="list-group-item">
                <div class="media align-items-center">
                  <img src="/uploads/user/avatar/{{ channel.author_id }}.jpg" alt="user avatar" class="customer-img rounded-circle">
                <div class="media-body ml-3">
                  <h6 class="mb-0"><a href="#">{{ channel.author_name }}</a>: <a href="/channel/{{channel.id}}">{{ channel.name }}</a></h6>
                  <p class="mb-0 small-font"><a href="#">{{ channel.last_message_user_name }}</a>: <a href="/channel/{{channel.id}}/{{channel.last_message_id}}">{{ channel.last_message }}</a></p>
                </div>
                <div class="star">
					<div class="row m-0 row-group text-center  border-light-3">
					   <img src="/uploads/user/avatar/{{ channel.last_message_user_id }}.jpg" alt="user avatar" class="customer-img rounded-circle"/>
					   <div class="media align-items-center">
							<div class="media-body ml-3">
							  <h6 class="mb-0">от <a href="#">{{ channel.last_message_user_name }}</a></h6>
							  <p class="mb-0 small-font">5 мин назад</p>
							</div>
						</div>
                 </div> 
              </div>
              </div>
              </li>
              {% endfor %}
			     
            </ul>
          </div>
	</div>

     


	
	
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}