{% extends 'base.html' %}

{% block content %}
 
		<div class="card">
		<div class="card-body">
		<h5>Создание канала</h5>
		 
		<hr>
        <div class="row">
            <div class="col-lg-3 col-md-4">
				<div class="card profile-card-4">
					 <div class="">
						<img class="lightbox-thumb img-thumbnail" src="/uploads/user/avatar/{{ user_info('get_id') }}.jpg" alt="user avatar">
					 </div>
					 <div class="pt-0">
						<h5 class="text-center">
							<span class="badge badge-{% if user_info('get_access_level') == 'admin' %}danger{% elseif user_info('get_access_level') == 'moderator' %}success{%else%}light{% endif %}">{{ user_info('get_name') }}</span>
						</h5>
					 </div>
				</div>
           </div>
         <div class="col-lg-9 col-md-8">
            <div class="card shadow-none">
                  <form method="POST">
				    <div class="form-group">
                     <textarea class="form-control" rows="5" placeholder="Reply here..."></textarea>
					</div>
					<div class="text-right">
                      <button type="submit" class="btn btn-primary waves-effect waves-light mt-3"><i class="fa fa-send mr-1"></i> Send</button>
                  </div>
                  </form>
				  
            </div>
	     </div>
        </div>
        </div> <!-- end Col-9 -->
        </div> <!-- end Col-9 -->
       
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}