/* imports */
/* -------------------------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: Exo Thin;
	src: url(../fonts/Exo-Thin.ttf);
}

@font-face {
	font-family: Exo Medium;
	src: url(../fonts/Exo-Medium.ttf);
}

@font-face {
	font-family: Exo Bold;
	src: url(../fonts/Exo-Bold.ttf);
}

@font-face {
	font-family: Alice Regular;
	src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
	font-family: Montserrat Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

/* settings */
/* -------------------------------------------------------------------------------------------------------------------- */

html, body, header, nav, section, aside, article, footer, div,
span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small,
strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: Montserrat Regular;
	color: #fff;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #fff;
}

/* inputs */
/* -------------------------------------------------------------------------------------------------------------------- */

input, button, select, textarea {outline:none;border: none;}
select, button{cursor: pointer;}

::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;color: #fff;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;color: #fff;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;color: #fff;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;color: #fff;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;color: #fff;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;color: #fff;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;color: #fff;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;color: #fff;}

/* flex */
/* -------------------------------------------------------------------------------------------------------------------- */

.flex-sbc{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.flex-sbs{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;}
.flex-sbe{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-end;}

.flex-cc{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.flex-cs{display: flex;flex-wrap: wrap;justify-content: center;align-items: flex-start;}
.flex-ce{display: flex;flex-wrap: wrap;justify-content: center;align-items: flex-end;}

.flex-sc{display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: center;}
.flex-ss{display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;}
.flex-se{display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: flex-end;}

.flex-ec{display: flex;flex-wrap: wrap;justify-content: flex-end;align-items: center;}
.flex-es{display: flex;flex-wrap: wrap;justify-content: flex-end;align-items: flex-start;}
.flex-ee{display: flex;flex-wrap: wrap;justify-content: flex-end;align-items: flex-end;}

/* structure */
/* -------------------------------------------------------------------------------------------------------------------- */

body{
	background: #1e1915;
	max-width: 1920px;
	min-width: 1260px;
}

.wrapper{
	width: 100%;
	max-width: 1920px;
	min-width: 1260px;
	position: relative;
	margin: 0 auto;
	background: url(../images/bg/bg.jpg) top center no-repeat;
	overflow: hidden;
	z-index: 1;
}

.wrapper.cp-wrapepr{
	width: 100%;
	max-width: 1920px;
	min-width: 1260px;
	position: relative;
	margin: 0 auto;
	background: url(../images/bg/cp_bg.jpg) top center no-repeat !important;
	min-height: 100vh;
	padding-bottom: 100px;
}

header{
	width: 1200px;
	height: 547px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

header.cp_header{
	height: auto !important;
}

.video_bg{
	width: 100%;
	height: 668px;
	position: absolute;
	z-index: 0;
	pointer-events: none;
	top: 0px;
	left: 0px;
	/*[<1300|display: none;]*/
}

.video_bg:after{
	content: '';
	width: 100%;
	height: 246px;
	background: url(../images/bg/video_bottom.png) top center no-repeat;
	position: absolute;
	bottom: -123px;
	left: 0px;
	z-index: 2;
}

.video_bg > .video{
	width: 1920px;
	position: absolute;
	left: calc( ( 100% - 1920px ) / 2 );
	z-index: 1;
}

/* navigation */
/* -------------------------------------------------------------------------------------------------------------------- */

nav{
	width: 100%;
	height: 85px;
}

nav .nav-link{
	width: auto;
	cursor: pointer;
}

nav .nav-link:hover .nav-link__icon{
	transform: rotate(360deg);
}

nav .nav-link:hover .nav-link__info .nav-link__info__name{
	color: #ffea00;
}

nav .nav-link:hover .nav-link__info .nav-link__info__desc{
	color: #fff;
}

nav .nav-link .nav-link__icon{
	width: 49px;
	height: 49px;
	transition: all .5s ease-in-out;
}

nav .nav-link .nav-link__info{
	width: calc( 100% - 49px - 14px );
	margin-left: 14px;
}

nav .nav-link .nav-link__info .nav-link__info__name{
	font-family: Alice Regular;
	font-size: 16px;
	color: #eaab03;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
	transition: all .3s ease-in-out;
}

nav .nav-link .nav-link__info .nav-link__info__desc{
	font-family: Montserrat Regular;
	font-size: 12px;
	color: #b4adad;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
	transition: all .3s ease-in-out;
}

/* nav lang switch */

nav .lang-switch{
	width: 56px;
	height: 58px;
	margin-top: 4px;
	cursor: pointer;
	position: relative;
	padding-top: 58px;
}

nav .lang-switch .lang-switch__items:hover .lang-switch__items__lang{
	opacity: 1 !important;
	pointer-events: auto;
}

nav .lang-switch .lang-switch__items{
	width: 100%;
	height: 58px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/icons/lang_bg.png) top center no-repeat;
}

nav .lang-switch .lang-switch__items > .active{
	width: 100% !important;
	height: 58px !important;
	padding: 0px !important;
	padding-bottom: 8px !important;
	pointer-events: none;
	background: none !important;
	border: none !important;
	order: -1;
	opacity: 1 !important;
}

nav .lang-switch .lang-switch__items > .active > img{
	width: auto !important;
	transform: rotate(-10deg);
	box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

nav .lang-switch .lang-switch__items .lang-switch__items__lang{
	width: 38px;
	height: 38px;
	background: #27160d;
	border-radius: 50%;
	position: relative;
	border: 1px solid #b5a075;
	opacity: 0;
	transition: all .3s ease-in-out;
	pointer-events: none;
}

nav .lang-switch .lang-switch__items .lang-switch__items__lang:hover{
	filter: brightness(180%);
}

nav .lang-switch .lang-switch__items .lang-switch__items__lang:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

nav .lang-switch .lang-switch__items .lang-switch__items__lang img{
	width: 20px;
	box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

/* header content */
/* -------------------------------------------------------------------------------------------------------------------- */

.header-content{
	width: 100%;
	height: calc( 100% - 85px );
}

.header-content .header-content__right{
	width: 360px;
	height: 100%;
}

.header-content .header-content__left{
	width: 360px;
	height: 100%;
}

.header-content .header-content__center{
	width: calc( 100% - 360px - 360px );
	height: 100%;
}

.timer{
	width: 100%;
	margin-top: 40px;
}

.timer .timer__title{
	width: 100%;
	font-family: Exo Bold;
	font-size: 16px;
	color: #fdce11;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.timer .timer__desc{
	width: 100%;
	font-family: Exo Medium;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.timer .timer__time{
	width: 310px;
	height: 65px;
	margin: 0 auto;
	margin-top: 33px;
	position: relative;
	color: #a19d9d;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.timer .timer__time .timer__time__number{
	width: 70px;
	text-align: center;
	font-family: Exo Bold;
	font-size: 36px;
	color: #fdce11;
	position: relative;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	margin-bottom: auto;
}

.timer .timer__time .timer__time__separator{
	width: 10px;
	text-align: center;
	font-family: Exo Bold;
	font-size: 36px;
	color: #807267;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	margin-bottom: auto;
}

.timer .timer__time .timer__time__number:after{
	position: absolute;
	text-align: center;
	font-family: Exo Medium;
	font-size: 14px;
	color: #a19d9d;
	display: block;
	width: 100%;
	top: 100%;
	left: 0px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.timer .timer__time.ru .timer__time__number:nth-child(1):after{content: 'дней';}
.timer .timer__time.ru .timer__time__number:nth-child(3):after{content: 'часов';}
.timer .timer__time.ru .timer__time__number:nth-child(5):after{content: 'минут';}
.timer .timer__time.ru .timer__time__number:nth-child(7):after{content: 'секунд';}

.timer .timer__time.en .timer__time__number:nth-child(1):after{content: 'days';}
.timer .timer__time.en .timer__time__number:nth-child(3):after{content: 'hours';}
.timer .timer__time.en .timer__time__number:nth-child(5):after{content: 'minutes';}
.timer .timer__time.en .timer__time__number:nth-child(7):after{content: 'seconds';}

.timer .timer__time .timer__time__end{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Exo Bold;
	color: #fdce11;
	font-size: 28px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.stream{
	width: 180px;
	height: 180px;
	background: url(../images/bg/stream_bg.png) top center no-repeat;
	margin: 0 auto;
	margin-top: 98px;
	transform: translateX(-5px);
}

.stream .stream__play{
	width: 46px;
	height: 46px;
	background: url(../images/icons/play_icon.png) top center no-repeat;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

.stream .stream__play:hover{
	transform: scale(1.2,1.2) rotate(360deg);
}

.logo{
	display: block;
	width: 250px;
	height: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: 100px;
}

.logo:hover img{
	filter: brightness(180%);
}

.logo > img{
	width: 315px;
	height: 341px;
	position: absolute;
	top: -55px;
	left: calc( 50% - 157.5px );
	pointer-events: none;
	transition: all .3s ease-in-out;
}

.servers{
	width: 100%;
	margin-top: 78px;
}

.servers .servers__server{
	width: 114px;
	height: 114px;
	position: relative;
	background: #000;
	border-radius: 50%;
	margin: 0px 47px;
	transform: translateX(-5px);
	cursor: pointer;
}

.servers .servers__server:after{
	content: '';
	width: 251px;
	height: 198px;
	position: absolute;
	top: -19px;
	pointer-events: none;
	background: url(../images/bg/server_bg.png) top center no-repeat;
	margin-left: 3px;
	z-index: 1;
}

.servers .servers__server .servers__server__progress{
	width: 114px;
	height: 114px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.servers .servers__server .servers__server__info{
	width: 100%;
	position: relative;
	z-index: 3;
	padding-bottom: 7px;
}

.servers .servers__server .servers__server__info .servers__server__info__name{
	width: 100%;
	text-align: center;
	font-family: Exo Bold;
	color: #fdce11;
	font-size: 21px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.servers .servers__server .servers__server__info .servers__server__info__chronicles{
	width: 100%;
	text-align: center;
	font-family: Exo Medium;
	color: #c8c3af;
	font-size: 11px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.servers .servers__server .servers__server_desc{
	padding: 5px 10px;
	border-radius: 4px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: -50px;
	font-family: Exo Bold;
	color: #fdce11;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	white-space: nowrap;
	transform: translateY(-20px);
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease-in-out;
}

.servers .servers__server:hover .servers__server_desc{
	transform: translateY(0px);
	opacity: 1;
}

/* content */
/* -------------------------------------------------------------------------------------------------------------------- */

.content{
	width: 1200px;
	height: 640px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.content .content__left{
	width: 367px;
	height: 100%;
}

.content .content__right{
	width: 367px;
	height: 100%;
}

.content .content__center{
	width: 377px;
	height: 100%;
}

/* content title */
/* -------------------------------------------------------------------------------------------------------------------- */

.content__title{
	width: 100%;
	margin-top: 35px;
}

.content__title .content__title__big{
	width: 100%;
	text-align: center;
	font-family: Exo Bold;
	color: #fdce11;
	font-size: 24px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.content__title .content__title__big > span{
	font-family: unset;
	color: #fff;
}

.content__title .content__title__small{
	width: 100%;
	text-align: center;
	font-family: Exo Medium;
	color: #fff;
	font-size: 14px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

/* rating */
/* -------------------------------------------------------------------------------------------------------------------- */

.rating{
	width: 320px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
}

.rating > .active{
	position: relative !important;
	opacity: 1 !important;
}

.rating .rating__block{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.rating .rating__block .rating__title{
	width: 100%;
	padding: 5px 8px;
	background: rgba(0,0,0,0.3);
}

.rating .rating__block .rating__title .rating__title_num{
	width: 20px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #c9c9c9;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating .rating__block .rating__title .rating__title_name{
	margin-right: auto;
	font-family: Exo Medium;
	font-size: 14px;
	color: #c9c9c9;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating .rating__block .rating__title .rating__title_value{
	width: 75px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #c9c9c9;
	text-align: right;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating .rating__block .rating__line{
	width: 100%;
	padding: 8px 8px;
	background: rgba(0,0,0,0.1);
	margin-top: 2px;
}

.rating .rating__block .rating__line:nth-child(n+2):nth-child(even){
	background: rgba(0,0,0,0.2);
}

.rating .rating__block .rating__line .rating__line_num{
	width: 20px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating .rating__block .rating__line .rating__line_name{
	margin-right: auto;
	font-family: Exo Medium;
	font-size: 14px;
	color: #fdce11;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating .rating__block .rating__line .rating__line_value{
	width: 100px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #d2bf89;
	text-align: right;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	white-space: nowrap;
}

.rating__switch{
	width: 100%;
	margin-top: 20px;
}

.rating__switch .rating__switch_button{
	width: 90px;
	height: 32px;
	background: url(../images/bg/stat_button_bg.png) top center no-repeat;
	font-family: Exo Medium;
	font-size: 14px;
	color: #f1ffd0;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	cursor: pointer;
	transition: all .2s ease-in-out;
	opacity: 0.5;
}

.rating__switch .rating__switch_button:hover{
	opacity: 1;
	filter: brightness(130%);
}

.rating__switch > .active{
	opacity: 1;
}

/* forum */
/* -------------------------------------------------------------------------------------------------------------------- */

.forum{
	width: 320px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
}

.forum .forum__line{
	width: 100%;
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 2px;
	cursor: default;
	transition: all .3s ease-in-out;
}

.forum .forum__line:hover{
	background: rgba(0,0,0,0.6) !important;
	transform: scale(1.03,1.03);
}

.forum .forum__line:hover .forum__line_icon img{
	filter: brightness(150%);
}

.forum .forum__line:nth-child(odd){
	background: rgba(0,0,0,0.3);
}

.forum .forum__line .forum__line_icon{
	width: 30px;
	height: 30px;
	position: relative;
}

.forum .forum__line .forum__line_icon img{
	pointer-events: none;
	position: absolute;
	transition: all .3s ease-in-out;
}

.forum .forum__line .forum__line_info{
	width: calc( 100% - 30px - 14px );
}

.forum .forum__line .forum__line_info .forum__line_info_title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forum .forum__line .forum__line_info .forum__line_info_title a{
	font-family: Exo Medium;
	font-size: 14px;
	color: #fdce11;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	transition: all .2s ease-in-out;
}

.forum .forum__line .forum__line_info .forum__line_info_title a:hover{
	color: #fff190;
}

.forum .forum__line .forum__line_info .forum__line_info_desc{
	width: 100%;
	font-family: Exo Medium;
	font-size: 12px;
	color: #d8d8d8;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	padding-top: 4px;
	padding-bottom: 3px;
}

.forum .forum__line .forum__line_info .forum__line_info_desc a{
	font-family: Exo Medium;
	font-size: 12px;
	color: #d8d8d8;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.forum .forum__line .forum__line_info .forum__line_info_desc a:hover{
	text-decoration: underline;
}

.forum .forum__line .forum__line_info .forum__line_info_desc span{
	font-family: Exo Medium;
	font-size: 12px;
	color: #afa588;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.vk{
	width: 320px;
	height: 189px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
	background: #29241d;
	border: 1px solid #29241d;
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

.vk:hover{
	opacity: 1;
}

.vk #vk_groups{
	width: 100%;
	height: 100%;
}

/* slider */
/* -------------------------------------------------------------------------------------------------------------------- */

.slider{
	width: calc( 100% + 40px );
	height: 434px;
	margin-top: 90px;
	margin-left: -20px;
}

.slider-block{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slider-block .slider-line{
	display: flex;
	width: initial;
	height: 100%;
	width: 2000px;
}

.slider-block .slider-line .slider-slide{
	height: 100%;
	align-self: stretch;
	border-radius: 5px;
}

.slider-block .slider-nav{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 15px;
}

.slider-block .slider-nav .perv{
	width: 20px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	transition: all .3s ease-in-out;
	position: absolute;
	left: 64px;
	top: -58px;
}

.slider-block .slider-nav .perv:hover{
	filter: brightness(130%);
}

.slider-block .slider-nav .next{
	width: 20px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	transition: all .3s ease-in-out;
	transform: scale(-1, 1);
	position: absolute;
	right: 64px;
	top: -58px;
}

.slider-block .slider-nav .next:hover{
	filter: brightness(130%);
}

.slider-block .slider-nav .disabled{
	opacity: 0.3;
	pointer-events: none;
}

.slider-block .slider-nav .markers{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 15px;
}

.slider-block .slider-nav .markers .marker{
	width: 5px;
	height: 5px;
	background: rgba(0,0,0,0.6);
	cursor: pointer;
	margin: 5px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 12px;
	opacity: 0.3;
}

.slider-block .slider-nav .markers .m_active{
	opacity: 1;
	background: #8c5237;
}

.slider-block .slider-slide .slider-img{
	width: 100%;
	height: 122px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}

.slider-block .slider-slide .slider-img img{
	width: 100%;
	position: absolute;
}

.slider-block .slider-slide{
	width: 417px;
	padding-left: 20px;
	padding-right: 20px;
}

.slider-block .slider-slide .slider-title{
	width: 100%;
	height: 40px;
	font-family: Exo Bold;
	font-size: 18px;
	color: #683110;
	line-height: 20px;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	margin-top: 10px;
}

.slider-block .slider-slide .slider-date{
	width: 100%;
	height: 22px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #6b5c48;
	line-height: 22px;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	margin-top: 5px;
}

.slider-block .slider-slide .slider-date span{
	font-family: Exo Medium;
	font-size: 14px;
	color: #353431;
}

.slider-block .slider-slide .slider-text{
	width: 100%;
	height: 110px;
	font-family: Exo Medium;
	font-size: 14px;
	color: #40372c;
	line-height: 18px;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	margin-top: 5px;
}

.slider-block .slider-slide .slider-button{
	width: 180px;
	height: 60px;
	background: url(../images/bg/more_button_bg.png) top center no-repeat;
	font-family: Alice Regular;
	font-size: 13px;
	color: #000;
	text-shadow: 0px 0px 5px rgba(255,255,255,1),0px 0px 5px rgba(255,255,255,1);
	padding-bottom: 1px;
	font-weight: 600;
	transition: all .2s ease-in-out;
	margin: 0 auto;
	margin-top: 15px;
}

.slider-block .slider-slide .slider-button:hover{
	filter: brightness(120%);
}

/* footer */
/* -------------------------------------------------------------------------------------------------------------------- */

footer{
	width: 1200px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

footer .footer__cpr{
	width: 310px;
	font-family: Alice Regular;
	font-size: 12px;
	color: #afa588;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	opacity: 0.8;
	text-align: justify;
}

footer .footer__banners{
	margin-left: auto;
}

footer .footer__banners > *{
	margin: 0px 4px;
}

footer .social{
	width: auto;
	margin-left: 30px;
}

footer .social a{
	font-size: 28px;
	margin: 0px 10px;
	color: #e4dbd3;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	transition: all .2s ease-in-out;
}

footer .social a:hover{
	color: #fdce11;
}

footer .coolness{
	margin-left: 35px;
	opacity: 0.5;
	transition: all .2s ease-in-out;
}

footer .coolness:hover{
	opacity: 1;
}

/* windows */
/* -------------------------------------------------------------------------------------------------------------------- */

.wnd-bg{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	transition: all .3s ease-in-out;
	opacity: 0;
	pointer-events: none;
}

.wnd-bg-active{
	opacity: 1;
	pointer-events: auto;
}

.wnd{
	width: 655px;
	height: 526px;
	position: fixed;
	top: calc( ( 100vh - 526px ) / 2 );
	left: calc( ( 100% - 655px ) / 2 );
	background: url(../images/bg/wnd_bg.png) top center no-repeat;
	z-index: 101;
	transition: all .3s ease-in-out;
	transform: scale(1.2,1.2);
	opacity: 0;
	pointer-events: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 45px;
	padding-bottom: 10px;
	/*[<1279|position: absolute;left: calc( ( 1260px - 655px ) / 2 );]*/
}

.wnd_active{
	transform: scale(1,1);
	opacity: 1;
	pointer-events: auto;
}

.wnd_stream{
	width: 1279px;
	height: 526px;
	position: fixed;
	top: calc( ( 100vh - 526px ) / 2 );
	left: calc( ( 100% - 1279px ) / 2 );
	background: url(../images/bg/wnd_stream_bg.png) top center no-repeat;
	z-index: 101;
	transition: all .3s ease-in-out;
	transform: scale(1.2,1.2);
	opacity: 0;
	pointer-events: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 45px;
	padding-bottom: 10px;
	/*[<1279|position: absolute;left: -9.5px;]*/
}

.wnd_active{
	transform: scale(1,1);
	opacity: 1;
	pointer-events: auto;
}

.wnd__close{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 62px;
    right: 43px;
	background: url(../images/icons/close.png) top center no-repeat;
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.wnd__close:hover{
	transform: scale(1.3,1.3) rotate(180deg);
}

/* streams */
/* -------------------------------------------------------------------------------------------------------------------- */

.streams{
	width: calc( 100% - 100px);
	height: 250px;
	margin: 0 auto;
	margin-top: 35px;
}

.streams .streams__stream{
	width: calc( ( 100% - 60px ) / 3 );
	height: 100%;
	position: relative;
	background: rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.1);
}

.streams__desc{
	width: 100%;
	text-align: center;
	font-family: Exo Medium;
	font-size: 14px;
	color: #847c71;
	margin-top: 30px;
}

.streams__desc span{
	font-family: Exo Bold;
	font-size: 18px;
	color: #fdce11;
}

.streams__desc a{
	font-family: Exo Medium;
	font-size: 14px;
	color: #bdb1a6;
	text-decoration: underline;
	transition: all .2s ease-in-out;
}

.streams__desc a:hover{
	color: #fff;
}

/* download files */
/* -------------------------------------------------------------------------------------------------------------------- */

.files-block{
	width: 100%;
	padding: 0px 25px;
	margin-top: 18px;
}

.files-block .files-block__title{
	width: 100%;
	font-family: Exo Bold;
	font-size: 14px;
	color: #fdce11;
}

.files-block .files-block__desc{
	width: 100%;
	font-family: Exo Medium;
	font-size: 14px;
	color: #8a8677;
	margin-top: 2px;
}

.files-block .files-block__desc span{
	font-family: Exo Medium;
	font-size: 14px;
	color: #fff;
}

.files-block .files-block__buttons{
	width: 100%;
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	padding: 0px 10px;
	margin-top: 10px;
}

.files-block .files-block__buttons .files-block__buttons__title{
	font-family: Exo Medium;
	font-size: 12px;
	color: #fff7d0;
	padding-bottom: 3px;
	padding-left: 8px;
}

.files-block__buttons__items > a{
	width: 140px;
	height: 49px;
	background: url(../images/bg/files_button_bg.png) top center no-repeat;
	font-family: Exo Bold;
	font-size: 14px;
	color: #000;
	text-shadow: 0px 0px 5px rgba(255,255,255,1),0px 0px 5px rgba(255,255,255,1);
	transition: all .2s ease-in-out;
	margin: 0 auto;
}

.files-block__buttons__items > a:hover{
	filter: brightness(140%);
}

.files-block__buttons__items > .files-block__buttons__reg{
	width: 246px;
	background: url(../images/bg/reg_button_bg.png) top center no-repeat;
	margin-left: -8px;
}


.cp-logo{
	width: 315px;
	height: 341px;
	margin: 0 auto;
	pointer-events: none;
	margin-top: -100px;
}

.form-block{
	width: 470px;
	margin: 0 auto;
	padding: 30px;
	background: rgba(56,38,28,0.3);
	border: 2px solid rgba(248,222,163,0.3);
	border-radius: 10px;
	position: relative;
	z-index: 2;
	margin-top: -60px;
	text-align: center;
}

.form-block__title{
	width: 100%;
	padding: 0px 0px 5px;
	font-family: Exo Bold;
	font-size: 22px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	text-align: center;
}

.form-block__top-link{
	font-family: Exo Bold;
	font-size: 14px;
	color: #ffd619;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	text-decoration: underline;
	margin: 0 auto;
	transition: all .2s ease-in-out;
}

.form-block__top-link:hover{
	color: #ffea89;
}

.cp-form{
	width: 100%;
	display: block;
	position: relative;
	margin-top: 30px;
}

.cp-form__line{
	width: 100%;
	height: 50px;
	position: relative;
	background: rgba(248,222,163,0.3);
	border: 2px solid rgba(248,222,163,1);
	border-radius: 5px;
	margin-bottom: 10px;
}

.cp-form__input{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	border: 0px solid rgba(0,0,0,0);
	position: relative;
	z-index: 1;
	text-align: center;
	font-family: Exo Medium;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.cp-form__line i{
	width: 26px;
	height: 26px;
	text-align: center;
	font-size: 26px;
	color: #41271c;
	position: absolute;
	z-index: 2;
	pointer-events: none;
	top: calc( ( 100% - 26px ) / 2 );
	left: calc( 26px - 13px );
}

.cp-form__prefix{
	width: 50px;
	height: 100%;
	border-left: 1px solid rgba(248,222,163,0.3);
	border-right: 1px solid rgba(248,222,163,0.3);
	font-family: Exo Bold;
	font-size: 16px;
	color: #ffd619;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 51px;
}

.cp-form__checkbox{
	font-family: Exo Medium;
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	text-align: center;
	margin: 20px auto;
}

.cp-form__checkbox_item {
	position: relative;
	width: 35px;
	height: 20px;
	display: inline-block;
	margin-bottom: -6px;
}

.cp-form__checkbox_item .checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 35px;
	height: 20px;
	top: 0px;
	left: 0px;
}

.cp-form__checkbox_item .checkbox + label {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0px;
}

.cp-form__checkbox_item .checkbox + label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 35px;
	height: 20px;
	border-radius: 13px;
	background: #f3dfba;
	transition: .2s;
}

.cp-form__checkbox_item .checkbox + label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	background: #41271c;
	transition: .2s;
}

.cp-form__checkbox_item .checkbox:checked + label:before {
	background: #dbd9d9;
}

.cp-form__checkbox_item .checkbox:checked + label:after {
	left: 17px;
	background: #ff5514;
}

.cp-form__button{
	width: 180px;
	height: 60px;
	background: url(../images/bg/more_button_bg.png) top center no-repeat;
	font-family: Exo Bold;
	font-size: 14px;
	color: #000;
	text-shadow: 0px 0px 5px rgba(255,255,255,1),0px 0px 5px rgba(255,255,255,1);
	transition: all .2s ease-in-out;
	margin: 0 auto;
}

.cp-form__button:hover{
	filter: brightness(140%);
}

.cp-form__sub{
	width: 100%;
	font-family: Exo Medium;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	text-align: center;
	margin-top: 10px;
}

.cp-form__sub a{
	font-family: Exo Medium;
	font-size: 14px;
	color: #ffd619;
	text-decoration: underline;
	transition: all .2s ease-in-out;
}

.cp-form__sub a:hover{
	color: #ffea89;
}








