@media (max-width: 1300px){
	.video_bg{
		display: none;
	}
}
@media (max-width: 1279px){
	.wnd{
		position: absolute;
		left: calc( ( 1260px - 655px ) / 2 );
	}
	.wnd_stream{
		position: absolute;
		left: -9.5px;
	}
}
