{% extends 'basic/base.html' %}

{% block title %}{{phrase(238)}}{% endblock %}

{% block content %}
<div class="content">

    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Статистика</h3>
        </div>
        <div class="block-content">

            <form action="/admin/options/server/cache" method="POST">
                <div class="form-group row">
                    <label for="forum" class="col-sm-5 col-form-label">{{phrase(62)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('forum')}}" id="forum" type="text" name="forum" class="form-control">
                    </div>

                    <label for="server_online_status" class="col-sm-5 col-form-label">{{phrase(44)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('server_online_status')}}" id="server_online_status" type="text" name="server_online_status" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="statistic_pvp" class="col-sm-5 col-form-label">{{phrase(247)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_pvp')}}" id="statistic_pvp" type="text" name="statistic_pvp" class="form-control">
                    </div>

                    <label for="statistic_pk" class="col-sm-5 col-form-label">{{phrase(248)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_pk')}}" id="statistic_pk" type="text" name="statistic_pk" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="statistic_online" class="col-sm-5 col-form-label">{{phrase(249)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_online')}}" id="statistic_online" type="text" name="statistic_online" class="form-control">
                    </div>

                    <label for="statistic_pk" class="col-sm-5 col-form-label">{{phrase(250)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_pk')}}" id="statistic_clan" type="text" name="statistic_clan" class="form-control">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="statistic_clan_data" class="col-sm-5 col-form-label">{{phrase(392)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_clan_data')}}" id="statistic_clan_data" type="text" name="statistic_clan_data" class="form-control">
                    </div>

                    <label for="statistic_clan_skills" class="col-sm-5 col-form-label">{{phrase(393)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_clan_skills')}}" id="statistic_clan_skills" type="text" name="statistic_clan_skills" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="statistic_clan_players" class="col-sm-5 col-form-label">{{phrase(394)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_clan_players')}}" id="statistic_clan_players" type="text" name="statistic_clan_players" class="form-control">
                    </div>

                    <label for="statistic_heroes" class="col-sm-5 col-form-label">{{phrase(395)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_heroes')}}" id="statistic_heroes" type="text" name="statistic_heroes" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="statistic_player_info" class="col-sm-5 col-form-label">{{phrase(396)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_player_info')}}" id="statistic_player_info" type="text" name="statistic_player_info" class="form-control">
                    </div>

                    <label for="statistic_player_info_sub_class" class="col-sm-5 col-form-label">{{phrase(397)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_player_info_sub_class')}}" id="statistic_player_info_sub_class" type="text" name="statistic_player_info_sub_class" class="form-control">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="statistic_player_inventory_info" class="col-sm-5 col-form-label">{{phrase(398)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_player_inventory_info')}}" id="statistic_player_inventory_info" type="text" name="statistic_player_inventory_info" class="form-control">
                    </div>

                    <label for="statistic_castle" class="col-sm-5 col-form-label">{{phrase(104)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_castle')}}" id="statistic_castle" type="text" name="statistic_castle" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="statistic_block" class="col-sm-5 col-form-label">{{phrase(399)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_block')}}" id="statistic_block" type="text" name="statistic_block" class="form-control">
                    </div>

                    <label for="statistic_counter" class="col-sm-5 col-form-label">{{phrase(400)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('statistic_counter')}}" id="statistic_counter" type="text" name="statistic_counter" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="referral" class="col-sm-5 col-form-label">{{phrase(325)}}</label>
                    <div class="col-sm-1">
                        <input value="{{cache_timeout('referral')}}" id="referral" type="text" name="referral" class="form-control">
                    </div>


                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <button id="update_cache" type="submit" class="btn btn-primary px-3">
                            {{phrase(271)}}</button>
                    </div>
                </div>
                <br>

            </form>

            </form>

        </div>
    </div>


</div>

{% endblock %}
