.idea
template/cache
uploads/crests
uploads/logs
uploads/screenshots
uploads/cache
uploads/user
uploads/tickets
src/config/db.php
src/config/captcha.php
src/config/cache.php
todo.txt
errors.log
patch/*
