{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-uppercase">Выберите себе аватар</div>
      <div class="card-body">
        <div class="row">

          {% for avatar in avatars %}
          <div class="col-md-6 col-lg-1 col-xl-1">
              <img src="/template/cabinet/assets/images/navatar/{{avatar}}" data-avatar="{{avatar}}" style="cursor: pointer;" class="lightbox-thumb img-thumbnail change_avatar">
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div><!--End Row-->

{% endblock %}

{% block js %}
  <script src="{{'assets/js/user/change_avatar.js'|template}}"></script>
{% endblock %}