{% extends 'base.html' %}

{% block content %}

<!-- Start wrapper-->
<div id="wrapper">

    <div class="card card-authentication1 mx-auto my-4">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="{{ template }}/assets/images/logo-icon.png" alt="logo icon">
                </div>
                <div class="card-title text-uppercase text-center py-3">{{phrase(67)}}</div>
				<div class="card-footer text-center py-3">
					<p class="mb-0">{{phrase(277)}}</p>
				</div>
				
               <div class="input-group">
                <input type="text" class="form-control" value="{{email}}" id="email" placeholder="E-mail" readonly>
              </div>
				<hr>
               <div class="input-group">
                <input type="text" class="form-control" value="{{code}}" id="code" placeholder="{{phrase(284)}}">
               </div>
                <hr>
                <div class="form-footer">
                    <button class="btn btn-success" id="send_password" type="button">{{phrase(278)}}</button>
                </div>
            </div>
        </div>

    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
</div>

{% endblock %}

{% block js %}
<script src="{{template('assets/js/auth/forget_link.js')}}"></script>
{% endblock %}
