{% extends 'base.html' %}
{% set title = phrase(200) %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-uppercase">{{ phrase(8) }}</div>
            <div class="card-body">
                <form>
					<div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">{{ phrase(9) }}</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control form-control-xl" name="email" id="email">
                        </div>
                        <div class="col-sm-6">
                            <p class="text-left">
                               {{ phrase(6) }}
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">{{ phrase("password") }}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-xl" name="password" id="password">
                        </div>
                        <div class="col-sm-6">
                            <p class="text-left">
                                {{ phrase(133, 4) }}
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="captcha" class="col-sm-2 col-form-label">Анти-Бот</label>
                        <div class="col-sm-2">
                            <a href="#"> <img id='refreshCaptcha' src="" class="lightbox-thumb img-thumbnail captcha" /> </a>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control form-control-xl" name="captcha" id="captcha" >
                        </div>
                    </div>

                    {% if referral_name %}
                    <hr>
                    <div class="form-group row">
                        <label for="referral_name" class="col-sm-2 col-form-label">Кто Вас пригласил</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-xl" name="referral_name" id="referral_name" value="{{referral_name}}">
                        </div>
                        <div class="col-sm-6">
                            <p class="text-left">
                                Укажите ID или ник пользователя,<br>
                                который вас позвал.
                            </p>
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <input type="hidden" name="timezone" id="timezone" value="">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary px-5"><i class="icon-lock"></i> {{ phrase(7) }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!--End Row-->
{% endblock %}

{% block js %}
<script src="{{template('assets/js/user/registration_user.js')}}"></script>
{% endblock %}