<div class="news">
<header class="news-header">
	    <div class="date">{{news['date_create']}}</div>
	    <div class="title">{{news['title']}}</div>
	   </header>
		   <section class="news-content">
					 <div class="content">{{news['name']}}</div>
			</section>
          <footer class="news-footer">
             <div class="info">
				<span class="more"><a href="/page/{{news['id']}}">Узнай больше</a></span>
			   <ul>
                 <li>Share: &nbsp;</li>
                 <li><a href="/" class="ico vk"></a></li>
                 <li><a href="/" class="ico fb"></a></li>
                 <li><a href="/" class="ico tw"></a></li>
               </ul>
               <div class="clear"></div>
             </div>
           </footer>
</div>