{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Персонажи аккаунта {{ login }}</div>
            <ul class="list-group list-group-flush shadow-none">
                {% for char in characters %}
                <li class="list-group-item">
                    <div class="media align-items-center">
                        <img src="{{template}}/assets/images/race/{{sex(char.sex)}}/{{ get_class_race(char.base_class) }}.jpg"
                             alt="user avatar" class="customer-img rounded">
                        <div class="media-body ml-3">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width: 20%">{% if char.alliance_crest!=null%}<img
                                            src="data:image/png;base64, {{ char.alliance_crest }}">{% endif %}{% if
                                        char.clan_crest!=null%}<img src="data:image/png;base64, {{char.clan_crest}}">{%
                                        endif %} <a href="/account/info/{{account}}/player/{{ char.char_name }}/server/{{server_id}}">{{
                                            char.char_name }}</a></th>
                                    <th style="width: 20%">Lv: {{ char.level }}</th>
                                    <td style="width: 30%">Class: {{ get_class( char.classid ) }}</td>
                                    <td style="width: 15%">PvP/PK: {{ char.pvpkills }}/{{ char.pkkills }}</td>
                                    <td style="width: 15%">Clan: {{ char.clan_name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
