{% extends 'base.html' %}
{% set title = phrase(131) %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">Синхронизация игрового аккаунта с личным кабинетом</div>
            <div class="card-body">
                <form>

                    <div class="form-group row">
                        <label for="basic-select" class="col-sm-2 col-form-label">{{ phrase("server") }}</label>
                        <div class="col-sm-8">
                            <select name="server" class="form-control" id="basic-select">
                                {% if server_id is empty %}
                                {% set server_id = user_info('get_default_server') %}
                                {% endif %}
                                {% for server in get_server_info() %}
                                <option {% if server.id== server_id %}selected="selected" {% endif %}
                                        value="{{server.id}}">{{server.name}} - {{server.chronicle}}
                                    x{{server.rate_exp}}
                                </option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="login" class="col-sm-2 col-form-label">{{ phrase("login") }}</label>
                        <div class="col-sm-6">
                            <input value="" name="login" type="text"
                                   class="form-control form-control-xl" id="login">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">{{ phrase("password") }}</label>
                        <div for="password_hide" class="col-sm-6">
                            <div class="input-group-prepend">
                                <div data-toggle="tooltip" data-placement="top" title="{{ phrase(2) }}"
                                     class="input-group-text">
                                    <input checked id="password_hide" name="password_hide" type="checkbox"/>
                                </div>
                                <input name="password" type="text" class="form-control form-control-xl" id="password"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="captcha" class="col-sm-2 col-form-label">Анти-Бот</label>
                        <div class="col-sm-4">
                            <a href="#"> <img id='refreshCaptcha' src="" class="lightbox-thumb img-thumbnail captcha_img" /> </a>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-xl" name="captcha" id="captcha" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary px-5"><i class="icon-lock"></i>
                                Присоединить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">Что это и как это работает!</div>
            <div class="card-body">
                Если у Вас уже есть игровой аккаунт, который был зарегистрирован не через личный кабинет, и Вы хотите указать себя как владельца аккаунта!<br>
                Укажите данные своих аккаунтов для синхронизации.<br>
                Это даст Вам возможность управлять своими аккаунтами.<br>
                <hr>
                Количество неверный попыток синхронизации ограничено.<br>
                Администрация сервера будет оповещина:<br>
                <ol>
                    <li>При попытке подбора пароля к аккаунту.</li>
                    <li>Если Вы будете пробовать добавить аккаунт, который привязан к другому пользователю.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% if user_info('get_is_auth')==false %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-uppercase">{{phrase(134)}}</div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <p>{{phrase(135)|raw}}</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script src="{{'assets/js/user/sync_account.js'|template}}"></script>
{% endblock %}