{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title">Настройки пользовательских загрузок</div>
        <hr>
        <div>
            <div class="form-group row">
                <label for="screen_enable" class="col-sm-2 col-form-label">Разрешить загрузки: </label>
                <div class="col-sm-10">
                    <select class="form-control" name="screen_enable" id="screen_enable">
                        <option value="true">Включить</option>
                        <option value="false">Отключить</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="max_user_count_screenshots" class="col-sm-2 col-form-label">Макс. кол-во изображений
                    загруженных пользователем: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="max_user_count_screenshots"
                           name="max_user_count_screenshots"
                           placeholder="Больше N скриншотов, пользователь не сможет загрузить" value="20">
                </div>
            </div>
            <div class="form-group row">
                <label for="max_count_all_screenshots" class="col-sm-2 col-form-label">Общее макс. кол-во
                    скриншотов: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="max_count_all_screenshots"
                           name="max_count_all_screenshots"
                           placeholder="Больше чем N скриншотов, не будут загружаться на сервер." value="500">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button id="options" type="submit" class="btn btn-primary px-5"> Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{'assets/js/gallery/options.js'|template}}"></script>
{% endblock %}