{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
       <div class="card">
           <div class="row">
               <div class="col-md-12">
                   <div class="text-center error-pages">
                       <h1 class="error-title text-warning">🤬</h1>
                       <br>
                       <h2 class="error-sub-title">Возникла проблема</h2>

<!--                       <p class="error-message text-uppercase">Извините, запрашиваемая страница не найдена!</p>-->
                       <p class="error-message text-uppercase">{{message}}</p>

                       <div class="mt-4">
                           <a href="/main" class="btn btn-dark btn-round m-1">На главную </a>
                           {% if http_referer() %}
                            <a href="{{ http_referer() }}" class="btn btn-warning btn-round m-1">Назад </a>
                           {% endif %}
                       </div>

                       <div class="mt-4">
                           <p class="">Copyright © 2019 Dashtreme | All rights reserved.</p>
                       </div>
                       <hr class="w-50 border-light">
                       <div class="mt-2">
                           <a href="javascript:void()" class="btn-social btn-facebook btn-social-circle waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                           <a href="javascript:void()" class="btn-social btn-google-plus btn-social-circle waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                           <a href="javascript:void()" class="btn-social btn-behance btn-social-circle waves-effect waves-light m-1"><i class="fa fa-behance"></i></a>
                           <a href="javascript:void()" class="btn-social btn-dribbble btn-social-circle waves-effect waves-light m-1"><i class="fa fa-dribbble"></i></a>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
  </div>

{% endblock %}
