$w: #ffffff;
$w1: #fffadc;
$w2: #958d99;
$w3: #ffedc6;
$w4: #fff5e3;
$w5: #fff5cb;
$w6: #fff5de;
$w7: #75758e;
$w8: #fff6dd;
$w9: #828293;
$w10: #fbffe6;
$w11: #d5c8b4;
$w12: #cecedf;

$b: #000000;
$b1: #2e2e2e;
$b2: #0e0a07;
$b3: #110f12;
$b4: #17171d;
$b5: #1b1b23;
$b6: #101015;

$y: #ffd42a;
$y1: #ff8d1d;
$y2: #ff9c00;
$y4: #ffc000;

$r: #fb0c00;
$r1: #ff2a2a;

$g: #bdff1d;
$g1: #8bc73e;

$c1: #291b12;
$c2: #242835;
$c3: #69708d;

$bg: #110f12;

@font-face {
  font-family: 'beaufort-for-lol-bold';
  src: url(../css/fonts/beaufort-for-lol-bold.ttf); 
}

$ff: 'beaufort-for-lol-bold';