{% extends 'base.html' %}

{% block content %}

 <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header text-uppercase">{{phrase(90)}}
			{% if user_info('get_is_auth') %}
			<div class="card-action">
			<a href="/gallery/screenshot/add" type="button" class="btn btn-success btn-sm waves-effect waves-light">{{phrase(55)}}</a>
		   </div>{% endif %}
			</div>
			
            <div class="card-body">
              <div class="row">
					{% for movie in movies %}
						<a data-fancybox="video-gallery" href="{{movie.link}}">
						  <img src="https://img.youtube.com/vi/{{ get_youtube_id(movie.link) }}/hqdefault.jpg" width="300" height="200" />
						</a>
					{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->

{% endblock %}

{% block css %}
  <link href="{{template('assets/plugins/fancybox/css/jquery.fancybox.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
  <!--Light-box-->
  <script src="{{template('assets/plugins/fancybox/js/jquery.fancybox.min.js')}}"></script>
{% endblock %}