{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Персонажи аккаунта {{ login }}</div>
            <ul class="list-group list-group-flush shadow-none">
                {% for char in characters %}
                <li class="list-group-item">
                    <div class="media align-items-center">
					
<img src="{{ template('/assets/images/race/' ~ sex(char.sex) ~ '/' ~ get_class_race(char.class_id)) ~ '.jpg' }}" class="customer-img rounded">

                        <div class="media-body ml-3">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width: 20%">{% if char.alliance_crest!=null%}<img
                                            src="data:image/png;base64, {{ char.alliance_crest }}">{% endif %}{% if
                                        char.clan_crest!=null%}<img src="data:image/png;base64, {{char.clan_crest}}">{%
                                        endif %} <a href="/account/info/{{account}}/player/{{ char.char_name }}/server/{{server_id}}">{{
                                            char.char_name }}</a></th>
                                    <th style="width: 20%">Lv: {{ char.level }}</th>
                                    <td style="width: 30%">Class: {{ get_class( char.classid ) }}</td>
                                    <td style="width: 15%">PvP/PK: {{ char.pvpkills }}/{{ char.pkkills }}</td>
                                    <td style="width: 15%">Clan: {{ char.clan_name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Характеристики персонажа {{player['char_name']}}</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th scope="row">Уровень</th>
                            <td>{{player['level']}}</td>
                            <td>Базовый класс</td>
                            <td>{{ get_class( player['base_class'] ) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PvP</th>
                            <td>{{player['pvpkills']}}</td>
                            <td>PK</td>
                            <td>{{player['pkkills']}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Раса</th>
                            <td>{{player['race']}}</td>
                            <td scope="row">Пол</td>
                            <td>{{sex(player['sex'])}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Онлайн</th>
                            <td>{{player['online']}}</td>
                            <td scope="row">Время</td>
                            <td>{{player['onlinetime']}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Саб-классы</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        {% for class in subclasses %}
                        <tr>
                            <th scope="row">Класс</th>
                            <th scope="row">{{ get_class (class.class_id) }}</th>
                            <td>Уровень</td>
                            <td>{{class.level}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!--End Row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="icon">
                    <section id="new">
                        <h3>Мой инвентарь</h3>
                        <hr>
                        <div class="row fontawesome-icon-list">
                            {% for i, item in items %}
                            {% if item.loc == "INVENTORY" or item.loc == "PAPERDOLL" %}
                            <div class="fa-hover col-lg-6 col-xl-4">
                                <a data-toggle="tooltip" data-html="true" data-placement="top"
                                   title="{{ get_item_info(item.item_id)['description_ru']|nl2br }}"> <img
                                        src="/uploads/images/icon/{{get_item_info(item.item_id)['icon']}}"
                                        class="product-img ">
                                    {%if item.enchant_level != 0 %}<span
                                            class="badge badge-pill badge-warning shadow-warning m-1">+{{item.enchant_level}} {%endif%}</span>
                                    {{ grade_img(get_item_info(item.item_id)['crystal_type']) }} {{
                                    get_item_info(item.item_id)['name_en'] }}
                                    {% if item.count > 1 %} <span class="text-muted">{{item.count|number_format}}</span>
                                    {% endif %}
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="icon">
                    <section id="newEe">
                        <h3>Мой сундук</h3>
                        <hr>
                        <div class="row fontawesome-icon-list">
                            {% for i, item in items %}
                            {% if item.loc == "WAREHOUSE" %}
                            <div class="fa-hover col-lg-6 col-xl-4">
                                <a data-toggle="tooltip" data-html="true" data-placement="top"
                                   title="{{ get_item_info(item.item_id)['description_ru']|nl2br }}"> <img
                                        src="/uploads/images/icon/{{get_item_info(item.item_id)['icon']}}"
                                        class="customer-img ">
                                    {%if item.enchant_level != 0 %}<span
                                            class="badge badge-pill badge-warning shadow-warning m-1">+{{item.enchant_level}} {%endif%}</span>
                                    {{ get_item_info(item.item_id)['name_en'] }}
                                    {% if item.count > 1 %} <span class="text-muted">{{item.count|number_format}}</span>
                                    {% endif %}
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block css %}
<link href="{{template('/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet"
      type="text/css">
<link href="{{template('/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css')}}" rel="stylesheet"
      type="text/css">
{% endblock %}

{% block js %}
<script src="{{template('/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/jszip.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/pdfmake.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/vfs_fonts.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/buttons.print.min.js')}}"></script>
<script src="{{template('/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js')}}"></script>

<script>
    $(document).ready(function () {
        $('#default-datatable').DataTable();
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
        });
        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
</script>
{% endblock %}