{% extends 'basic/base.html' %}

{% block title %}{{phrase("creating_bonus_codes")}}{% endblock %}

{% block content %}

<div class="content">

    <h1>НЕ РАБОТАЕТ: В РАЗРАБОТКЕ</h1>


    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Список предметов</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-lg-12 space-y-2">

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                    <div class="row row-cols-lg-auto g-3 align-items-center" >
                        <div class="col-12">
                            <input type="number" class="form-control" name="item_id" placeholder="Item ID">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="enchant" placeholder="Enchant">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_min" placeholder="Count Min">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control" name="count_max" placeholder="Count Max">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}
