{% extends 'base.html' %}

{% block content %}

<div class="row">
        <div class="col-lg-12">
          <div class="card">
           <div class="card-body">

        <div class="row">


		<!-- Right Sidebar -->
        <div class="col-lg-12 col-md-12">

            <div class="card mt-0 shadow-none">
                <div class="card-body">
                    <form>
					<h4>{{ phrase(26) }}</h4>
					<hr>
                        <div class="form-group">
							<input value="{{ server['id'] }}" name="server_id" type="hidden" type="text">

                            <div class="row">
                                <div class="col-md-6">
                                    <input value="{{ server['name'] }}" name="name"  type="text" maxlength="16" class="form-control" placeholder="{{ phrase(27) }}: {{ random(servername_list_default) }}">
                                </div>

                                <div class="col-md-6">
										<select name="version_client" class="form-control" id="open_protocol_class_collection">
										{% for client in client_list_default %}
											<option {% if client['name'] == server['chronicle'] %}selected{% endif %}>{{ client['name'] }}</option>
 										{% endfor %}
										</select>
                                </div>


                            </div>
                        </div>
						<hr>
						<h4>Рейты</h4>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-3">
                                    <input value="{{ server['rate_exp'] }}" name="rate_exp" type="text" maxlength="16" class="form-control" placeholder="EXP">
                                </div>

                                <div class="col-md-3">
                                    <input value="{{ server['rate_sp'] }}" name="rate_sp" type="text" maxlength="16" class="form-control" placeholder="SP">
                                </div>
                                <div class="col-md-2">
                                    <input value="{{ server['rate_adena'] }}" name="rate_adena" type="text" maxlength="16" class="form-control" placeholder="Adena">
                                </div>
                                <div class="col-md-2">
                                    <input value="{{ server['rate_drop_item'] }}" name="rate_drop" type="text" maxlength="16" class="form-control" placeholder="Drop">
                                </div>

                                <div class="col-md-2">
                                    <input value="{{ server['rate_spoil'] }}" name="rate_spoil" type="text" maxlength="16" class="form-control" placeholder="Spoil">
                                </div>

                            </div>
                        </div>
						<hr>
						<h4>{{ phrase(28) }}</h4>
                        <div class="form-group">
							<div class="row">
								<div class="col-md-3">
									<label for="date_start">{{ phrase(29) }}:</label>
									<input value="{{ server['date_start_server']|date('Y-m-d') }}" name="date_start" id="date_start" type="date" class="form-control" required>
								</div>
								<div class="col-md-3">
									<label for="time_start">{{ phrase(30) }}:</label>
									<input value="{{ server['date_start_server']|date('H:i') }}" name="time_start" id="time_start" type="time" class="form-control" required>
								 </div>
							</div>
                        </div>
						<hr>
						<h4>{{ phrase(32) }}</h4>
						 <div class="form-group row">
						  <label for="db_login_host" class="col-sm-2 col-form-label">DB Host</label>
						  <div class="col-sm-10">
							<input value="{{ server['login_host'] }}" type="text" class="form-control" name="db_login_host" required>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_login_user" class="col-sm-2 col-form-label">DB User</label>
						  <div class="col-sm-10">
							<input value="{{ server['login_user'] }}" type="text" class="form-control" name="db_login_user" required>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_login_password" class="col-sm-2 col-form-label">DB Password</label>
						  <div class="col-sm-10">
							<input value="{{ server['login_password'] }}" type="text" class="form-control" name="db_login_password" >
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_login_name" class="col-sm-2 col-form-label">DB Name</label>
						  <div class="col-sm-10">
							<input value="{{ server['login_name'] }}" type="text" class="form-control" name="db_login_name" required>
						  </div>
						</div>

						<button id="check_connect_mysql_login" type="button" class="btn btn-danger"><i class="fa fa-check-square-o"></i> {{ phrase(35) }}</button>

						<hr>
						<h4>{{ phrase(33) }}</h4>
						 <div class="form-group row">
						  <label for="db_game_host" class="col-sm-2 col-form-label">DB Host</label>
						  <div class="col-sm-10">
							<input value="{{ server['game_host'] }}" type="text" class="form-control" name="db_game_host"  id="db_game_host" required>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_game_user" class="col-sm-2 col-form-label">DB User</label>
						  <div class="col-sm-10">
							<input value="{{ server['game_user'] }}" type="text" class="form-control" name="db_game_user" id="db_game_user" required>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_game_password" class="col-sm-2 col-form-label">DB Password</label>
						  <div class="col-sm-10">
							<input value="{{ server['game_password'] }}" type="text" class="form-control" name="db_game_password" id="db_game_password" >
						  </div>
						</div>
						<div class="form-group row">
						  <label for="db_game_name" class="col-sm-2 col-form-label">DB Name</label>
						  <div class="col-sm-10">
							<input value="{{ server['game_name'] }}" type="text" class="form-control" name="db_game_name" id="db_game_name" required>
						  </div>
						</div>

				  <button id="check_connect_mysql_game" type="button" class="btn btn-danger"><i class="fa fa-check-square-o"></i> {{ phrase(35) }}</button>
					<hr>

				<div class="form-group row">
				  <label for="sql_base_source" class="col-sm-5 col-form-label">{{ phrase(34) }}</label>
				  <div class="col-sm-7">
						<select data-base_source="{{server['collection_sql_base_name']}}" class="form-control" id="sql_base_source" name="sql_base_source"></select>
				  </div>
				</div>



						<hr>
						<h4>Порты сервера</h4>
						Для вывода информации о работоспособности сервера

						<div class="form-group row">
							<label class="col-sm-2 col-form-label"></label>
							<div class="col-sm-10">
								<div class="icheck-material-primary">
									<input name="check_server_online" type="checkbox" id="check_server_online" {% if server.check_server_online %}checked=""{%endif%}/>
									<label for="check_server_online">Включить отображение работы сервера</label>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="check_loginserver_online_host" class="col-sm-2 col-form-label">IP логин сервера</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="check_loginserver_online_host" id="check_loginserver_online_host" value="{{ server['check_loginserver_online_host'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="check_loginserver_online_port" class="col-sm-2 col-form-label">Порт логин сервера</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="check_loginserver_online_port" id="check_loginserver_online_port" value="{{ server['check_loginserver_online_port'] }}" >
							</div>
						</div>
						<div class="form-group row">
							<label for="check_gameserver_online_host" class="col-sm-2 col-form-label">IP гейм сервера</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="check_gameserver_online_host" id="check_gameserver_online_host" value="{{ server['check_gameserver_online_host'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="check_gameserver_online_port" class="col-sm-2 col-form-label">Порт гейм сервера</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="check_gameserver_online_port" id="check_gameserver_online_port" value="{{ server['check_gameserver_online_port'] }}" >
							</div>
						</div>
						<hr>

						<h4>Для вывода игрового чата</h4>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label"></label>
							<div class="col-sm-10">
								<div class="icheck-material-primary">
									<input name="chat_game_enabled" type="checkbox" id="chat_game_enabled" {% if server.chat_game_enabled %}checked=""{%endif%}/>
									<label for="chat_game_enabled">Включить вывод игрового чата</label>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">IP чат-сервера</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="chat_websocket_host" id="chat_websocket_host" value="{{ server['chat_websocket_host'] }}">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Админ пароль чата</label>
							<div class="col-sm-10">
								<input type="text" minlength="32" maxlength="200" class="form-control" name="chat_admin_password" id="chat_admin_password" value="{{ server['chat_admin_password'] }}">
							</div>
						</div>


						<hr>
						<h4>Лаунчер / Обновлятор клиента</h4>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Код аккредитации лаунчера</label>
							<div class="col-sm-10">
								<input value="{{ server['launcher_accreditation_code'] }}" type="text" maxlength="200" class="form-control" name="launcher_accreditation_code" id="launcher_accreditation_code" value="">
							</div>
						</div>

						<hr>

				  <div class="form-group">
					<button type="submit" class="btn btn-success waves-effect waves-light m-1"> {{ phrase("refresh") }}</button>
					<button id="remove" type="submit" class="btn btn-danger waves-effect waves-light m-1"> {{ phrase("delete") }}</button>
                  </div>
                 </form>
                </div> <!-- card body -->
             </div> <!-- card -->
           </div> <!-- end Col-9 -->
         </div><!-- End row -->
      </div>
    </div>
  </div>
 </div>

{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
  <script src="{{'assets/js/admin/options/update_info_server.js'|template}}"></script>
{% endblock %}