{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card mt-0 shadow-none">
                    <div class="card-body">
                        <form>
                            <h4>{{ phrase(26) }}</h4>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input name="name" type="text" maxlength="16" class="form-control"
                                               placeholder="{{ phrase(27) }}: {{ random(servername_list_default) }}">
                                    </div>

                                    <div class="col-md-3">
                                        <select name="version_client" class="form-control"
                                                id="open_protocol_class_collection">
                                            {% for client in client_list_default %}
                                            <option {% if client[
                                            'name'] == server['chronicle'] %}selected{% endif %}>{{ client['name']
                                            }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-1">
                                        <input name="rate_exp" type="text" maxlength="16" class="form-control"
                                               placeholder="EXP">
                                    </div>

                                    <div class="col-md-1">
                                        <input name="rate_sp" type="text" maxlength="16" class="form-control"
                                               placeholder="SP">
                                    </div>
                                    <div class="col-md-1">
                                        <input name="rate_adena" type="text" maxlength="16" class="form-control"
                                               placeholder="Adena">
                                    </div>
                                    <div class="col-md-1">
                                        <input name="rate_drop" type="text" maxlength="16" class="form-control"
                                               placeholder="Drop">
                                    </div>

                                    <div class="col-md-1">
                                        <input name="rate_spoil" type="text" maxlength="16" class="form-control"
                                               placeholder="Spoil">
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <h4>{{ phrase(28) }}</h4>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="date_start">{{ phrase(29) }}:</label>
                                        <input name="date_start" id="date_start" type="date" class="form-control"
                                               required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="time_start">{{ phrase(30) }}:</label>
                                        <input name="time_start" id="time_start" type="time" class="form-control"
                                               required>
                                    </div>

                                </div>
                            </div>
                            <hr>


                            <div class="card-body">
                                <ul class="nav nav-tabs nav-tabs-info nav-justified">

                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabe-13"><i
                                                class="icon-home"></i> <span
                                                class="hidden-xs">Подключение к БД</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabe-14"><i class="icon-user"></i>
                                            <span class="hidden-xs">Подключение через REST API</span></a>
                                    </li>

                                </ul>

                                <!-- Tab panes -->

                                <div class="tab-content">


                                    <div id="tabe-13" class="tab-pane active">

                                        <hr>

                                        <div class="form-group row">
                                            <label for="sql_base_source" class="col-sm-5 col-form-label">{{ phrase(34)
                                                }}</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sql_base_source"
                                                        name="sql_base_source">
                                                    {% for basename in sql_base_source %}
                                                    <option value="{{ basename }}">{{ basename }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">


                                                    <h4>{{ phrase(32) }}</h4>
                                                    <div class="form-group row">
                                                        <label for="db_login_host" class="col-sm-4 col-form-label">DB
                                                            Host</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_login_host"
                                                                   id="db_login_host" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_login_user" class="col-sm-4 col-form-label">DB
                                                            User</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_login_user"
                                                                   id="db_login_user" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_login_password" class="col-sm-4 col-form-label">DB
                                                            Password</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control"
                                                                   name="db_login_password" id="db_login_password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_login_name" class="col-sm-4 col-form-label">DB
                                                            Name</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_login_name"
                                                                   id="db_login_name" >
                                                        </div>
                                                    </div>

                                                    <button id="check_connect_mysql_login" type="button"
                                                            class="btn btn-danger"><i class="fa fa-check-square-o"></i>
                                                        {{ phrase(35) }}
                                                    </button>

                                                </div>

                                                <div class="col-md-6">

                                                    <h4>{{ phrase(33) }}</h4>
                                                    <div class="form-group row">
                                                        <label for="db_game_host" class="col-sm-4 col-form-label">DB
                                                            Host</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_game_host"
                                                                   id="db_game_host" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_game_user" class="col-sm-4 col-form-label">DB
                                                            User</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_game_user"
                                                                   id="db_game_user" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_game_password" class="col-sm-4 col-form-label">DB
                                                            Password</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control"
                                                                   name="db_game_password" id="db_game_password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="db_game_name" class="col-sm-4 col-form-label">DB
                                                            Name</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" name="db_game_name"
                                                                   id="db_game_name" >
                                                        </div>
                                                    </div>

                                                    <button id="check_connect_mysql_game" type="button"
                                                            class="btn btn-danger"><i class="fa fa-check-square-o"></i>
                                                        {{ phrase(35) }}
                                                    </button>


                                                </div>


                                            </div>
                                        </div>


                                        <hr>
                                        <h4>{{phrase(376)}}</h4>
                                        {{phrase(377)}}

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <div class="icheck-material-primary">
                                                    <input name="check_server_online" type="checkbox"
                                                           id="check_server_online" checked=""/>
                                                    <label for="check_server_online">{{phrase(378)}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="check_loginserver_online_host" class="col-sm-2 col-form-label">{{phrase(379)}}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       name="check_loginserver_online_host"
                                                       id="check_loginserver_online_host" value="localhost">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="check_loginserver_online_port" class="col-sm-2 col-form-label">{{phrase(380)}}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       name="check_loginserver_online_port"
                                                       id="check_loginserver_online_port" value="2106">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="check_gameserver_online_host" class="col-sm-2 col-form-label">{{phrase(381)}}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       name="check_gameserver_online_host"
                                                       id="check_gameserver_online_host" value="localhost">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="check_gameserver_online_port" class="col-sm-2 col-form-label">{{phrase(382)}}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       name="check_gameserver_online_port"
                                                       id="check_gameserver_online_port" value="7777">
                                            </div>
                                        </div>
                                        <hr>


                                    </div>


                                    <div id="tabe-14" class="container tab-pane fade">

                                        <div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-9">
                                                    <div class="icheck-material-primary">
                                                        <input type="checkbox" id="rest_api_enable">
                                                        <label for="rest_api_enable">Включить</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="rest_api_ip" class="col-sm-3 col-form-label">IP</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="rest_api_ip"
                                                           placeholder="255.255.255.255">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="rest_api_port" class="col-sm-3 col-form-label">PORT</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="rest_api_port"
                                                           placeholder="3333">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="rest_api_key" class="col-sm-3 col-form-label">Ключ
                                                    безопастности</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="rest_api_key"
                                                           placeholder="range from 32 to 255 characters">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>
                            <hr>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><b>{{phrase(383)}}</b></label>
                                <div class="col-sm-10">
                                    <div class="icheck-material-primary">
                                        <input name="chat_game_enabled" type="checkbox" id="chat_game_enabled" {% if
                                               server.chat_game_enabled %}checked="" {%endif%}/>
                                        <label for="chat_game_enabled">{{phrase(384)}}</label>
                                    </div>

                                    <a href="https://mmo-dev.info/threads/%D0%98%D0%B3%D1%80%D0%BE%D0%B2%D0%BE%D0%B9-%D1%87%D0%B0%D1%82-%D0%BD%D0%B0-%D1%81%D0%B0%D0%B9%D1%82%D0%B5.24582/">Manual</a>
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><b>{{phrase(386)}}</b></label>
                                <div class="col-sm-10">
                                    <div class="icheck-material-primary">
                                        <input name="launcher_enabled" type="checkbox" id="launcher_enabled" {% if
                                               server.launcher_enabled %}checked="" {%endif%}/>
                                        <label for="launcher_enabled">{{phrase(387)}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label">{{phrase(388)}}<br>
                                    {{phrase(389)}}: <a target="_blank" href="https://cannabytes.github.io">https://cannabytes.github.io</a></label>
                            </div>

                            <hr>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary waves-effect waves-light mt-1">
                                    {{phrase("create")}}
                                </button>
                            </div>
                        </form>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{{template('assets/js/admin/options/save_new_server.js')}}"></script>
{% endblock %}