{% extends 'basic/base.html' %}

{% block title %}{{phrase(238)}}{% endblock %}

{% block content %}
<div class="content">
    <div class="block block-rounded">
        <div class="block-content block-content-full">
            <h2 class="content-heading">Создание новой темы</h2>

            <form action="/forum/topic/add" method="POST" onsubmit="return false;">
                <input type="hidden" value="{{sectionID}}" name="sectionID">
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-muted">
                            Название темы
                        </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="mb-4">
                            <input type="text" class="js-maxlength form-control "
                                    name="topicName" maxlength="60" placeholder="" >
                        </div>
                    </div>

                    <div class="col-lg-12 ">
                        <div class="mb-4">
                            <textarea class="form-control writepanel" id="js-ckeditor" name="message" placeholder="" rows="8"></textarea>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <button type="submit" class="btn btn-alt-primary">
                        <i class="fa fa-reply opacity-50 me-1"></i> Reply
                    </button>
                </div>

            </form>


        </div>
    </div>

</div>
{% endblock %}
