
.chat_window {
    width: calc(100%);
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 3px 5px 45px rgba(13, 12, 12, 0.79); */
    background-color: #232425;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}
.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.top_menu .buttons .button.close {
    background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}
.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 5px 5px 5px 5px;
    margin: 0;
    height: 347px;
    overflow: auto;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 3px;
    transition: all 0.5s linear;
    opacity: 0;
}
.messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
}
.messages .message.left .text_wrapper {
    background-color: #18191a;
    margin-left: 8px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #18191a;
}

.messages .message.left .text {
    color: #fff;
}
.messages .message.left .tell {
    color: #b00c86;
}
.messages .message.left .trade {
    color: #d3b647;
}
.messages .message.left .shout {
    color: #c48843;
}
.messages .message.left .party {
    color: #207900;
}
.messages .message.left .clan {
    color: #0d886b;
}
.messages .message.left .other {
    color: #023dec;
}
.messages .message.left .hero_voice {
    color: #023dec;
}
.messages .message.left .priv_msg {
    color: #fffc5f;
}

.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}
.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}
.messages .message.right .text {
    color: #45829b;
}
.messages .message.appeared {
    opacity: 1;
}
.messages .message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.orc_male {
    background-image: url("template/cabinet/assets/images/race/male/orc.jpg");
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    width: calc(100% - 15px);
    min-width: 100px;
    position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 5px;
    border: solid transparent;
    /* content: " "; */
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}
.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -1px;
}
.messages .message .text_wrapper .text {
    font-size: 14px;
    font-weight: 300;
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}
.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}
.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}
.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}