{% extends 'base.html' %}

{% block content %}
{% if castles is same as(false) %}
{% include '/statistic/none.html' %}
{% else %}
<h3 class="mb-0">{{phrase(98)}} {{ server_info.name }}</h3>
{% include '/statistic/statistic_menu.html' %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{phrase(104)}}</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{phrase(105)}}</th>
                            <th scope="col">{{phrase(94)}}</th>
                            <th scope="col">{{phrase(101)}}</th>
                            <th scope="col">{{phrase(106)}}</th>
                            <th scope="col">{{phrase(107)}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for castle in castles %}
                        <tr>
                            <td><img class="img-fluid" src="{{template}}/assets/images/castle/{{castle.castle_id}}.jpg">
                            </td>
                            <td>{{ get_castle(castle.castle_id) }}</td>
                            <td>{% if castle['alliance_crest']!=null%}<img src="data:image/png;base64, {{castle['alliance_crest']}}">{% endif %}
                                {% if castle['clan_crest']!=null%}<img src="data:image/png;base64, {{castle['clan_crest']}}">{% endif %}
                                {% if castle.clan_name  %}
                                   <a href="/statistic/clan/{{castle.clan_name|url_encode}}">{{castle.clan_name}}</a>
                                {% else %}
                                   NPC
                                {% endif %}
                            </td>
                            <td><a href="/statistic/char/{{ castle.player_name|url_encode }}">{{ castle.player_name }}</a></td>
                            <td>{{ castle.tax??0 }}%</td>
                            <td>{{ fdate(castle.dataSiege) }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div><!--End Row-->
{% endif %}


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}