{% extends 'base.html' %}

{% block content %}
 
<h3 class="mb-0"></h3>

<div class="row">
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">Информация о персонаже {{player.player_name}} {% if player.title %} <span class="badge badge-pill badge-dark shadow-dark m-1">{{player.title}}</span>{%endif%}</div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Уровень:</th>
                                <td>{{player.level}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PvP / PK:</th>
                                <td>{{player.pvp}} / {{player.pk}}</td>
                            </tr>
                            {% if karma %}
                            <tr>
                                <th scope="row">Карма:</th>
                                <td>{{player.karma}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Класс:</th>
                                <td>{{get_class(player.class_id)}}</td>
                            </tr>
                            {% if createtime %}
                            <tr>
                                <th scope="row">Дата создания:</th>
                                <td>{{ fdate(player.createtime) }} </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Время онлайна:</th>
                                <td>{{ timeHasPassed ( player.time_in_game ) }} </td>
                            </tr>
                            <tr>
                                <th scope="row">Клан:</th>
                                {% if player.clan_name %}
                                <td><a href="/statistic/clan/{{ player.clan_name|url_encode }}">{{ player.clan_name }}</a></td>
                                {% else %}
                                <td>Нет клана</td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Саб-классы</div>
                                <div class="table-responsive">
								   <table class="table table-sm">
									<tbody>
									{% for player in sub_class %}
									  <tr>
										<td>{{get_class(player.class_id)}}</td>
										<td>{{player.level}}</td>
									  </tr>
									 {% endfor %}
									</tbody>
								  </table>
								</div>
                                
 
                 </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Инвентарь</div>

                      <div class="col-lg-12 player-icons">
						{% for item in inventory %}
							{% if item.loc == "PAPERDOLL" %}
								<img {% if item.enchant_level > 0 %} class="player-inventory-enchant" {% else %} class="player-inventory-enchant-null" {% endif %}
                                data-toggle="tooltip" data-placement="top"
								title="{% if item.enchant_level > 0 %}+{{item.enchant_level}} {% endif %} {% if item.count > 1 %}[{{format_number_fr(item.count)}}] {% endif %} {% if item.name_en %}{{item.name_en}}{% else %}No Item Name{%endif%}"
								src="{{ icon( item.icon ) }}" >
							{% endif %}
						{% endfor %}
						<hr>
						{% for item in inventory %}
							{% if item.loc == "INVENTORY" %}
								<img item-id="{{item.icon}}" {% if item.enchant_level > 0 %} class="player-inventory-enchant" {% else %} class="player-inventory-enchant-null" {% endif %}
                                data-toggle="tooltip" data-placement="top"
								title="{% if item.enchant_level > 0 %}+{{item.enchant_level}}{% endif %} {% if item.count > 1 %}[{{format_number_fr(item.count)}}] {% endif %} {% if item.name_en %}{{item.name_en}}{% else %}No Item Name{%endif%}"
                                src="{{ icon( item.icon ) }}" >
							{% endif %}
 						{% endfor %}
					</div>
					   
                </div>


            </div>
        </div>


    </div>

</div>
 


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}