{% extends 'base.html' %}

{% set title = phrase(252, clan_info.clan_name) %}

{% block content %}
{% if clan_info is same as(null) %}
{% include '/statistic/none.html' %}
{% else %}
<h3 class="mb-0"></h3>

<div class="row">
    <div class="col-lg-12">

        <div class="row">


            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">{{phrase(118)}} {{clan_info.clan_name}}</div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">{{phrase(101)}}:</th>
                                <td><a href="/statistic/char/{{ clan_info.player_name_leader_clan|url_encode }}">{{clan_info.player_name_leader_clan}}</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(102)}}:</th>
                                <td>{{ format_number_fr(clan_info.reputation_score) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(103)}}:</th>
                                <td>{{ clan_players|length }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(119)}}:</th>
                                <td>{{ timeHasPassed ( array_field_sum( clan_players , 'time_in_game') ) }} </td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(120)}} PvP / PK:</th>
                                <td>{{ array_field_sum( clan_players , 'pvp') }} / {{ array_field_sum( clan_players , 'pk') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(121)}}:</th>
                                <td>{{ get_castle(clan_info.castle_id) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(122)}}:</th>
                                <td>{{ get_fort(clan_info.fortress_id) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{phrase(123)}}:</th>
                                <td>{{ get_clanhall(clan_info.clanhall_id) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{phrase(124)}}</div>
                    <div class="card-body">
                        <section class="icon">
                            <div class="row fontawesome-icon-list">
                                {% for player in clan_players %}
                                <div class="fa-hover col-lg-6 col-xl-4">
                                    <a href="/statistic/char/{{ player.player_name|url_encode }}">{{player.player_name}} {% if player.online %}<small class="badge badge-dark badge-pill text-danger">в игре</small>{% endif %}</a>
                                </div>
                                {% endfor %}
                            </div>
                        </section>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">{{phrase(125)}}</div>

                    <ul class="list-group list-group-flush">

                        {% for skill in clan_skills %}
                        <li class="list-group-item">
                            <div class="media align-items-center">
                                <img src="/uploads/images/skills/{{skill.icon}}.webp"
                                     class="customer-img  skill-img">
                                <div class="media-body ml-3">
                                    <div class="media-body text-left ml-3">
                                        <div class="progress-wrapper">
                                            <p>{{skill.name_en}} <span class="float-right">{{skill.skill_level}} lvl / {{skill.level_max}} lvl</span>
                                            </p>
                                            <div class="progress" style="height: 5px;">
                                                <div class="progress-bar gradient-blooker" style="width:{{ skill.skill_level / skill.level_max * 100 }}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>


            </div>
        </div>


    </div>

</div>
{% endif %}


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}