{% extends 'base.html' %}

{% block content %}
{% if online_times is same as(false) %}
{% include '/statistic/none.html' %}
{% else %}
	  <h3 class="mb-0">{{phrase(96)}} {{ server_info.name }}</h3>
	  {% include '/statistic/statistic_menu.html' %}
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{phrase(108)}}</h5>
			  <div class="table-responsive">
               <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{phrase(93)}}</th>
                      <th scope="col">{{phrase(100)}}</th>
                      <th scope="col">{{phrase(109)}}</th>
                      <th scope="col">{{phrase(95)}}</th>
                    </tr>
                  </thead>
                  <tbody>
					{% for i, player in online_times %}
				
						<tr>
						  <th scope="row">{{ i+1 }}</th>
						  <td>{% if player['alliance_crest']!=null%}<img src="data:image/png;base64, {{ player['alliance_crest'] }}">{% endif %}{% if player['clan_crest']!=null%}<img src="data:image/png;base64, {{ player['clan_crest'] }}">{% endif %}
                              <a href="/statistic/char/{{ player['player_name']|url_encode }}">{{ player['player_name'] }}</a>
                          </td>
						  <td>{{ player.level }}</td>
						  <td>{{ get_class(player.class_id) }}</td>
						  <td>{{ timeHasPassed(player['time_in_game']) }}</td>
						</tr>
					{% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
    
	</div><!--End Row-->
{% endif %}


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}