{% extends 'basic/base.html' %}

{% block title %}{{phrase("edit")}}{% endblock %}

{% block content %}
<div class="content">

<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">{{phrase("edit")}}</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option">
                <i class="si si-wrench"></i>
            </button>
        </div>
    </div>
<div class="block-content">
    <form action="{{dir}}/admin/pages/edit" method="POST"  enctype="multipart/form-data" >
        <input name="id" type="hidden" value="{{ id }}">
        <div class="row">
            <div class="col-lg-8 col-xl-4 mb-4">
                <label class="form-label" for="title">{{phrase(27)}}</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="{{ phrase(15) }}" value="{{title}}">
            </div>

            <div class="col-lg-4 col-xl-2 mb-4">
                <label class="form-label" for="lang">{{phrase("lang")}}</label>
                <select class="form-select" id="lang" name="lang">
                    {% for lang in lang_list() %}
                    <option value="{{lang['lang']}}" {% if page_lang==lang['lang'] %} selected {% endif %}>{{lang['name']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-4 col-xl-4 mb-4">
                <br>
                <div class="space-x-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="comment" name="comment" {% if comment %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="comment">{{phrase(16)}}</label>
                    </div>
                </div>

                <div class="space-x-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="is_news" name="is_news" {% if is_news %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="is_news">{{phrase(453)}}</label>
                    </div>
                </div>
            </div>

        </div>


        <div class="row mb-4">
            <div class="col-lg-12">
                <textarea name="content" id="js-ckeditor" class="form-control writepanel" >{{ description }}</textarea>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label" for="file">Постер</label>
            <input class="form-control" type="file" id="file" name="file">
        </div>

        <div class="row mb-4">
            <div class="ms-auto">
                <button type="submit" class="btn btn-primary">{{ phrase("refresh") }}</button>
            </div>
        </div>
    </form>

</div>
</div>
</div>

{% endblock %}
