
<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>L2 Excellent • INTERLUDE PTS x10 сервер с дополнениями •</title>
    <link rel="stylesheet" href="{{template}}/css/main.css?id=2449d9d2c059ead58e50">
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="description" content="Сервер Interlude x10 с дополнениями. Качественная PTS сборка от команды AdvExt. Выстроенный баланс игры, продуманная экономика, минимальный донат, фиксированный респ эпиков, пвп зоны и усиленные боссы. Мы делали этот сервер с уважением! 
Эта игра завоевала сердца! Вспомни как это было!">
    <meta name="enot" content="4421627481969V80TLghTip022HQHaE-o_s9El-RUiA_n" />
</head>
<body>

<!-- Header -->
<header>
    <div class="container">
        <nav class="header__nav">
            <div class="header__nav-logo">
    <a href="https://l2excellent.ru">
        <picture>
            <source srcset="{{template}}/img/webp/header-logo.webp" type="image/webp">
            <source srcset="{{template}}/img/header-logo.png" type="image/png">
            <img src="{{template}}/img/header-logo.png" alt="L2 Excellent">
        </picture>
    </a>
</div>
            <div class="languages" style="margin-left: 18px;">
    <a href="https://l2excellent.ru/language/ru"
       class="languages__item ru active"
       title="Русский"></a>
    <a href="https://l2excellent.ru/language/en"
       class="languages__item en"
       title="English"></a>
</div>
            <input type="checkbox" id="checkbox" class="header__nav-checkbox">
<label for="checkbox" id="icon" class="header__nav-hamburger">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
</label>
<ul class="header__nav-menu">
    <li><a href="https://l2excellent.ru/register" class="header__nav-menu--item">Регистрация</a></li>
    <li><a href="#" class="header__nav-menu--item" data-files-modal>Файлы</a></li>
    <li><a href="https://forum.l2excellent.ru/" class="header__nav-menu--item">Форум</a></li>
    <li><a href="https://l2excellent.ru/cabinet/donate" class="header__nav-menu--item">Пожертвования</a></li>
    <li>
        <a href="https://l2excellent.ru/cabinet" class="header__nav-menu--item btn btn-small">
            Кабинет
        </a>
    </li>
</ul>
        </nav>
    </div>
</header>

<!-- Main -->
<main>
    <div class="container">
    <div class="main__header">
        <div class="main__header-description" style="">
    <div class="main__header-description--title">
        Добро пожаловать в семью L2 Excellent
    </div>
    <div class="main__header-description--text">
        Сервер Interlude x10 с дополнениями. Качественная PTS сборка от команды AdvExt. Выстроенный баланс игры, продуманная экономика, минимальный донат, фиксированный респ эпиков, пвп зоны и усиленные боссы. Мы делали этот сервер с уважением! 
Эта игра завоевала сердца! Вспомни как это было!
    </div>
    <div class="main__header-description--button">
        <a href="#" class="btn btn-big"  style="float: left" data-files-modal>
            Начать игру
        </a>
	</div>

<div style="display: none; position: absolute; left: 350px;">
	<a style="float: left; margin-left: 15px; margin-top: 6px;" href="https://la2.mmotop.ru/servers/35586/votes/new" target="_blank"><img src="/images/mmotop.png" border="0" id="mmotopratingimg" alt="Рейтинг серверов mmotop"></a>
	<a style="float: left; margin-left: 15px; margin-top: 6px;" href="https://vgw.hopzone.net/site/vote/104850/1" target="_blank"><img src="/images/hopzone.png" alt="Vote our sever on HopZone.Net - top l2 servers" width="140" height="30"></a>
	<a style="float: left; margin-left: 15px; margin-top: 6px;" href="https://l2oops.com" target="_blank"><img src="/images/black_l2oops_mini.png" width="122" height="31" alt="Новые сервера л2, анонсы серверов Lineage 2" title="Новые сервера л2, анонсы серверов Lineage 2" border="0"></a>
	<a style="float: left; margin-left: 15px; margin-top: 6px;" href="https://l2top.ru/vote/31496/" target="_blank"><img src="/images/l2top.pgif" width="88px" height="31px" border="0" alt="L2top.ru: Рейтинг-каталог серверов Lineage2"></a>
</div>
</div>

        <style>
            .main__header-right--server-circle canvas {
                position: absolute;
            }
        </style>

        <div class="main__header-right">
		<div class="main__header-buttons">
	<a href="https://la2.mmotop.ru/servers/35586/votes/new" target="_blank"><img src="images/mmotop.png" border="0" id="mmotopratingimg" alt="Рейтинг серверов mmotop"></a>
	<!--<a href="https://vgw.hopzone.net/site/vote/104850/1" target="_blank"><img src="/images/hopzone.png" alt="Vote our sever on HopZone.Net - top l2 servers" width="140" height="30"></a>-->
	<a href="https://l2oops.com" target="_blank"><img src="images/black_l2oops_mini.png" width="122" height="31" alt="Новые сервера л2, анонсы серверов Lineage 2" title="Новые сервера л2, анонсы серверов Lineage 2" border="0"></a>
	<a href="https://l2top.ru/vote/31496/" target="_blank"><img src="images/l2top.pgif" width="88px" height="31px" border="0" alt="L2top.ru: Рейтинг-каталог серверов Lineage2"></a>
</div>
            <div class="main__header-right--server">
                <div class="main__header-right--server-circle progress"
                     data-progress-id="1"
                     data-progress-value="707"
                     data-progress-max-value="1000"
                     data-progress-img="{{template}}/img/online-full.png">
                    x10
                </div>
                <div class="main__header-right--server-online">
                                            Online: <span>707 players</span>
                                    </div>
            </div>

            <div class="swiper-pagination-videos-wrap">
    <div class="swiper-pagination-videos"></div>
</div>
<div class="swiper-container" id="videos">
    <div class="swiper-wrapper main__header-right--video">
                    <a href="#YUE_3vOtzQ0" data-video-id="YUE_3vOtzQ0" class="swiper-slide js-modal-btn" title="VletayYop">
                <img src="https://file.l2excellent.ru/Site/videos/xiGZWAPlSwSkbHh1eJs8aYGlJnqHnKDX6DlLrexZ.jpg" alt="">
            </a>
                    <a href="#BmlWyapcHrM" data-video-id="BmlWyapcHrM" class="swiper-slide js-modal-btn" title="Full YouTube IIcux">
                <img src="https://file.l2excellent.ru/Site/videos/4oIWdjrZCzAoYiyOngpEukUVxYFEx9CGoU4BH8sF.png" alt="">
            </a>
                    <a href="#iymLMutUY8k" data-video-id="iymLMutUY8k" class="swiper-slide js-modal-btn" title="10 Декабря иду на l2excellent.ru сервер interlude x10">
                <img src="https://file.l2excellent.ru/Site/videos/X98K0AR5YPCBq1ClVaxSLAYjdtD4TkJj1tdJ7KxS.png" alt="">
            </a>
            </div>
</div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="main__content">
            <div class="swiper-wrapper main__content-news">
                    <div class="swiper-slide main__content-news--article" style="background-image: url('https://file.l2excellent.ru/Site/images/TnJhEBK2taQHVUjHaWBKWfMVP5NAkmIQEUkzEtC1.png')">
                <div class="main__content-news--article-date">
                    01.12.2021
                </div>
                <a href="https://forum.l2excellent.ru/index.php?threads/%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%B0.6/" class="main__content-news--article-title">
                    Открытие сервера Interlude x10 состоялось 10.12.2021 в 20:00! ПРИЯТНОЙ ИГРЫ!
                </a>
            </div>
            </div>
            <div class="main__content-forum">
            <div class="main__content-forum--post">
            <a href="https://forum.l2excellent.ru/index.php?members/AntiCheat.133/" target="_blank" class="main__content-forum--post-avatar">
                <img src="https://forum.l2excellent.ru/data/avatars/m/0/133.jpg" alt="user" onerror="this.style.display='none'">
                <span class="no-avatar">A</span>
            </a>
            <div class="main__content-forum--post-info">
                <div class="main__content-forum--post-title">
                    <a href="https://forum.l2excellent.ru/index.php?threads/121" target="_blank" title="Движуха на сервере? Неее, не слышали...">Движуха на сервере? Неее, не...</a>
                </div>
                <div class="main__content-forum--post-subtitle">
                    <a href="https://forum.l2excellent.ru/index.php?members/AntiCheat.133/" target="_blank">
                        AntiCheat
                    </a> 2 дня назад
                </div>
            </div>
        </div>
            <div class="main__content-forum--post">
            <a href="https://forum.l2excellent.ru/index.php?members/Spinelli.116/" target="_blank" class="main__content-forum--post-avatar">
                <img src="https://forum.l2excellent.ru/data/avatars/m/0/116.jpg" alt="user" onerror="this.style.display='none'">
                <span class="no-avatar">S</span>
            </a>
            <div class="main__content-forum--post-info">
                <div class="main__content-forum--post-title">
                    <a href="https://forum.l2excellent.ru/index.php?threads/88" target="_blank" title="Количество спойла?">Количество спойла?</a>
                </div>
                <div class="main__content-forum--post-subtitle">
                    <a href="https://forum.l2excellent.ru/index.php?members/Spinelli.116/" target="_blank">
                        Spinelli
                    </a> 5 дней назад
                </div>
            </div>
        </div>
            <div class="main__content-forum--post">
            <a href="https://forum.l2excellent.ru/index.php?members/[ADM]Ezequiel.1/" target="_blank" class="main__content-forum--post-avatar">
                <img src="https://forum.l2excellent.ru/data/avatars/m/0/1.jpg" alt="user" onerror="this.style.display='none'">
                <span class="no-avatar">[</span>
            </a>
            <div class="main__content-forum--post-info">
                <div class="main__content-forum--post-title">
                    <a href="https://forum.l2excellent.ru/index.php?threads/120" target="_blank" title="Список обновлений">Список обновлений</a>
                </div>
                <div class="main__content-forum--post-subtitle">
                    <a href="https://forum.l2excellent.ru/index.php?members/[ADM]Ezequiel.1/" target="_blank">
                        [ADM]Ezequiel
                    </a> 1 неделю назад
                </div>
            </div>
        </div>
            <div class="main__content-forum--post">
            <a href="https://forum.l2excellent.ru/index.php?members/AntiCheat.133/" target="_blank" class="main__content-forum--post-avatar">
                <img src="https://forum.l2excellent.ru/data/avatars/m/0/133.jpg" alt="user" onerror="this.style.display='none'">
                <span class="no-avatar">A</span>
            </a>
            <div class="main__content-forum--post-info">
                <div class="main__content-forum--post-title">
                    <a href="https://forum.l2excellent.ru/index.php?threads/117" target="_blank" title="Проклятое оружие.">Проклятое оружие.</a>
                </div>
                <div class="main__content-forum--post-subtitle">
                    <a href="https://forum.l2excellent.ru/index.php?members/AntiCheat.133/" target="_blank">
                        AntiCheat
                    </a> 2 недели назад
                </div>
            </div>
        </div>
            <div class="main__content-forum--post">
            <a href="https://forum.l2excellent.ru/index.php?members/[ADM]Ezequiel.1/" target="_blank" class="main__content-forum--post-avatar">
                <img src="https://forum.l2excellent.ru/data/avatars/m/0/1.jpg" alt="user" onerror="this.style.display='none'">
                <span class="no-avatar">[</span>
            </a>
            <div class="main__content-forum--post-info">
                <div class="main__content-forum--post-title">
                    <a href="https://forum.l2excellent.ru/index.php?threads/118" target="_blank" title="Заблокирована загрузка файла &#039;D:\игры\L2_Interlude_Client_ncsoft\Новая папка\system\dsetup.dll&#039;
[23:45:01] Игра завершилась с ошибкой! Код ошибки: 0x">Заблокирована загрузка файла...</a>
                </div>
                <div class="main__content-forum--post-subtitle">
                    <a href="https://forum.l2excellent.ru/index.php?members/[ADM]Ezequiel.1/" target="_blank">
                        [ADM]Ezequiel
                    </a> 2 недели назад
                </div>
            </div>
        </div>
    </div>
            <div class="main__content-rating">
    <div class="main__content-rating--select">
        <a href="#" class="active" data-tab="tabPlayers">Топ Игроков</a>
        <a href="#" data-tab="tabClans">Топ Кланов</a>
        <a href="#" data-tab="tabCastles">Топ Замков</a>
    </div>
    <div class="main__content-rating--content active" id="tabPlayers">
                    <div class="main__content-rating--item">
                Fanat <span class="main__content-rating--item-rating">289</span>
            </div>
                    <div class="main__content-rating--item">
                Poltavchanka <span class="main__content-rating--item-rating">268</span>
            </div>
                    <div class="main__content-rating--item">
                TORpeda <span class="main__content-rating--item-rating">256</span>
            </div>
                    <div class="main__content-rating--item">
                Tokio <span class="main__content-rating--item-rating">209</span>
            </div>
                    <div class="main__content-rating--item">
                ONE <span class="main__content-rating--item-rating">172</span>
            </div>
            </div>
    <div class="main__content-rating--content" id="tabClans">
                    <div class="main__content-rating--item">
                Just <span class="main__content-rating--item-rating">960</span>
            </div>
                    <div class="main__content-rating--item">
                DP <span class="main__content-rating--item-rating">707</span>
            </div>
                    <div class="main__content-rating--item">
                Pride <span class="main__content-rating--item-rating">561</span>
            </div>
                    <div class="main__content-rating--item">
                Justice <span class="main__content-rating--item-rating">105</span>
            </div>
                    <div class="main__content-rating--item">
                Prostokvation <span class="main__content-rating--item-rating">46</span>
            </div>
            </div>
    <div class="main__content-rating--content" id="tabCastles">
                    <div class="main__content-rating--item">
                Gludio Castle <span class="main__content-rating--item-rating"></span>
            </div>
                    <div class="main__content-rating--item">
                Dion Castle <span class="main__content-rating--item-rating"></span>
            </div>
                    <div class="main__content-rating--item">
                Giran Castle <span class="main__content-rating--item-rating">Pride</span>
            </div>
                    <div class="main__content-rating--item">
                Oren Castle <span class="main__content-rating--item-rating"></span>
            </div>
                    <div class="main__content-rating--item">
                Aden Castle <span class="main__content-rating--item-rating"></span>
            </div>
            </div>
</div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="footer">
            <div class="footer__copyright">
                <div class="footer__copyright-logo">
    <picture>
        <source srcset="{{template}}/img/webp/footer-logo.webp" type="image/webp">
        <source srcset="{{template}}/img/footer-logo.png" type="image/png">
        <img src="{{template}}/img/footer-logo.png" alt="L2 Excellent">
    </picture>
</div>
                <div class="footer__copyright-info">
    <div class="footer__copyright-info--text">
        <div class="footer__copyright-info">
    <div class="footer__copyright-info--text">
        &copy; 2022 L2EXCELLENT.
    </div>
    <div class="footer__copyright-info--policy" style="display:flex; flex-direction: column;">
        <a href="https://l2excellent.ru/term">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
        <a href="https://l2excellent.ru/policy">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
    </div>
</div>    </div>
    
</div>
            </div>
            <div class="footer__menu_2">
    <div class="footer__menu">
        <ul class="footer__menu-links">
            <li class="footer__menu-links--item">
                <a href="https://l2excellent.ru">Главная</a>
            </li>
            <li class="footer__menu-links--item">
                <a href="https://forum.l2excellent.ru/index.php?threads/Описание-игрового-мира-l2excellent.6/">Описание проекта</a>
            </li>
        </ul>
    </div>

    <div class="footer__menu">
        <ul class="footer__menu-links">
            <li class="footer__menu-links--item">
                <a href="https://l2excellent.ru/register">Регистрация</a>
            </li>
            <li class="footer__menu-links--item">
                <a href="#" data-files-modal>Файлы для игры</a>
            </li>
        </ul>
    </div>

    <div class="footer__menu">
        <ul class="footer__menu-links">
            <li class="footer__menu-links--item">
                <a href="https://forum.l2excellent.ru/">Наш форум</a>
            </li>
            <li class="footer__menu-links--item">
                <a href="https://l2excellent.ru/cabinet/donate">Пожертвования</a>
            </li>
        </ul>
    </div>
</div>
            <div class="footer__socials">
    <a href="https://vk.com/l2excellent" class="footer__socials-item vk"></a>
    <a href="https://t.me/l2Excellent" class="footer__socials-item telegram"></a>
    <a href="https://www.youtube.com/watch?v=l637v5ewswA&amp;amp;amp;amp;amp;t=1s" class="footer__socials-item youtube"></a>
</div>
            <div class="unsimple">
    <a href="https://unsimpleworld.com" target="_blank"
       title="Разработка дизайна сайта Unsimple Group: Unsimple World!">
        <picture>
            <source srcset="{{template}}/img/webp/unsimple.webp" type="image/webp">
            <source srcset="{{template}}/img/unsimple.png" type="image/png">
            <img src="{{template}}/img/unsimple.png" alt="Unsimple World">
        </picture>
    </a>
</div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div id="modalFiles" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>СКАЧАТЬ ФАЙЛЫ</h2>
        <div class="modal__item--title">
            1. СКАЧАЙ И УСТАНОВИ ИГРУ
            <span>Для игры на серверах L2 Excellent тебе необходим клиент игры INTERLUDE.</span>
        </div>

        <div class="modal__item--link">
            Скачать Апдейтер для сервера
            <a href="https://file.l2excellent.ru/Patch/Updater/L2Excellent.exe" class="btn btn-small">Скачать</a>
        </div>
        <div class="modal__item--link">
            Скачать клиент Interlude torrent (Рекомендуется)
            <a href="https://file.l2excellent.ru/Patch/Lineage%202%20-%20Interlude%20OFF.torrent" class="btn btn-small">Скачать</a>
        </div>

        <div class="modal__item--title">
            2. УСТАНОВИ ПАТЧ
            <span>Патч распакуй в корневую папку игры. Запуск игры D:\Lineage 2\system L2.exe.</span>
        </div>

        <div class="modal__item--link">
            Скачать патч для сервера L2 Excellent с нашего сайта
            <a href="https://file.l2excellent.ru/Patch/L2Excellent_Patch_1911.rar" class="btn btn-small">Скачать</a>
        </div>
        <div class="modal__item--link">
            Скачать патч для сервера L2 Excellent с зеркала Yandex
            <a href="https://disk.yandex.ru/d/zpjkkGtPvmhK7A" class="btn btn-small">Скачать</a>
        </div>
        <div class="modal__item--link">
            Скачать патч для сервера L2 Excellent с зеркала Google
            <a href="https://drive.google.com/file/d/13omYYZmxinlfxTWxClQfefE8LHYEMI9d/view?usp=sharing" class="btn btn-small">Скачать</a>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="{{template}}/js/main.js?id=d4b76621d8a5e646f324"></script>
    <script src="{{template}}/js/jquery-3.4.1.js"></script>
    <script src="{{template}}/js/progress.js"></script>

</body>
</html>
