<!DOCTYPE html>
<html lang="ru">

<head>

    <script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-167385217-1"></script>
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-167385217-1', {'anonymize_ip': true});</script>
    <script>   (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(91051000, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });</script>
    <noscript>
        <div><img alt="" src="https://mc.yandex.ru/watch/91051000" style="position:absolute; left:-9999px;"/></div>
    </noscript>
    <title>Taurius Lineage II Project</title>
    <meta content="Description here" name="Description">
    <meta content="Taurius Lineage II Project" name="Keywords">

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="#181b20" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width" name="viewport">
    <!-- <meta name="author" content="Front-End by Vitalii P. > Get-Web.site"> -->

    <link href="{{template}}/images/favicon/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon">
    <link href="{{template}}/images/favicon/favicon-16x16.png?v=1" rel="icon" sizes="16x16" type="image/png">
    <link href="{{template}}/images/favicon/favicon-32x32.png?v=1" rel="icon" sizes="32x32" type="image/png">
    <link href="{{template}}/images/favicon/apple-touch-icon-precomposed.png?v=1" rel="apple-touch-icon-precomposed">
    <link href="{{template}}/images/favicon/apple-touch-icon.png?v=1" rel="apple-touch-icon">
    <link href="{{template}}/images/favicon/apple-touch-icon-57x57.png?v=1" rel="apple-touch-icon" sizes="57x57">
    <link href="{{template}}/images/favicon/apple-touch-icon-60x60.png?v=1" rel="apple-touch-icon" sizes="60x60">
    <link href="{{template}}/images/favicon/apple-touch-icon-72x72.png?v=1" rel="apple-touch-icon" sizes="72x72">
    <link href="{{template}}/images/favicon/apple-touch-icon-76x76.png?v=1" rel="apple-touch-icon" sizes="76x76">
    <link href="{{template}}/images/favicon/apple-touch-icon-114x114.png?v=1" rel="apple-touch-icon" sizes="114x114">
    <link href="{{template}}/images/favicon/apple-touch-icon-120x120.png?v=1" rel="apple-touch-icon" sizes="120x120">
    <link href="{{template}}/images/favicon/apple-touch-icon-144x144.png?v=1" rel="apple-touch-icon" sizes="144x144">
    <link href="{{template}}/images/favicon/apple-touch-icon-152x152.png?v=1" rel="apple-touch-icon" sizes="152x152">
    <link href="{{template}}/images/favicon/apple-touch-icon-167x167.png?v=1" rel="apple-touch-icon" sizes="167x167">
    <link href="{{template}}/images/favicon/apple-touch-icon-180x180.png?v=1" rel="apple-touch-icon" sizes="180x180">

    <meta content="website" property="og:type">
    <meta content="http://localhost" property="og:url">
    <meta content="Taurius Lineage II Project" property="og:title">
    <meta content="{{template}}/images/sclbnr-ru.jpg" property="og:image">
    <meta content="Description here" property="og:description">
    <meta content="Taurius Lineage II Project" property="og:site_name">
    <meta content="ru_RU" property="og:locale">
    <!-- Next tags are optional but recommended -->
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">

    <script>
        const __config = {
            preload: {
                /* Время показа прелоадера в секундах */
                /* Preloader display time in seconds */
                time: 0.8,
            },
            stream: {
                insertDelay: 500,
            },
            sliders: {
                announcements: {
                    init: true,
                    loop: false,
                    autoplay: true,
                    autoplayDelay: 7000,
                },
            },
            entrance: {
                /* Включить true, выключить false */
                init: true,
                /* Целевая модалка */
                target: "entrance",
                /* Минимум часов через сколько показать заново*/
                from: 24,
                /* Максимум часов через сколько показать заново*/
                to: 48,
                /* Через сколько секунд после загрузки сайта, появится окно */
                delay: 1,
                /* Меняем название куки, чтобы заново показалась всем */
                CookiesName: "entrance-0",
            },
        };
    </script>    <!-- fonts -->
    <link href="{{template}}/fonts/SegoeUI/stylesheet.css" rel="stylesheet">
    <link href="{{template}}/libs/gwi/css/gwi.css" rel="stylesheet">

    <!-- libs -->
    <link href="{{template}}/libs/fancybox/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="{{template}}/libs/swiper/css/swiper.min.css" rel="stylesheet">

    <!-- Main style -->
    <link href="{{template}}/css/main.css?ver=0.0.4" rel="stylesheet">

    <meta content="9001668086964thziPHAgnc7ZK5dL72l7oP7rx0TrrLtc" name="enot"/>
</head>

<body class="body body_home">


<div class="preload">
    <img alt="" class="preload__logo" src="{{template}}//images/preload/preload.png">
</div>

<div class="page page_home">

    <section class="section compensate-for-scrollbar" data-section="navigation">
        <div class="container" data-container="navigation">
            <div class="navigation">
                <div class="navigation__box navigation__box_left">
                    <div class="navigation__gw-burger gw-burger" data-gw-burger>
                        <div class="gw-burger__line gw-burger__line_pos_top"></div>
                        <div class="gw-burger__line gw-burger__line_pos_middle"></div>
                        <div class="gw-burger__line gw-burger__line_pos_bottom"></div>
                    </div>

                    <div class="navigation__menu menu" data-menu>
                        <div class="menu__content">
                            <ul class="menu__list">
                                <li class="menu__el">
                                    <a class="menu__item" href="https://taurius.ru/ru/">
                                        <div class="menu__pic">
                                            <img alt="i1" class="menu__img" src="{{template}}/images/menu/ico-1.svg">
                                        </div>
                                        Главная </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" data-open-window="modal-files" href="javascript:">
                                        <div class="menu__pic">
                                            <img alt="i2" class="menu__img" src="{{template}}/images/menu/ico-2.svg">
                                        </div>
                                        Файлы </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" href="{{alias('registration_account')}}">
                                        <div class="menu__pic">
                                            <img alt="i3" class="menu__img" src="{{template}}/images/menu/ico-3.svg">
                                        </div>
                                        Регистрация </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" data-open-window="modal-about" href="javascript:">
                                        <div class="menu__pic">
                                            <img alt="i4" class="menu__img" src="{{template}}/images/menu/ico-4.svg">
                                        </div>
                                        О серверe </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" href="https://forum.taurius.ru/">
                                        <div class="menu__pic">
                                            <img alt="i5" class="menu__img" src="{{template}}/images/menu/ico-5.svg">
                                        </div>
                                        Форум </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" href="{{alias('donate')}}">
                                        <div class="menu__pic">
                                            <img alt="i6" class="menu__img" src="{{template}}/images/menu/ico-6.svg">
                                        </div>
                                        Пожертвования </a>
                                </li>
                                <li class="menu__el">
                                    <a class="menu__item" href="https://taurius.ru/ru/faq">
                                        <div class="menu__pic">
                                            <img alt="i7" class="menu__img" src="{{template}}/images/menu/ico-7.svg">
                                        </div>
                                        Помощь </a>
                                </li>
                                <li class="menu__el menu__el_desktop_none">
                                    <a class="menu__item" href="https://taurius.ru/ru/sign-in">
                                        <div class="menu__pic">
                                            <img alt="i8" class="menu__img" src="{{template}}/images/menu/ico-8.svg">
                                        </div>
                                        Личный кабинет </a>
                                </li>
                            </ul> <!-- END menu__list -->
                        </div> <!-- END menu__content -->
                    </div> <!-- END menu -->

                </div>
                <div class="navigation__container">
                    <a class="logo" href="https://taurius.ru/ru/">
                        <img alt="logo" class="logo__img" src="{{template}}/images/logo/logo.png">
                        <img alt="logo" class="logo__img logo__img_hover_animation"
                             src="{{template}}/images/logo/logo.png">
                    </a>
                </div>
                <div class="navigation__box navigation__box_right">

                    <div class="navigation__lang lang">

                        {% for lang in lang_list() %}
                         <div class="{% if lang['isActive'] %}lang__current{% else %}lang__list{% endif %}">
                            {% if lang['isActive']==false %}
                              <a class="lang__link lang__link_sub" href="/user/change/lang/{{lang['lang']}}">
                            {% endif %}
                                <div class="lang__pic">
                                    <img alt="{{ lang['name'] }}" class="lang__img"
                                         src="{{template}}/images/lang/lang-{{ lang['lang'] }}.jpg">
                                </div>
                                <div class="lang__name">{{ lang['name'] }}</div>
                              </a>
                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
            <!-- END  navigation -->
        </div>
        <!-- END  container -->
    </section>
    <!-- END  section -->

    <section class="section" data-section="header">
        <div class="container" data-container="header">
            <div class="header">

                <div class="header__content">

                    <a class="header__logotype logotype" href="https://taurius.ru/ru/">
                        <img alt="logotype" class="logotype__img" src="{{template}}/images/logotype/logotype.png">
                        <img alt="logotype" class="logotype__img logotype__img_hover_animation"
                             src="{{template}}/images/logotype/logotype.png">
                    </a>


                    <div class="header__btns">
                        <a class="button" href="{{alias('registration_account')}}">
                            <span class="button__ico gwi gwi_user"></span>
                            Регистрация</a>
                        <a class="header__button_desktop button button_color_red" href="{{alias('home')}}">
                            <span class="button__ico gwi gwi_enter"></span>
                            Личный кабинет</a>
                    </div>

                </div> <!-- END  header__content -->

                <div class="header__servers">


                    <div class="server server_on">
                        <div class="server__pic">
                            <img alt="ico-0" class="server__img" src="{{template}}/images/server/ico-1.svg">
                        </div>
                        <div class="server__title">
                            Taurius x25
                        </div>
                        <div class="server__info">
                            Multi-Craft
                        </div>
                        <a class="server__more"
                           href="https://forum.taurius.ru/index.php?threads/Описание-taurius-x25-multi-craft.10/#post-15">
                            Описание </a>
                    </div> <!-- END server -->

                </div> <!-- END  header__servers -->

            </div> <!-- END  header -->
        </div> <!-- END  container -->
    </section> <!-- END  section -->
    <div class="char" data-char>
        <div class="char__body char__body_animated"></div>
    </div> <!-- END char -->
    <div class="sparks">
        <div class="spark_1 sparks__item sparks__item_1"></div>
        <div class="spark_2 sparks__item sparks__item_2"></div>
        <div class="spark_3 sparks__item sparks__item_3"></div>
        <div class="spark_4 spark-big sparks__item sparks__item_4"></div>
        <div class="spark_5 spark-big sparks__item sparks__item_5"></div>
    </div>            <!-- Video background -->
    <div class="videobg">
        <div class="videobg__container">
            <video autoplay class="videobg__video" id="videobg__video" loop muted no-controls playsinline>
                <source class="videobg__source" src="{{template}}/images/videobg/video.webm" type="video/webm"/>
                <source class="videobg__source" src="{{template}}/images/videobg/video.mp4" type="video/mp4"/>
            </video>
        </div>
    </div>
    <div class="container" data-container="media">
        <div class="media">

            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-1" class="heading__img" src="{{template}}/images/heading/img-1.jpg">
                        </div>
                        <div class="heading__title">{{phrase('important_announcements')}}</div>
                    </div>
                </div>


                <div class="box__body">


                    <div class="announcements">
                        <div class="announcements__container" data-slider-announcements="true">
                            <div class="swiper-wrapper announcements__swiper-wrapper">
                                <!-- SLiDE START -->
                                <div class="swiper-slide announcements__swiper-slide">
                                    <div class="announcements__post border-gradient shadow">
                                        <a class="announcements__link"
                                           href="https://forum.taurius.ru/index.php?threads/ОБТ-04-11-2022.7/"></a>
                                        <div class="announcements__bg"
                                             style="background-image: url(https://microbrandwatchworld.com/wp-content/uploads/2015/09/Beta-Testing-790x79011.png);"></div>
                                        <div class="announcements__note">ОБТ 04.11.2022</div>
                                        <div class="announcements__desc"></div>
                                    </div>
                                </div> <!-- END  swiper-slide -->
                                <!-- SLiDE END -->

                            </div> <!-- END  swiper-wrapper -->
                        </div>
                        <div class="announcements__spag spag">
                            <div class="sarrow sarrow_prev" data-slider-prev="announcements"></div>
                            <div class="announcements__dots dots" data-slider-dots="announcements"></div>
                            <div class="sarrow sarrow_next" data-slider-next="announcements"></div>
                        </div>
                    </div> <!-- END announcements -->

                </div>
            </div>
            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-1" class="heading__img" src="{{template}}/images/heading/img-2.jpg">
                        </div>
                        <div class="heading__title">Стримеры проекта</div>
                    </div>
                </div>


                <div class="box__body">

                    <div class="streams scroll">


                        <div class="streams__stream stream border-gradient"
                             data-insertstream='{ "type" : "youtube", "src" : "https://www.youtube.com/embed/VNqKnJmHfRU?origin=taurius.ru&autoplay=0&mute=1" }'>
                            <div class="stream__content border-dec">
                                <div class="stream__ico">
                                    <i class="gwi gwi_signal"></i>
                                </div>
                                <div class="stream__desc">Хотите разместить свой стрим ?</div>
                                <a class="stream__link"
                                   href="https://forum.taurius.ru/index.php?threads/Добавление-стрима-на-главную.37/">Написать
                                    нам →</a>
                            </div>
                        </div> <!-- END stream -->

                        <div class="streams__stream stream border-gradient"
                             data-insertstream='{ "type" : "youtube", "src" : "https://www.youtube.com/embed/URCtcHEWsGE?origin=taurius.ru&autoplay=0&mute=1" }'>
                            <div class="stream__content border-dec">
                                <div class="stream__ico">
                                    <i class="gwi gwi_signal"></i>
                                </div>
                                <div class="stream__desc">Хотите разместить свой стрим ?</div>
                                <a class="stream__link"
                                   href="https://forum.taurius.ru/index.php?threads/Добавление-стрима-на-главную.37/">Написать
                                    нам →</a>
                            </div>
                        </div> <!-- END stream -->


                        <div class="streams__stream stream border-gradient">
                            <div class="stream__content border-dec">
                                <div class="stream__ico">
                                    <i class="gwi gwi_signal"></i>
                                </div>
                                <div class="stream__desc">Хотите разместить свой стрим ?</div>
                                <a class="stream__link"
                                   href="https://forum.taurius.ru/index.php?threads/Добавление-стрима-на-главную.37/">Написать
                                    нам →</a>
                            </div>
                        </div> <!-- END stream -->
                        <div class="streams__stream stream border-gradient">
                            <div class="stream__content border-dec">
                                <div class="stream__ico">
                                    <i class="gwi gwi_signal"></i>
                                </div>
                                <div class="stream__desc">Хотите разместить свой стрим ?</div>
                                <a class="stream__link"
                                   href="https://forum.taurius.ru/index.php?threads/Добавление-стрима-на-главную.37/">Написать
                                    нам →</a>
                            </div>
                        </div> <!-- END stream -->

                    </div> <!-- END streams -->
                </div>
            </div>
        </div> <!-- END  media -->
    </div> <!-- END  container -->

    <div class="container" data-container="general">
        <div class="general">

            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-3" class="heading__img" src="{{template}}/images/heading/img-3.jpg">
                        </div>
                        <div class="heading__title">Последние новости</div>
                    </div>
                    <a class="heading__link" href="https://forum.taurius.ru/index.php?forums/Новости-и-Объявления.2/">Остальные
                        новости →</a>
                </div>


                <div class="box__body box__body_bg box__body_pt box__body_pb">
                    {% for news in last_news() %}
                    <div class="post">
                        <a class="post__link"
                           href="/page/{{news.id}}"></a>
                        <div class="post__pic">
                            <div class="post__img"></div>
                        </div>
                        <div class="post__content">
                            <div class="post__title">
                                {{news.name|raw}}
                            </div>
                            <div class="post__info">
                                <div class="post__date">{{news.date_create}}</div>
                            </div>
                        </div>
                        <div class="post__bt bt">Подробнее →</div>
                    </div> <!-- END post -->
                    {% endfor %}
                </div>
            </div>

            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-4" class="heading__img" src="{{template}}/images/heading/img-4.jpg">
                        </div>
                        <div class="heading__title">СООБЩЕНИЯ С ФОРУМА</div>
                    </div>
                    <a class="heading__link" href="https://forum.taurius.ru/">Форум →</a>
                </div>


                <div class="box__body box__body_bg box__body_pt box__body_pb">

                    {% for forum in last_forum_message(5) %}
                    <div class="theme">
                        <a class="theme__link" href="{{ get_forum_link(forum) }}"></a>
                        <div class="theme__pic" style="background-image: url({{template}}/images/theme/ava-def.jpg);">
                        </div>
                        <div class="theme__content">
                            <div class="theme__title">
                                {{ forum.title }}
                            </div>
                            <div class="theme__info">
                                <div class="theme__author">{{ forum.last_poster_name }}</div>
                                <div class="theme__sep">|</div>
                                <div class="theme__date">{{ forum.last_post|date("d.m.Y") }}</div>
                            </div>
                        </div>
                    </div> <!-- END theme -->
                    {% endfor %}

                </div>
            </div>
            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-5" class="heading__img" src="{{template}}/images/heading/img-5.jpg">
                        </div>
                        <div class="heading__title">АКЦИИ ДЛЯ ИГРОКОВ</div>
                    </div>
                    <a class="heading__link" href="#все_акции">Все акции →</a>
                </div>


                <div class="box__body">
                    <div class="rewards scroll">

                        <div class="reward border-dec">
                            <img alt="img-0" class="reward__img" src="{{template}}/images/reward/img-0.png">
                            <div class="reward__title">
                                Захват замка
                            </div>
                            <div class="reward__desc">
                                Награда клану захватившего первый замок Руны - <span
                                    class="color-accent">5 000 ₽ !</span></div>
                            <div class="reward__btns">
                                <a class="btn" href="https://forum.taurius.ru/index.php?threads/Захват-Замка.25/">Подробнее
                                    <span class="btn__arrow">→</span></a>
                            </div>
                        </div> <!-- END reward -->

                        <div class="reward border-dec">
                            <img alt="img-1" class="reward__img" src="{{template}}/images/reward/img-2.png">
                            <div class="reward__title">
                                Первые герои
                            </div>
                            <div class="reward__desc">
                                Опереди всех и стань <span class="color-accent">первым героем</span> нашего проекта !
                            </div>
                            <div class="reward__btns">
                                <a class="btn" href="https://forum.taurius.ru/index.php?threads/Первые-Герои.26/">Подробнее
                                    <span class="btn__arrow">→</span></a>
                            </div>
                        </div> <!-- END reward -->
                        <div class="reward border-dec">
                            <img alt="img-2" class="reward__img" src="{{template}}/images/reward/img-1.png">
                            <div class="reward__title">
                                Убийцы драконов
                            </div>
                            <div class="reward__desc">
                                Приз за убийство главных <span class="color-accent">драконов сервера</span></div>
                            <div class="reward__btns">
                                <a class="btn" href="https://forum.taurius.ru/index.php?threads/Первые-Драконы.27/">Подробнее
                                    <span class="btn__arrow">→</span></a>
                            </div>
                        </div> <!-- END reward -->

                    </div> <!-- END rewards -->
                </div>
            </div>

            <div class="box">
                <div class="heading heading_mb">
                    <div class="heading__content">
                        <div class="heading__pic">
                            <img alt="img-6" class="heading__img" src="{{template}}/images/heading/img-6.jpg">
                        </div>
                        <div class="heading__title">Статистика</div>
                    </div>
                    <a class="heading__link" href="https://taurius.ru/ru/rating">Статистика →</a>
                </div>


                <div class="box__body box__body_bg">
                    <div class="rating">
                        <div class="top">
                            <div class="top__rw top__header">
                                <div class="top__num">
                                    <div class="top__content">Место</div>
                                </div>
                                <div class="top__icon">

                                </div>
                                <div class="top__name">
                                    <div class="top__content">Игрок</div>
                                </div>
                                <div class="top__total">
                                    <div class="top__content">PvP</div>
                                </div>
                            </div>
                            <div class="top__body" data-top-scroll="">
                                {% for i, player in get_pvp(10) %}
                                <div class="top__rw">
                                    <div class="top__num">
                                        <div class="top__content">{{i+1}}</div>
                                    </div>
                                    <div class="top__icon">
                                        {% if player['alliance_crest']%}
                                        <img class="" src="data:image/png;base64, {{player['alliance_crest'] }}">
                                        {% endif %}
                                        {% if player['clan_crest']%}
                                        <img class="" src="data:image/png;base64, {{player['clan_crest'] }}">
                                        {% endif %}
                                    </div>
                                    <div class="top__name">
                                        <div class="top__content">
                                            {{player.char_name}}
                                        </div>
                                    </div>
                                    <div class="top__total">
                                        <div class="top__content">{{player.pvpkills}}</div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div> <!-- END top -->

                </div> <!-- END rating -->


            </div>
        </div> <!-- END  general -->
    </div><!-- END  container -->


    <div class="spacer"></div>

    <footer class="section" data-section="footer">
        <div class="container" data-container="footer">
            <div class="footer">
                <div class="footer__up" data-gw-scrollto='body'></div>

                <ul class="fnav">
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Главная</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" data-open-window="modal-files" href="javascript:">Файлы</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Регистрация</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" data-open-window="modal-about" href="javascript:">О серверe</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Форум</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Помощь</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Статистика</a>
                    </li>
                    <li class="fnav__el">
                        <a class="fnav__item" href="/">Пожертвования</a>
                    </li>
                </ul> <!-- END fnav -->


                <div class="footer__logotype">
                    <a class="logo" href="https://taurius.ru/ru/">
                        <img alt="logo" class="logo__img" src="{{template}}/images/logo/logo.png">
                        <img alt="logo" class="logo__img logo__img_hover_animation"
                             src="{{template}}/images/logo/logo.png">
                    </a>

                </div>

                <div class="footer__copyright">Copyright © 2022 - Taurius.ru Тестовые сервера. Все права принадлежат
                    NCSoft
                </div>

                <div class="scl">
                    <a class="scl__item" href="#" target="_blank">
                        <span class="gwi gwi_vkontakte scl__ico-vkontakte"></span>
                    </a>
                    <a class="scl__item" href="#" target="_blank">
                        <span class="gwi gwi_discord scl__ico-discord"></span>
                    </a>
                    <a class="scl__item" href="#" target="_blank">
                        <span class="gwi gwi_facebook scl__ico-facebook"></span>
                    </a>
                    <a class="scl__item" href="#" target="_blank">
                        <span class="gwi gwi_telegram scl__ico-telegram"></span>
                    </a>
                </div>


                <div class="footer__authors">
                    <div class="author">UPNOVA <img alt="upnova-logo" class="author__logo author__logo_ml"
                                                    src="{{template}}/images/author-upnova.svg"></div>
                    <div class="author">Get-Web.site</div>
                </div>

            </div> <!-- END  footer -->
        </div> <!-- END  container -->
    </footer> <!-- END  footer -->
    <!-- entrance START -->
    <div style="display: none">
        <div class="ww ww_animated" id="entrance">
            <div class="ww__close" data-fancybox-close></div>
            <div class="ww__inner">
                <div class="ww__body entrance">
                    <div class="ttl pb mb">Добро пожаловать</div>
                    <div class="entrance__title">
                        <span class="color-accent"></span></div>
                    <div class="entrance__pic">
                        <img alt="" class="entrance__img" src="{{template}}/images/entrance/img.jpg"/>
                        <div class="entrance__lang">
                            <div class="choicelang">
                                <div class="choicelang__title">Выберите язык</div>
                                <div class="choicelang__list">
                                    <a class="choicelang__item" href="/en/">
                                        <img alt="en" class="choicelang__img"
                                             src="{{template}}/images/choicelang/en.jpg"/>
                                    </a>
                                    <a class="choicelang__item" href="/ru/">
                                        <img alt="ru" class="choicelang__img"
                                             src="{{template}}/images/choicelang/ru.jpg"/>
                                    </a>
                                </div>
                            </div><!-- END choicelang -->                    </div>
                    </div>
                    <div class="entrance__scl">
                        <div class="scl">
                            <a class="scl__item scl__item_type_1" href="#" target="_blank">
                                <span class="gwi gwi_vkontakte scl__ico-vkontakte"></span>
                            </a>
                            <a class="scl__item scl__item_type_1" href="#" target="_blank">
                                <span class="gwi gwi_discord scl__ico-discord"></span>
                            </a>
                            <a class="scl__item scl__item_type_1" href="#" target="_blank">
                                <span class="gwi gwi_facebook scl__ico-facebook"></span>
                            </a>
                            <a class="scl__item scl__item_type_1" href="#" target="_blank">
                                <span class="gwi gwi_telegram scl__ico-telegram"></span>
                            </a>
                        </div>

                    </div>
                    <div class="entrance__control">
                        <div class="entrance__unsubscribe" data-close="entrance">
                            Больше не показывать это окно
                        </div>
                    </div>
                </div>
                <!-- END  ww__body -->
            </div>
            <!-- END  ww__inner -->
        </div>
        <!-- END  ww -->
    </div>
    <!-- entrance END -->


    <!-- modal-files START -->
    <div style="display: none;">
        <div class="ww ww_animated" id="modal-files">
            <div class="ww__close" data-fancybox-close></div>
            <div class="ww__inner">
                <div class="ww__body">
                    <div class="ttl pb mb">Файлы для игры</div>
                    <p class="dsc mt mb color-yellow">Для игры на нашем проекте вам потребуется клиент Lineage 2
                        High Five.</p>
                    <p class="dsc mt mb color-red">Запуск клиента строго через TauriusUpdater.exe</p>


                    <div class="file file_m">
                        <div class="file__title">Скачать пропатченный клиент High Five (~6,7 ГБ)</div>
                        <div class="file__list">

                            <a class="file__bt bt" href="http://taurius.ru/download/ClientTaurius.zip">
                                <span class="gwi gwi_download"></span>
                                Сайт </a>
                            <a class="file__bt bt"
                               href="https://drive.google.com/file/d/1d-SE022caLMPAXEUT0UtxjEvLWV2dOpj/view?usp=share_link">
                                <span class="gwi gwi_download"></span>
                                GOOGLE </a>
                            <a class="file__bt bt" href="https://l2hop.com/assets/client/torrent/high-five.torrent">
                                <span class="gwi gwi_download"></span>
                                TORRENT(Чистый HF) </a>

                        </div>
                    </div>

                    <hr>
                    <div class="file file_m">
                        <div class="file__title">Скачать патч + Updater (~344 МБ)</div>
                        <div class="file__list">

                            <a class="file__bt bt" href="http://taurius.ru/download/PatchTaurius.zip">
                                <span class="gwi gwi_download"></span>
                                Сайт </a>
                            <a class="file__bt bt"
                               href="https://drive.google.com/file/d/1ebxIFhxos1AIKit93VkYE_tck7g2KNvP/view?usp=share_link">
                                <span class="gwi gwi_download"></span>
                                GOOGLE </a>
                            <a class="file__bt bt"
                               href="https://mega.nz/file/wqBm2SZL#v8-joxljA7WeGDko3vpng7c6ApwkLWcwrQ7qyD4VBNM">
                                <span class="gwi gwi_download"></span>
                                MEGA </a>

                        </div>
                    </div>


                    <div class="ttl mb">Аккаунт</div>
                    <p class="dsc mt mb color-white">Если у вас ещё нет аккаунта, вам необходимо <a
                            class="link" href="#">зарегистрироваться</a> <br>
                        или войти <a class="link" href="https://taurius.ru/ru/sign-in">в личный кабинет</a></p>
                </div> <!-- END  ww__body -->
            </div> <!-- END  ww__inner -->
        </div> <!-- END  ww -->
    </div> <!-- modal-files END -->

    <!-- modal-files START -->
    <div style="display: none;">
        <div class="ww ww_animated" id="modal-about">
            <div class="ww__close" data-fancybox-close></div>
            <div class="ww__inner">
                <div class="ww__body">
                    <div class="ttl pb mb">О проекте</div>
                    <p class="dsc mt mb pb">Приветствую вас на начинающем свой путь в мире Lineage 2, High Five
                        проекте "Taurius Project".</p>
                    <div class="ww__content">
                        <p align="center"><small> <small>
                            Должен признаться что выбранный мной путь не лёгкий, тем более для одного человека.<br>
                            Большую часть осознанной жизни я посвятил Lineage 2, и мечтал внести свой вклад в
                            комьюнити данной игры.<br>
                            Настал момент, когда есть средства, накопились знания, и появилась мотивация для того
                            что-бы реализовать свою мечту.<br>
                            Не абы как, а предоставить игрокам лучшую сборку на рынке, удобный и современный
                            интерфейс, хорошую защиту.<br>
                            Хочется сделать идеальный проект, ведь в жизни я перфекционист.<br>
                            Хочется что-бы проект полюбили, говорили о нём, вспоминали , делились со своими
                            друзьями, и получали удовольствие от игры.<br>
                            Было принято решение что первый сервер должен быть лёгким, не отнимающим время, дарующий
                            удовольствие от процесса.<br>
                            Поэтому я решил что первый сервер будет в направлении Multi-Craft.<br>
                            Ведь тогда останется вся составляющая классических хроник, при довольно простой схеме
                            развития.<br>
                            Не отнимающей много времени, и сконцентрированной на PvP, Осадах, Олимпе и GvG.<br>
                            При этом удовлетворяя интересы тех кто любит инсты, фарм, крафт и заточку.<br>
                            Первое открытие решено провести с минимальным вложением в рекламу, полагаясь на
                            бесплатные анонсы<br>
                            И незначительными вложениями в платную рекламу.<br>
                            Для того чтоб познакомить небольшую часть игроков c нашим проектом, а так же самому по
                            влиться в индустрию.<br>
                            Ощутить и понять что такое Lineage со стороны администратора.<br>
                            Получить обратную связь, исправить ошибки и баги, понять что нужно потребителю, и дать
                            ему это.<br>
                            Ведь сейчас я строю сервер на своих мыслях и желаниях, но нужно понимать что моя цель
                            удовлетворить игроков а не себя.<br>
                            Ведь будем честны, большая вероятность того что первое открытие не будет идеальным.<br>
                            Самолёт с первого раза не взлетел, и двигатель с первого раза не завёлся. Но без первого
                            раза, не было бы и второго.<br>
                            Добро пожаловать на проект! Надеюсь ты станешь его частью и мы все вместе сделаем его
                            лучшим.<br>
                            Я рассчитываю на вашу помощь. Хочу слышать ваши предложения, пожелания и замечания. Они
                            не останутся незамеченными.<br>
                        </small> </small></p>
                        </ol>
                    </div>
                    <br>
                    <br>
                </div> <!-- END  ww__body -->
            </div> <!-- END  ww__inner -->
        </div> <!-- END  ww -->
    </div> <!-- modal-files END -->


</div> <!-- END page -->

<!-- Libs  -->

<script src="{{template}}/libs/jquery/jquery-3.4.1.min.js"></script>
<script src="{{template}}/libs/js-cookie/js/js.cookie.min.js"></script>
<script src="{{template}}/libs/fancybox/js/jquery.fancybox.js"></script>
<script src="{{template}}/libs/insertmedia/js/insertmedia.min.js"></script>
<script src="{{template}}/libs/swiper/js/swiper.min.js"></script>


<!-- Main app -->
<script src="{{template}}/js/app.js?ver=0.0.1"></script>

</body>

</html>

<!-- 
Copyright © taurius.ru
Design: upnova.ru
Front-End Developer: Vitalii P. | Get-Web.site
 -->