body {
  width: 100%;
  background: url(../images/top-bg.jpg) top center no-repeat, url(../images/bottom-bg.jpg) bottom center no-repeat;
  background-color: #121a25;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #61738e;
  line-height: 1;
}
a {
  transition: all 0.3s ease;
  color: #c8ddf1;
  text-decoration: none;
}
a:hover,
button:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  text-decoration: none;
}
p {
  margin-bottom: 15px;
}
h1,
h2,
h3 {
  color: #c8ddf1;
  margin-bottom: 20px;
  line-height: 1.5;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
input,
textarea {
  background-color: #131f2d;
  border: 1px solid #2c3545;
  color: #7d8a9f;
  padding: 5px 10px;
  font-size: 12px;
  position: relative;
  border-radius: 3px;
  transition: all 0.5s ease;
  width: calc(100% - 20px);
}
input:focus,
textarea:focus {
  border: 1px solid #424e63;
}
input:hover,
textarea:hover {
  border: 1px solid #424e63;
}
button,
.button {
  transition: all 0.3s ease;
  cursor: pointer;
  background: url(../images/button.jpg) center no-repeat;
  background-size: cover;
  border: none;
  color: #c3eaee;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  display: inline-block;
}
.green-button {
  background: url(../images/green-button.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(119, 240, 241, 0.2);
}
.button-small {
  padding: 4px 12px;
}
:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #485365;
}
::-moz-placeholder {
  color: #485365;
}
:-moz-placeholder {
  color: #485365;
}
:-ms-input-placeholder {
  color: #485365;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light {
  background: url(../images/light-bg.jpg);
  box-shadow: 0px 12px 30px -5px rgba(0, 0, 0, 0.1), 0px -12px 30px -5px rgba(0, 0, 0, 0.1);
}
.container {
  min-height: 1050px;
  display: flex;
  position: relative;
}
.container:before {
  content: "";
  background: url(../images/left-container-icon.png) no-repeat;
  left: -35px;
  top: -34px;
  width: 74px;
  height: 73px;
  position: absolute;
  z-index: 1;
}
.container:after {
  content: "";
  background: url(../images/right-container-icon.png) no-repeat;
  right: -35px;
  top: -34px;
  width: 74px;
  height: 73px;
  position: absolute;
}
.top-panel {
  height: 64px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  z-index: 10;
  transition: all 1s ease;
}
.top-panel .top-panel-container {
  width: 1200px;
  margin: 0 auto;
}
.top-panel:hover {
  background: rgba(0, 0, 0, 0.5);
}
.menu li {
  display: inline-block;
  margin: 0px 12px;
  padding: 0px;
  background: none;
}
.menu li a {
  display: block;
  line-height: 63px;
  text-transform: uppercase;
  color: #b7cdef;
  padding: 0px 16px;
}
.menu li a:hover {
  color: #c8ddf1;
  border-bottom: 1px solid rgba(200, 221, 241, 0.5);
  text-shadow: 0px 0px 10px rgba(200, 221, 241, 0.7);
}
.menu li:first-child {
  margin: 0px 12px 0px 0px;
}
.language-block a {
  display: inline-block;
  height: 22px;
  width: 34px;
  margin: 0px 10px;
  box-shadow: inset 0px 0px 15px 1px rgba(115, 161, 255, 0.7), 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.language-block a:hover {
  opacity: 0.9;
}
.language-block .eng {
  background: url(../images/eng-icon.png) no-repeat;
}
.language-block .rus {
  background: url(../images/rus-icon.png) no-repeat;
}
.language-block .gre {
  background: url(../images/gre-icon.png) no-repeat;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 480px;
  position: relative;
}
.char {
  position: absolute;
  left: -147px;
  bottom: -78px;
  background: url(../images/char.png) no-repeat;
  width: 551px;
  height: 500px;
  z-index: 2;
  transition: all 0.8s ease;
  transform: scale(1);
  opacity: 1;
  display: block;
  cursor: pointer;
}
.char:hover {
  filter: drop-shadow(0px 0px 10px rgba(162, 229, 241, 0.2));
}
.char.small {
  transform: scale(0.7);
  opacity: 0.1;
}

.char2 {
  position: absolute;
  left: 700px;
  bottom: -20px;
  background: url(../images/char2.png) no-repeat;
  width: 551px;
  height: 430px;
  z-index: 2;
  transition: all 0.8s ease;
  transform: scale(1);
  opacity: 1;
  display: block;
  cursor: pointer;
}
.char2:hover {
  filter: drop-shadow(0px 0px 10px rgba(122, 33, 233, 0.2));
}
.char2.small {
  transform: scale(0.7);
  opacity: 0.1;
}
.logo {
  width: 100%;
  text-align: center;
  top: 110px;
  position: absolute;
}
.start-game {
  width: 100%;
  bottom: 50px;
  position: absolute;
}
.start-game a {
  display: block;
  background: url(../images/start-game-button.png) no-repeat;
  width: 297px;
  height: 71px;
  line-height: 71px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  width: 285px;
  background: url(../images/sidebar-bg.jpg);
  margin-bottom: 110px;
  position: relative;
}
.left-sidebar:after {
  content: "";
  background: url(../images/left-sidebar-icon.png) no-repeat;
  left: -4px;
  bottom: -4px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.download-block {
  background: url(../images/dowload-button.jpg) no-repeat;
  height: 90px;
  box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.1);
}
.download-block a {
  display: block;
  position: relative;
  z-index: 3;
  font-size: 11px;
  color: #7a96b0;
  line-height: 1.5;
  padding: 23px 0px 23px 90px;
}
.download-block a span {
  display: block;
  color: #aacff2;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.p-block {
  padding: 20px 20px 30px 20px;
}
.login-block {
  background: url(../images/login-block-bg.jpg) bottom no-repeat, url(../images/login-block-repeat.jpg);
}
.login-block .login-block-title {
  margin-bottom: 20px;
}
.login-block .login-block-title span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.login-block .login-block-title a {
  color: #6fa5ff;
}
.login-block input {
  background-repeat: no-repeat;
  background-position: left;
  height: 32px;
  padding: 0px 10px 0px 50px;
  width: calc(100%);
}
.login-block .checkbox-block {
  margin-bottom: 20px;
}
.login-block .login-button {
  margin-bottom: 10px;
}
.login-block .login-button a {
  color: #4e5e76;
}
.login-in input {
  background-image: url(../images/login-icon.png);
}
.password-in input {
  background-image: url(../images/password-icon.png);
}
.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #394c66;
  border-radius: 3px;
  background: #131f2d;
}
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.label {
  margin-left: 9px;
  margin-bottom: -2px;
  color: #7d8a9f;
}
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0px;
  left: 0px;
  background: url(../images/check.png) center no-repeat;
}
.sidebar-title {
  color: #657793;
  line-height: 1.6;
  padding-bottom: 10px;
}
.sidebar-title span {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar-title .top-title-img {
  background: url(../images/top-player-title-bg.png) no-repeat;
  width: 43px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 0px rgba(51, 99, 171, 0.5);
}
.sidebar-title .forum-img {
  background: url(../images/forum-title-bg.png) no-repeat;
  width: 43px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 0px rgba(51, 99, 171, 0.5);
}
.top-player {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(133, 216, 255, 0.06);
}
.top-player .number {
  border: 1px solid #2e394a;
  color: #657793;
  font-weight: bold;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.top-player .number.first {
  color: #ffe956;
  border: 1px solid #ffe956;
}
.top-player .number.second {
  color: #d3e3e4;
  border: 1px solid #d3e3e4;
}
.top-player .number.third {
  color: #8d6f46;
  border: 1px solid #8d6f46;
}
.top-player .ava-img {
  width: 40px;
  text-align: center;
  height: 18px;
}
.top-player .ava-img img {
  width: 28px;
  height: 16px;
  border: 1px solid #16629c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.top-player .nickname {
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 0px;
  color: #d0e3ff;
}
.top-player .kills {
  width: 40px;
  text-align: right;
  color: #74acff;
  font-size: 14px;
}
.media-block a {
  display: block;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.media-block a:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 190px 20px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
.media-block img {
  margin-bottom: -2px;
}
.media-block p a:after {
  background: url(../images/play-icon.png) center no-repeat;
}
.media-block a:hover:after {
  box-shadow: inset 0px 0px 190px 20px rgba(0, 0, 0, 0.8);
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  width: 590px;
  padding: 30px 20px 40px 20px;
  position: relative;
  background: url(../images/content-bg.jpg);
  line-height: 1.4;
}
.content:before {
  content: "";
  background: url(../images/top-content-icon.png) no-repeat;
  left: 50%;
  margin-left: -70px;
  top: -41px;
  width: 143px;
  height: 74px;
  position: absolute;
  z-index: 11;
}
.content:after {
  content: "";
  background: url(../images/bottom-content-icon.png) no-repeat;
  left: -30px;
  bottom: -12px;
  width: 690px;
  height: 40px;
  position: absolute;
}
.content img {
  max-width: 590px;
}
.content input {
  width: auto;
}
.content ul {
  margin-bottom: 15px;
}
.content li {
  background: url(../images/li-icon.png) left no-repeat;
  padding: 9px 0px 9px 29px;
}
.slider {
  overflow: hidden;
  position: relative;
  width: 630px;
  height: 214px;
  margin: 0 auto;
  z-index: 10;
  margin: -30px -20px 0px -20px;
}
.slider .slides {
  position: relative;
  transition: 1s;
}
.slider .slides .active .slider-text {
  transition: all 2s ease;
  bottom: 20px !important;
}
.slider .slides .slide {
  float: left;
  display: block;
  position: relative;
}
.slider .slides .slide:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 40px 20px rgba(0, 0, 0, 0.6);
}
.slider .slides .slide .slider-text {
  position: absolute;
  bottom: -200px;
  left: 0px;
  padding: 8px 30px;
  width: calc(100% - 60px);
  color: #e0ddd1;
  line-height: 1.3;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 4;
}
.slider .slides .slide h1 {
  margin-bottom: 1px;
  color: #fff;
  font-size: 36px;
}
.slider .slides .slide img {
  width: 630px;
  max-width: 630px;
  height: 214px;
}
.slider .next {
  position: absolute;
  background: url(../images/arrow-right.png) no-repeat;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 95px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}
.slider .prev {
  position: absolute;
  background: url(../images/arrow-left.png) no-repeat;
  height: 30px;
  width: 30px;
  left: 20px;
  top: 95px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}
.slider .navigation {
  position: absolute;
  left: 23px;
  top: 16px;
  z-index: 1;
  cursor: pointer;
  display: none;
}
.slider .navigation .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #a6d0b6, #89b899);
  border: 1px solid #427252;
  cursor: pointer;
  margin: 0 2px;
  position: relative;
}
.slider:hover .next,
.slider:hover .prev {
  opacity: 1;
  transition: all 0.7s ease;
}
.slider .navigation .active:after {
  content: "";
  background: linear-gradient(to bottom, #a6d0b6, #89b899);
  height: 10px;
  width: 10px;
  border: 1px solid #b9d8c2;
  position: absolute;
}
.tabs {
  padding: 20px 20px;
  box-shadow: 0px 25px 30px -5px rgba(0, 0, 0, 0.2);
  background: url(../images/news-bg.jpg);
  margin: 0px -20px 20px -20px;
}
.tabs > .section {
  padding-top: 20px;
  display: none;
  border-top: 1px solid #2e3543;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs > input {
  display: none;
  position: absolute;
}
.tabs > label {
  display: inline-block;
  padding: 15px 18px;
  text-align: center;
  color: #839cb3;
  font-size: 12px;
}
.tabs > label:hover {
  cursor: pointer;
  color: #fff;
}
.tabs > input:checked + label {
  color: #69a9e5;
  background: #1b222c;
  border-bottom: 1px solid #69a9e5;
  border-top: 1px solid #202938;
  border-left: 1px solid #202938;
  border-right: 1px solid #202938;
}
#news:checked ~ #content-news,
#articles:checked ~ #content-articles,
#guides:checked ~ #content-guides,
#howtoplay:checked ~ #content-howtoplay {
  display: block;
}
.first-new {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(46, 53, 67, 0.3);
}
.first-new .news-img {
  opacity: 0.7;
  width: 237px;
}
.first-new .news-img img {
  width: 237px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.first-new .news-img:hover {
  opacity: 1;
}
.first-new .first-news-info {
  width: 335px;
}
.first-new .first-news-info h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.first-new .first-news-info p {
  text-align: justify;
}
.first-new .first-news-info .first-news-i .button {
  margin-right: 15px;
}

.first-new .first-news-info .first-news-i a {
   transition: all 0.3s ease;
  cursor: pointer;
  background: url(../images/button.jpg) center no-repeat;
  background-size: cover;
  border: none;
  color: #c3eaee;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  display: inline-block;
}

.first-new .first-news-info .first-news-i a:hover {
   -webkit-filter: brightness(120%);
  filter: brightness(120%);
  text-decoration: none;
}

.news {
  padding: 15px 18px;
  border-bottom: 1px solid rgba(46, 53, 67, 0.3);
  transition: all 0.5s ease;
  min-height: 25px;
}
.news .news-title {
  display: flex;
  align-items: center;
}
.news .news-title h2 {
  color: #61738e;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: normal;
}
.news .news-title span {
  color: #73a6ff;
  font-size: 10px;
  border: 1px solid #73a6ff;
  padding: 2px 4px;
  margin-right: 12px;
}
.news .date-more {
  color: #435067;
  width: 150px;
  text-align: right;
}
.news .more {
  display: none;
}
.news:hover {
  background: rgba(97, 115, 142, 0.04);
}
.news:hover h2 {
  color: #bbd0f0;
}
.news:hover .date {
  display: none;
}
.news:hover .more {
  display: block;
}
.carousel {
  position: relative;
  width: 510px;
  padding: 0px 40px;
}
.arrow {
  position: absolute;
  top: 85px;
  padding: 0;
  height: 30px;
  width: 30px;
  display: block;
}
.arrow:hover {
  cursor: pointer;
}
.prev {
  left: 0px;
  background: url(../images/nav-left.png) no-repeat;
}
.next {
  right: 0px;
  background: url(../images/nav-right.png) no-repeat;
}
.gallery {
  width: 510px;
  overflow: hidden;
}
.gallery ul {
  height: 205px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 2250ms;
}
.gallery li {
  width: 150px;
  height: 205px;
  padding: 0px;
  display: inline-block;
  margin: 0px 10px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}
.gallery li .shop-img img {
  max-width: 150px;
  opacity:0.3;
}
.gallery li .shop-title {
  color: #bbd0f0;
}
.gallery li .shop-price {
  color: #63cdff;
  font-size: 24px;
}
.gallery li .shop-button {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  width: 285px;
  background: url(../images/sidebar-bg.jpg);
  margin-bottom: 110px;
  position: relative;
}
.right-sidebar:after {
  content: "";
  background: url(../images/right-sidebar-icon.png) no-repeat;
  right: -4px;
  bottom: -4px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.server-block {
  padding: 0px 0px 0px 0px;
}
.server {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-bottom: 1px solid rgba(142, 227, 255, 0.06);
}
.server .server-x {
  width: 74px;
  height: 74px;
  text-align: center;
  line-height: 74px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.server .server-info {
  width: 181px;
  color: #eef7ff;
}
.server .server-info span {
  color: #657793;
}
.server .server-info span b {
  color: #65a1ff;
  font-weight: normal;
}
.server .server-progress {
  background: rgba(0, 0, 0, 0.8);
  height: 3px;
  margin: 8px 0px;
}
.server .server-progress span {
  width: 100%;
  height: 3px;
  display: block;
}
.server .server-description a {
  color: #65a1ff;
  text-decoration: underline;
  font-size: 10px;
}
.server .server-description a:hover {
  text-decoration: none;
}
.server:last-child {
  border-bottom: none;
}
.blue .server-x {
  background: url(../images/server-blue-img.png) center no-repeat;
  color: #8ecbff;
}
.blue .server-progress span {
  background: #00baff;
  box-shadow: 0px 0px 10px 0px rgba(0, 186, 255, 0.6);
}
.pink .server-x {
  background: url(../images/server-pink-img.png) center no-repeat;
  color: #ffbae3;
}
.pink .server-progress span {
  background: #ff0096;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 150, 0.6);
}

.pink .server-progress span .beta{
  background: #ff9000;
  box-shadow: 0px 0px 10px 0px rgba(255, 27, 10, 0.6);
}

.green .server-x {
  background: url(../images/server-green-img.png) center no-repeat;
  color: #deffba;
}
.green .server-progress span {
  background: #7fff18;
  box-shadow: 0px 0px 10px 0px rgba(127, 255, 24, 0.6);
}
.forum-block {
  box-shadow: 0px 15px 20px -7px rgba(0, 0, 0, 0.15);
}
.sidebar-forum-title {
  border-bottom: 1px solid rgba(181, 203, 243, 0.04);
  padding-bottom: 18px;
}
.forum {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(181, 203, 243, 0.04);
  padding: 20px 0px;
}
.forum p {
  margin-bottom: 7px;
}
.forum .forum-ava {
  width: 45px;
}
.forum .forum-ava img {
  height: 29px;
  width: 29px;
  border: 1px solid #16629c;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
.forum .forum-title a {
  color: #7d99c4;
}
.forum .forum-info {
  width: 200px;
}
.forum .forum-info .date {
  color: #3c4961;
  font-size: 10px;
}
.forum .forum-info .autor {
  color: #65a1ff;
  text-decoration: underline;
  font-size: 10px;
}
.forum .forum-info .autor:hover {
  text-decoration: none;
}
.fast-links-block li {
  margin-left: -11px;
  background: url(../images/li-icon.png) left no-repeat;
  padding: 9px 0px 9px 29px;
}
.fast-links-block li a {
  color: #82a5dd;
}
/* Footer
-----------------------------------------------------------------------------*/
#toTop {
  position: absolute;
  display: block;
  width: 86px;
  height: 86px;
  left: 50%;
  top: -43px;
  margin-left: -43px;
  background: url(../images/up-button.png) no-repeat;
  cursor: pointer;
  z-index: 2;
}
.footer {
  height: 300px;
  position: relative;
  color: #455468;
  line-height: 1.3;
}
.footer a {
  color: #567db3;
}
.f-logo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 60px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 170px;
}
.design {
  text-align: right;
  padding-right: 20px;
  width: 210px;
}
.copyright {
  padding-left: 20px;
  width: 210px;
}
.f-menu li {
  display: inline-block;
  background: none;
  padding: 0px 18px 0px 15px;
  border-right: 1px solid #3d4b5d;
}
.f-menu li a {
  color: #455468;
  text-transform: uppercase;
  font-size: 10px;
}
.f-menu li a:hover {
  color: #fff;
}
.f-menu li:last-child {
  padding: 0px 0px 0px 15px;
  border-right: none;
}
.f-menu li:first-child {
  padding: 0px 18px 0px 0px;
}

.text {cursor: text;} 
/*# sourceMappingURL=style.css.map */

.comment-icon {
    background: url(../images/comment-icon.png) no-repeat;
    height: 17px;
    width: 16px;
    display: inline-block;
    margin-bottom: -6px;
}