{# Модальное окно для авторизации #}
<div class="modal fade" id="model_auth">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{phrase("authorization")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-body" id="form_auth_panel">

                    <div class="form-group row">
                        <label for="email_panel" class="col-sm-2 col-form-label">{{ phrase(9) }}</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="{{ phrase(9) }}" class="form-control form-control-sm" name="email" id="email_panel">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password_panel" class="col-sm-2 col-form-label">{{ phrase("password") }}</label>
                        <div class="col-sm-9">
                            <input type="password" placeholder="{{ phrase('password') }}" class="form-control form-control-sm" name="password" id="password_panel">
                        </div>
                    </div>


                    {% if get_captcha_version("Google") %}
                    <input class="captchaToken" type="hidden" name="captcha" id="captcha_panel">
                    {% endif %}
                    {% if get_captcha_version("default") %}
                    <div class="form-group row">
                        <label for="captcha_panel" class="col-sm-2 col-form-label">Анти-Бот</label>
                        <div class="col-sm-5">
                            <a href="#"> <img src="" class="lightbox-thumb img-thumbnail captcha_img" /> </a>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-lg" name="captcha" id="captcha_panel" >
                        </div>
                    </div>
                    {% endif %}

                    <button id="auth_panel" type="submit" class="btn btn-primary btn-block waves-effect waves-light">{{ phrase("enter") }}</button>

                 </div>

            </div>
        </div>
    </div>
</div>


{# Модальное окно для регистрации #}
<div class="modal fade" id="model_registration">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{phrase("menu_registration")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-body">
                    <div class="card-content ">
                            <div class="form-group row">
                                <label for="email_registration_panel" class="col-sm-2 col-form-label">{{ phrase(9) }}</label>
                                <div class="col-sm-9">
                                    <input type="email" placeholder="{{ phrase(6) }}" class="form-control form-control-sm" name="email" id="email_registration_panel">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password_registration_panel" class="col-sm-2 col-form-label">{{ phrase("password") }}</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="{{ phrase(133, 4) }}" class="form-control form-control-sm" name="password" id="password_registration_panel">
                                </div>
                            </div>

                        {% if get_captcha_version("Google") %}
                        <input class="captchaToken" type="hidden" name="captcha">
                        {% elseif get_captcha_version("default") %}
                        <div class="form-group row">
                            <label for="captcha_registration_panel" class="col-sm-2 col-form-label">Анти-Бот</label>
                            <div class="col-sm-5">
                                <a href="#"> <img src="" class="lightbox-thumb img-thumbnail captcha_img" /> </a>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg" name="captcha" id="captcha_registration_panel" >
                            </div>
                        </div>
                        {% endif %}


                            <button id="registration_panel" type="submit" class="btn btn-primary btn-block waves-effect waves-light">{{ phrase(7) }}</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>