<div class="row">
    <div class="col-12 col-lg-4 col-xl-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header ">{{ phrase(5) }}</div>
                    <div class="card-body">

                        <div id="registration_user_game_account">


                            <div class="form-group row">
                                <label for="login_main_registration" class="col-sm-3 col-form-label">{{ phrase("login") }} <a
                                        id="new_account_word" href="#"><i aria-hidden="true"
                                                                          class="fa fa-refresh"></i></a></label>
                                <div class="col-sm-9">
                                    <input value="{{generation_account}}" name="login" type="text"
                                           class="form-control form-control" id="login_main_registration">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="password_main_registration" class="col-sm-3 col-form-label">{{
                                    phrase("password") }} <a href="#" id="new_password_word"><i aria-hidden="true"
                                                                                               class="fa fa-refresh"></i></a></label>
                                <div for="password_hide" class="col-sm-9">
                                    <div class="input-group-prepend">
                                        <div data-toggle="tooltip" data-placement="top" title="{{ phrase(2) }}"
                                             class="input-group-text">
                                            <input checked id="password_hide_main_registration" name="password_hide_main_registration" type="checkbox"/>
                                        </div>
                                        <input name="password" type="text" class="form-control form-control"
                                               id="password_main_registration"/>
                                    </div>
                                </div>
                            </div>

                            {% if user_info('get_is_auth') == false %}
                            <div class="form-group row">
                                <label for="email_main_registration" class="col-sm-3 col-form-label">E-Mail</label>
                                <div class="col-sm-9">
                                    <input name="email" type="email" class="form-control form-control" id="email_main_registration">
                                </div>
                            </div>

                            {% if get_captcha_version("Google") %}
                            <input class="captchaToken" type="hidden" name="captcha">
                            {% elseif get_captcha_version("default") %}
                            <div class="form-group row">
                                <label for="captcha_main_registration" class="col-sm-3 col-form-label">Капча</label>
                                <div class="col-sm-5">
                                    <a href="#"> <img id='refreshCaptcha' src="" class="lightbox-thumb img-thumbnail captcha_img"/> </a>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-lg" name="captcha" id="captcha_main_registration">
                                </div>
                            </div>
                            {% endif %}

                            {% endif %}

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button id="registration_main_registration" type="submit" class="btn btn-primary px-5"><i class="icon-lock"></i> {{
                                        phrase(7) }}
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include ('chat/panel.html') %}


    <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">{{phrase(3)}}</div>
            <ul class="list-group list-group-flush">
                {% for i, news in last_news(4) %}
                <li class="list-group-item">
                    <div class="media align-items-center">
                        <div class="media-body ml-1">
                            <a href="/page/{{news.id}}"><p class="mb-0 small-font">{{news.name|striptags}}</p></a>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>


