{% extends 'base.html' %}

{% if category == "all" %}
    {% set title = phrase(355) %}
{% endif %}

{% if category == "open" %}
    {% set title = phrase(356) %}
{% endif %}

{% if category == "close" %}
    {% set title = phrase(357) %}
{% endif %}

{% block content %}

<div class="row">
    <!-- Left sidebar -->
    <div class="col-lg-2 col-md-1">
        {% if user_info('get_is_auth') and user_info('get_ban_ticket') == false %}
        <a href="/ticket/create" class="btn btn-danger btn-block">{{phrase(349)}}</a>
        {% endif %}
        <div class="card mt-0 shadow-none">
            <div class="list-group shadow-none">
                <a href="/ticket" class="list-group-item{% if category == 'all' %} active{% endif %}"><i class="fa fa-archive mr-2"></i>{{phrase(350)}}</a>
                <a href="/ticket/open" class="list-group-item{% if category == 'open' %} active{% endif %}"><i class="fa fa-unlock text-danger mr-2"></i>{{phrase(351)}}</a>
                <a href="/ticket/close" class="list-group-item{% if category == 'close' %} active{% endif %}"><i class="fa fa-lock text-success mr-2"></i>{{phrase(352)}}</a>
            </div>
        </div>
    </div>
    <!-- End Left sidebar -->

    <!-- Right Sidebar -->
    <div class="col-lg-10 col-md-8">
        <div class="row">

            <div class="col-lg-12">
                <div class="position-relative has-icon-right">
                    <input id="search" type="text" class="form-control" placeholder="{{phrase(353)}}">
                    <div class="form-control-position">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>

        </div> <!-- End row -->

        <div class="card mt-3 shadow-none">
            <div class="card-body">
                <table class="table ">
                    <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td class="mail-rateing">
                            <i class="fa {% if ticket.close %}fa-lock text-success{% else %}fa-unlock text-danger{% endif %}"></i>
                        </td>
                        <td width="100%">
                            <a href="/ticket/{{ticket.id}}">{{ ticket.content }}</a>
                        </td>

                        <td>
                            {{ ticket.date|date("h:i d.m.Y") }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div><!-- End row -->
{% endblock %}

{% block js %}
<script src="{{'assets/js/ticket/other.js'|template}}"></script>
{% endblock %}