{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Right Sidebar -->
                    <div class="col-lg-12 col-md-8">
                        <div class="card mt-0 shadow-none">
                            <div class="card-body">
                                <div class="form-group row">
                                    <p>{{phrase(269)|raw}}</p>
                                    <textarea class="form-control" rows="25" id="#">{{ new_password }}</textarea>
                                </div>
                            </div> <!-- card body -->
                        </div> <!-- card -->
                    </div> <!-- end Col-9 -->
                </div><!-- End row -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{{template('assets/js/admin/options/save_new_server.js')}}"></script>
{% endblock %}