{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="card-title">{{phrase(258)}}</div>
                <hr>
                <form>
                    <div class="form-group row">
                        <label for="template" class="col-sm-2 col-form-label">{{phrase(259)}}</label>
                        <div class="col-sm-10">
                            <select class="form-control valid" id="template" name="intersted" required="" aria-invalid="false">
                                {% for name in template_list %}
                                <option value="{{name}}" {%if name == get_template() %} selected {% endif %}>{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{phrase(260)}}</label>
                        <div class="col-sm-10">
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <a id="screen_href" href="src/template/cabinet/assets/images/none.png" data-fancybox="images" data-caption="This image has a caption">
                                    <img id="screen" src="src/template/cabinet/assets/images/none.png" alt="lightbox" class="lightbox-thumb img-thumbnail">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{phrase(261)}}</label>
                        <div class="col-sm-10">
                            <p id="version" class="mb-0 small-font">0.1</p>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{phrase(262)}}</label>
                        <div class="col-sm-10">
                            <p id="date" class="mb-0 small-font">14 ноября 2022</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{phrase(263)}}</label>
                        <div class="col-sm-10">
                            <p id="author" class="mb-0 small-font">@Logan22</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{phrase(264)}}</label>
                        <div class="col-sm-10">
                            <textarea id="description" type="text" class="form-control" placeholder="{{phrase(265)}}"></textarea>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" id="save_template" class="btn btn-primary px-5"><i class="icon-lock"></i> {{phrase(266)}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>



{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
  <script src="{{template('assets/js/admin/template/template.js')}}"></script>
{% endblock %}