{% extends 'base.html' %}

{% block content %}
			   <div class="card">
			     <div class="card-body">
				   <div class="card-title">Добавление нового предмета в донат магазин</div>
				   <hr>
				    <form id="add_item_form">
					 <div class="form-group row">
					  <label for="server_id" class="col-sm-2 col-form-label">Server</label>
					  <div class="col-sm-10">
						  <select class="form-control" name="server_id" id="server_id">
							 {% for server in server_list %}
							<option value="{{ server.id }}" {% if user_info('get_default_server') == server.id %}selected{% endif %} >{{ server.name }}</option>
							 {% endfor %}
						  </select>
					  </div>
					</div>
					<div class="form-group row">
					  <label for="itemid" class="col-sm-2 col-form-label">Item ID</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="itemid" name="itemid" placeholder="57">
					  </div>
					</div>
					  <div class="form-group row">
						<label for="count" class="col-sm-2 col-form-label">Кол-во</label>
						<div class="col-sm-10">
						<input type="text" class="form-control" id="count" name="count" placeholder="1">
						</div>
					  </div>
					<div class="form-group row">
					  <label for="cost" class="col-sm-2 col-form-label">Цена</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="cost" name="cost" placeholder="100">
					  </div>
					</div>
					  <div class="form-group row">
						<label for="desc" class="col-sm-2 col-form-label">Описание</label>
						<div class="col-sm-10">
						<textarea type="text" class="form-control" id="desc" name="description" placeholder=""></textarea>
						</div>
					  </div>
					 <div class="form-group row">
					  <label class="col-sm-2 col-form-label"></label>
					  <div class="col-sm-10">
						<button id="add_donate_item" type="submit" class="btn btn-primary px-5"> Добавить</button>
					  </div>
					</div>
					</form>
				 </div>
			 </div>
{% endblock %}


{% block js %}
	<script src="{{'assets/js/donate/donate.js'|template}}"></script>
{% endblock %}