{% extends 'base.html' %}

{% block content %}
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Список предметов для продажи</h5>
                <a href="/admin/donate/add" class="btn btn-success btn-sm waves-effect waves-light m-1">Добавить на продажу предмет</a>
			  <div class="table-responsive">
               <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">item id</th>
                      <th scope="col">name</th>
                      <th scope="col">count</th>
                      <th scope="col">cost</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i, product in products%}
                    <tr>
                      <th scope="row">{{ i+1 }}</th>
                      <td>{{product.item_id}}</td>
                      <td><img src="/uploads/images/icon/{{get_item_info(product.item_id)['icon']}}" class="customer-img "> {{get_item_info(product.item_id)['name']}}</td>
                      <td>{{ product.count|number_format }}</td>
                      <td>{{product.cost}}</td>
                      <td><a href="/admin/donate/remove/{{product.id}}" class="btn btn-danger btn-sm waves-effect waves-light m-1">Удалить</a></td>
                    </tr>
                  {% endfor %}
                    
                    </tr>
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
       
      </div><!--End Row-->

{% endblock %}