{% extends 'basic/base.html' %}

{% block title %}{{phrase("news")}}{% endblock %}

{% block content %}
        <div class="content">
          <div class="row g-xxl-5 items-push py-4">
            <div class="col-xl-12">
              {% for short in last_news() %}
              <div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title"><a class="ajaxload" href="/page/{{short.id}}">{{short.name}}</a></h3>
                  <div class="block-options">
                    <div class="block-options-item">{{short.date_create|date("F d, Y")}}</div>
                  </div>
                </div>
                <div class="block-content">
                  <a class="fs-sm link-fx fw-semibold ajaxload" href="/page/{{short.id}}">
                  <p> {{short.description|raw|replace({'<p>': '', '</p>': '', '<b>': '', '</b>': '', '<br>': ''})|raw}}</p>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}
