{% extends 'base.html' %}
{% set title = phrase(1) %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-uppercase">{{ phrase(1) }}</div>
            <div class="card-body">

                <form>
                   <input value="{{login}}" name="login" type="hidden" >
                   <input value="{{server_id}}" name="server_id" type="hidden">

                    <div class="form-group row">
                        <label for="login" class="col-sm-3 col-form-label">{{ phrase("login") }}</label>
                        <div class="col-sm-5">
                            <input disabled value="{{login}}" name="login" type="text" class="form-control form-control-xl" id="login">
                        </div>
                    </div>
                 
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">{{ phrase("new_password") }} <a id="new_password_word" href="#"><i aria-hidden="true" class="fa fa-refresh"></i></a></label>
                        <div for="password_hide" class="col-sm-5">
								<div class="input-group-prepend">
								  <div data-toggle="tooltip" data-placement="top" title="{{ phrase(2) }}" class="input-group-text">
									<input {% if password_hide %}checked{% endif %} id="password_hide" name="password_hide" type="checkbox"/>
								  </div>
								<input name="password" type="text" class="form-control form-control-xl" id="password"/>
							  </div>
							</div>
                        <div class="col-sm-4">
                            <p class="text-left">
                                {{phrase(257)}}
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary px-5"><i aria-hidden="true" class="fa fa-refresh"></i> {{ phrase("change_password") }}</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div><!--End Row-->
{% endblock %}

{% block js %}
  <script src="{{'assets/js/user/change_password_account.js'|template}}"></script>
{% endblock %}