{% extends 'base.html' %}

{% block content %}
  <div class="row">
        <div class="col-lg-12">
          <div class="card">
           <div class="card-body">

        <div class="row">

        <!-- Right Sidebar -->
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ phrase(36) }}</h5>
			  <div class="table-responsive">
               <table class="table table-striped">
                  <tbody>
				  {% for server in get_server_info() %}
                    <tr>
                      <td><a href="/about/{{ server.id }}">{{ server.name }} x{{ server.rate_exp }}</a></td>
                      <td>{{ server.chronicle }}</td>
                      <td><a href="/admin/options/server/edit/{{ server.id }}">{{ phrase("edit") }}</a></td>
                      <td><a href="/admin/options/server/description/{{ server.id }}">{{ phrase(264) }}</a></td>
                      <td><a href="/admin/options/server/patch/{{ server.id }}">Подключение</a></td>
                    </tr>
				  {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>

           </div> <!-- end Col-9 -->
         </div><!-- End row -->
      </div>
    </div>
  </div>
 </div>
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}