{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header text-uppercase">{{ phrase("menu_donate") }}</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-12">
                        <label>{{ phrase("summa") }}</label>

                        <input type="text" id="count" value="" name="range"/>
                    </div>
                </div>
                <br>


                <div class="row">

                    <div class="col-md-12">
                        <div class="row m-0 row-group text-center border-top border-bottom border-light-3">
                            <div class="col-12 col-lg-3">
                                <div class="p-2">
                                    <h5 class="mb-0" id="count_rub">0</h5>
                                    <small class="mb-0">RUB</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="p-2">
                                    <h5 class="mb-0" id="count_uah">0</h5>
                                    <small class="mb-0">UAH</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="p-2">
                                    <h5 class="mb-0" id="count_usd">0</h5>
                                    <small class="mb-0">USD</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="p-2">
                                    <h5 class="mb-0" id="count_eur">0</h5>
                                    <small class="mb-0">EUR</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-md-12">
                        <div class="icheck-material-success">
                            <input type="radio" id="freekassa" name="paysystem" value="freekassa" checked/>
                            <label for="freekassa">FREE-KASSA</label>

                        </div>

                        <div class="icheck-material-success">
                            <input type="radio" id="primepayments" name="paysystem" value="primepayments"/>
                            <label for="primepayments">PrimePayments</label>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="form-footer">
                    <button id="paynext" type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> {{
                        phrase("next") }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-body">
                {{phrase(296)|raw}}
            </div>
        </div>
    </div>
</div><!--End Row-->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> {{phrase(303)}}</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="default-datatable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{phrase("summa")}}</th>
                            <th>{{phrase(29)}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for history in donate_history_pay_self %}
                        <tr>
                            <td>{{history.pay_system}}</td>
                            <td>{{history.point}}</td>
                            <td>{{history.date}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block css %}
<!--Touchspin-->
<link href="{{'assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css'|template}}" rel="stylesheet"
      type="text/css">
<link href="{{'assets/plugins/ion-rangeslider/css/ion.rangeSlider.css'|template}}" rel="stylesheet" type="text/css"/>
<link href="{{'assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinNice.css'|template}}" rel="stylesheet"
      type="text/css"/>
{% endblock %}

{% block js %}
<!--Bootstrap Touchspin Js-->
<script src="{{'assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js'|template}}"></script>
<script src="{{'assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js'|template}}"></script>

<script src="{{'assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js'|template}}"></script>
<script>

    const [currency_exchange] = JSON.parse('[{{currency_exchange_info()|raw}}]');

    $("#count").ionRangeSlider({
        min: currency_exchange.min_donate_bonus_coin,
        max: currency_exchange.max_donate_bonus_coin,
        from: 10
    });

    function currency(val){
        let rub = val*currency_exchange.coefficient['RUB'];
        let uah = val*currency_exchange.coefficient['UAH'];
        let usd = val*currency_exchange.coefficient['USD'];
        let eur = val*currency_exchange.coefficient['EUR'];
        $("#count_rub").text(rub.toFixed(1));
        $("#count_uah").text(uah.toFixed(1));
        $("#count_usd").text(usd.toFixed(1));
        $("#count_eur").text(eur.toFixed(1));
    }
    currency($("#count").val())

    $("#count").on("change", function(){
        currency($(this).val())
    });


     $('#paynext').on('click', function () {
        paysystem = $('input[name=paysystem]:checked').val();
        if (paysystem == 'freekassa') {
            return freekassa();
        }
        if (paysystem == 'primepayments') {
            return primepayments();
        }
    });


    function freekassa() {
        var count = $("#count").val();
        $.ajax(
            {
                type: "POST",
                url: "/donate/transfer/freekassa/createlink",
                data: ({"count": count}),
                async: false,
                success: function (redirectLink) {
                    console.log(redirectLink)
                    if (redirectLink['ok'] == false) {
                        notify_error(redirectLink['message'])
                        return;
                    }
                    window.open(redirectLink, '_blank');
                }
            });
    }

    function primepayments() {
        var count = $("#count").val();
        $.ajax(
            {
                type: "POST",
                url: "/donate/transfer/primepayments/createlink",
                data: ({"count": count}),
                async: false,
                dataType: "json",
                success: function (response) {
                    if (response['ok'] == false) {
                        notify_error(response['message'])
                        return;
                    }
                    window.open(redirectLink, '_blank');
                }
            });
    }








</script>

{% endblock %}