<!DOCTYPE html>
<html>
<head>
  <title>Файлы для игры</title>
  <meta name="description" content="L2CHILL - Lineage 2 Classic Improved x5 on Essence Client. Take a step back in time and relive the original Lineage II experience as it was in the beginning.">
  <meta name="keywords" content="lineage, lineage 2, lineage2, lineage ii, classic, l2classic, l2 classic, lineage classic, л2, л2 чил l2cil, л2 chill, la2chill, l2 chill, x3, x2, lineage 2 classic, lineage ii classic, lineage low rate, lineage server, lineage 2 server, lineage 2 stable, classic 1.5, classic 2.0, classic 2.5, classic 2.0, lineage 2 top, l2 legacy, classic 2.9, classic 2.9.5, secret of empire, x5, l2crystal, lineage 2 classic 2.9.5, autofarm, freeshard, private server, classic private, l2 essence, essence, lineage 2 essence, lineage 2 remastered, reworked, improved, l2, la2, l2 classic, linege 2 legacy, l2 legacy, lineage 2 top, l2chill">
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width" >
  <link rel="shortcut icon" href="{{template}}/images/favicon.ico" >
  <link rel="stylesheet" href="{{template}}/css/main.css" >
  <link rel="stylesheet" href="{{template}}/libs/swiper/swiper.css" >
</head>

<body class="body">
	<div class="wrapper">
		<header class="header">
			<nav class="nav">
    <div class="content-area flex-sc">
        <a href="/" class="nav__logo flex-cc"><img src="{{template}}/images/logos/min_logo.png" alt=""></a>
        <div class="nav__links flex-sc">
            <div class="nav__links-item flex-cc"><a href="/">Главная</a></div>
            <div class="nav__links-item flex-cc"><a href="/">О сервере</a></div>
            <div class="nav__links-item flex-cc"><a href="/download">Файлы</a></div>
            <div class="nav__links-item flex-cc"><a href="/download">Пожертвования</a></div>
            <div class="nav__links-item flex-cc"><a href="/download">Форум</a></div>
        </div>
    <div class="nav__langs">
		<div class="nav__langs-current flex-sc">
			<div class="nav__langs-current-icon flex-cc"><img src="{{template}}/images/langs/ru.png" alt=""></div>
			<div class="nav__langs-current-name">ru</div>
			<div class="nav__langs-current-arrow flex-cc"><img src="{{template}}/images/langs/arrow.png" alt=""></div>
		</div>
		<div class="nav__langs-items flex-ss">
            <a href="/en" class="flex-sc">
                <div class="nav__langs-items-icon flex-cc"><img src="{{template}}/images/langs/en.png" alt=""></div>
                <div class="nav__langs-items-name">English</div>
            </a>
		</div>
	</div>
        <a href="/main" class="button flex-cc"><span>МАСТЕР АККАУНТ</span></a>
        <div class="nav__open-links">
            <div class="nav__open-links-item"></div>
        </div>
    </div>
    <div class="banners"  style="position: z-index:99999; float:right">
        <!-- <a href="https://en.l2oops.com" target="_blank"><img src="https://l2oops.com/logo/black_l2oops_mini.png" width="122" height="31" alt="New Lineage 2 private servers" title="New Lineage 2 private servers" border="0"></a> -->
        <!-- <a href="https://l2topzone.com/vote/id/18142" target="_blank" title="l2topzone" ><img src="https://l2topzone.com/vb/l2topzone-Lineage2-vote-banner-small-1.png"  alt="l2topzone.com" border="0"></a> -->
    </div>

</nav>
			<div class="header__box flex-cc">
				<div class="header__content">
					<div class="header__content-logo flex-cc">
						<div class="header__content-logo-left"></div>
						<a href="https://l2chill.ru/" class="header__content-logo-center flex-cc">
							<img src="{{template}}/images/logos/logo.png" alt="">
						</a>
						<div class="header__content-logo-right"></div>
					</div>
					<div class="header__content-promo">
						<div class="header__content-promo-title">ОТКРЫТИЕ НОВОГО СЕРВЕРА!</div>
						<div class="header__content-promo-text">Сервер твоей мечты! Обновленная lineage 2, которую ты так долго ждал. Открытие 26 Августа в 20:00!</div>
						<div class="header__content-promo-text">Сервер открытого бета-тестирования будет доступен 22 Августа в 20:00!</div>
					</div>
					<div class="header__content-sep flex-cc"><img src="{{template}}/images/bg/sep.png" alt=""></div>
				</div>
			</div>

      <!-- VIDEO -->
      <div class="header__video">
        <video autoplay="" loop="" muted="" class="header__video-player">
          <source src="{{template}}/videos/bg.mp4" type="video/mp4">
          </source>
          <source src="{{template}}/videos/bg.webm" type="video/webm">
          </source>
        </video>
      </div>
      <!-- END VIDEO -->

    </header>
    <section class="section inner-page">
	
    <div class="section__title flex-cc">
<div class="section__title-left">&nbsp;</div>
<div class="section__title-center">
<div class="section__title-center-big">СКАЧАТЬ ИГРУ</div>
</div>
<div class="section__title-right">&nbsp;</div>
<div class="section__title-small">ОСНОВНЫЕ ШАГИ ДЛЯ ПОДКЛЮЧЕНИЯ К НАШЕМУ СЕРВЕРУ</div>
</div>
<div class="content-area">
<div class="start flex-sbs">
<div class="start__box" data-step="ШАГ №1">
<div class="start__box-title">ЗАРЕГИСТРИРУЙТЕ АККАУНТ!</div>
<div class="start__box-sep flex-cc"><img src="{{template}}/images/bg/sep.png" alt="" /></div>
<div class="start__box-content text-box">
<p>Первый шаг к интересной игре - создать мастер-аккаунт!</p>
<a class="button flex-cc reg-button" href="../../../../register"><span class="noautop">СОЗДАТЬ АККАУНТ</span></a></div>
</div>
<div class="start__box" data-step="ШАГ №2">
<div class="start__box-title">СКАЧАЙТЕ ФАЙЛЫ!</div>
<div class="start__box-sep flex-cc"><img src="{{template}}/images/bg/sep.png" alt="" /></div>
<div class="start__box-content text-box">
<p>Чтобы подключиться к серверу, вам необходимо загрузить и установить наш клиент и файлы патча или загрузить и запустить апдейтер!</p>
<h3>СКАЧАТЬ КЛИЕНТ!</h3>
<p>Скачайте и установите игровой клиент!</p>
<div class="start__box-content-btns flex-sbc"><a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">GOOGLE</span></a> <a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">TORRENT</span></a></div>
<h3>Скачайте наш патч!</h3>
<p>Скачивайте и устанавите наш патч в папку с игрой с заменой файлов!</p>
<div class="start__box-content-btns flex-sbc"><a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">GOOGLE</span></a> <a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">MEGA</span></a></div>
<h3>Или скачайте наш апдейтер!</h3>
<p>С помощью апдейтера вы сможете скачать наш клиент и всегда иметь последнюю версию файлов</p>
<div class="start__box-content-btns flex-sbc"><a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">GOOGLE</span></a> <a class="button flex-cc gray" href="../../../../" target="_blank" rel="noopener"><span class="noautop">L2CHILL</span></a></div>
</div>
</div>
<div class="start__box" data-step="ШАГ №3">
<div class="start__box-title">О ПРОЕКТЕ!</div>
<div class="start__box-sep flex-cc"><img src="{{template}}/images/bg/sep.png" alt="" /></div>
<div class="start__box-content text-box">
<p>Теперь вы можете войти в игру! Чтобы узнать больше о нашем проекте, вы можете использовать нашу базу знаний:</p>
<a class="button flex-cc reg-button" href="../../../../"><span class="noautop">ПОДРОБНОЕ ОПИСАНИЕ</span></a>
<p>Присоединяйтесь к нашему сообществу, чтобы быть в курсе последних новостей нашего проекта и участвовать в регулярных розыгрышах.</p>
<a class="button flex-cc reg-button" href="https://forum.l2chill.fun/" target="_blank" rel="noopener"><span class="noautop">ПЕРЕЙТИ НА ФОРУМ</span></a></div>
</div>
</div>
</div>	
	</section>
    <footer class="footer">
    <div class="footer__logo flex-cc">
        <div class="footer__logo-left"></div>
        <div class="footer__logo-center flex-cc">
            <img src="{{template}}/images/logos/footer_logo.png" alt="">
        </div>
        <div class="footer__logo-right"></div>
    </div>
</footer>
</div>
<script src="{{template}}/js/jquery.min.js" ></script>
<script src="{{template}}/js/navigation.js" ></script>
<script src="{{template}}/js/timers.js" ></script>
<script src="{{template}}/libs/swiper/swiper.js" ></script>
<script src="{{template}}/js/scripts.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>