{% extends 'basic/base.html' %}

{% block title %}{{phrase(238)}}{% endblock %}

{% block content %}
<div class="content">
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">Логи действий пользователей</h3>
    </div>
    <div class="block-content">
        <table class="table table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 100px;"><i class="si si-user"></i></th>
                <th>User</th>
                <th>Email</th>
                <th class="text-center " style="">Событие</th>
                <th class="text-center" style="width: 100px;">Время</th>
            </tr>
            </thead>
            <tbody>

            {% for i, log in logs_all %}
            <tr>
                <td class="text-center">
                    <img class="img-avatar img-avatar48" src="{{get_avatar(log.avatar)}}" alt="">
                </td>
                <td class="fw-semibold">{{log.name}}</td>
                <td class="fw-semibold">{{log.email}}</td>
                <td class="d-none d-sm-table-cell">{{log.message|raw}}</td>
                <td class="text-center">
                    {{log.time}}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
