@media (min-width: /*994px*/1221px){
	.btn{display:none}
}
@media (min-width: /*993px*/ 1220px) and (max-width: 1220px){.tableTicket tr{display:flex;flex-wrap:wrap}
.tableTicket tr td{width:50%}

}
@media (max-width: 1220px){
header{height: 1000px;}
.topPanel-wrapper{padding-right:25px;width:100%; max-width:1200px;}
.wrapper{width:100%; max-width:1200px;}
.toTop{left:-25px;bottom:0px}
.mainHomeBlock{justify-content:center}
.mainHomeBlock>div{margin:15px}

.sign-in{top: 8px;}

/*.aside>div{margin:15px}*/

.asideMain>div {margin: 15px;}

aside>div {margin:0px;}
aside{justify-content:center}

.nav li a{padding:0px 25px 0px 25px}
.tablePopup{right:auto;left:0px;top:calc(100% + 10px)}
.drivers-img{justify-content:center}
.drivers-img img{margin:10px}
.rankingTable td{padding:15px 18px}
.table-scroll{overflow-x:auto}
.accBlock-content2{width:100%}
}

@media (max-width: 1340px){
.leftBodyLinks{display:none}
.rightBodyLinks{display:none}
}


@media (max-width: /*993px*/ 1220px){
	
aside>div {margin:15px;}
	
.light-animation,.sparks{display:none}
/*.leftBodyLinks{display:none}
.rightBodyLinks{display:none}
.more-downloads{display:none}
.download-button{height: 0px}
.download{display:none}*/
.topPanel{background:rgba(7,10,17,0.95);box-shadow:0px 10px 10px 0px rgba(0,0,0,0.2);/*height:50px*/height:68px}
.topPanel .topPanel-left{border-bottom:0px;transition:0.3s;width:320px;left:-320px;top:0px;position:fixed;height:100%;background:rgba(7,10,17,0.95);z-index:11;display:block;padding-top:140px}
.topPanel .topPanel-left.active{left:0px}
.topPanel-right{top:17px;position:fixed;right:15px}
.logo-mini{display:block;margin-right:15px;position:absolute;left:20px;top:20px}
.topPanel-left{height:100%}
.nav{width:100%;height:100%;overflow-y:auto}
.nav li{display:block}
.nav li a{padding:30px 55px 30px 35px;height:auto;line-height:1;font-size:20px}
.nav li ul{position:relative;left:auto;top:auto}
.nav li ul li a{font-size:18px}
.nav .sub-menu a{padding:30px 55px 30px 35px}
.nav .sub-menu:before{top:37px;margin-top:0px;right:15px}
.topPanel.topPanel-fixed .nav li{background:none !important}
.rightBodyLinks a span{width:65px;height:65px;background-size:65px 65px}
.rightBodyLinks a span img{width:28px;left:18px;bottom:17px}
.leftBodyLinks a span{width:65px;height:65px;background-size:65px 65px}
.leftBodyLinks a span img{width:28px;left:18px;bottom:17px}
header{padding-top:50px}
.logo{position:relative;top:auto;text-align:center;width:100%}
.online{position:relative;bottom:auto}
.downloads{position:relative;bottom:auto;right:auto}
.timer{position:relative;bottom:auto;right:auto}
header  .vid{
    position: relative;
    bottom: auto;
    right: auto;
}

.download-button{margin:0 auto}
.topHomeBlocks{justify-content:center}
.block-50{width:560px;margin-bottom:15px}
.bigSlider .slick-arrow.slick-prev{background:url(../images/slick-left-mobile.png) no-repeat}
.bigSlider .slick-arrow.slick-next{background:url(../images/slick-right-mobile.png) no-repeat}
.slideContent{height:auto}
.slider-nav{margin-top:0px}
.slideContent{padding:120px 30px 70px 140px}
.main{flex-wrap:wrap;margin-bottom:50px}
.content{width:100%;order:1;margin-bottom:30px}
aside{width:100%;order:2;display:flex;flex-wrap:wrap;justify-content:center;max-width:100%}
.mainRegister{flex-wrap:wrap}
}
@media (max-width: 769px){.slide-hero{display:none !important}
header{/*height:auto*/}
main{/*margin-top:-100px*/}
.swiper-news_info{width:100%}
.rightBodyLinks{top:auto;bottom:50px}
.leftBodyLinks{top:auto;bottom:50px}
.swiper-news_info p{width:100%;max-width:350px}
.footerMenu-block{width:50%;margin-bottom:15px}
.playments,.copy{margin:10px 0px}
.block-6{width:100%;margin-bottom:20px}
table td{white-space:nowrap}
.table-scroll{border:1px solid rgba(255,255,255,0.1)}
.tableTicket tr td:nth-child(5){white-space:normal;min-width:200px}
.table-row{margin-left:0px;margin-right:0px}
}
@media (max-width: 550px){
	main {
		margin-top: 150px;
	}
}

@media (max-width: 590px){

.block-50{width:100%;height:100%;box-shadow:none}
.newsBlock{background-size:cover}
.swiper-news .swiper-slide img{object-fit:contain}
.newsLink-info a{width:auto;overflow:visible;white-space:normal;text-overflow:inherit;line-height:1.3}
.newsLink-more{display:none}
.wrapper{padding:0px 10px}
.tablePopup{display:none !important}
.content{padding:30px 15px}

.accBlock-content{width:100%}

}
@media (max-width: 480px){.newsBlock{padding:15px}
.swiper-news_info span{font-size:30px}
.swiper-news_info p{font-size:18px}
.swiper-news_info{padding:20px}
.download-button{position:relative;left:50%;margin-left:-233px}
.mainHomeBlock>div{margin:15px 0px}

.acide2>div{margin:15px 0px}

.blockHome{padding:10px}
.slideContent{padding:30px 30px 70px 30px}
.hero-logo{position:relative;left:-40px;top:auto}
.slide-tabs-caption{position:absolute;display:flex;z-index:3;transform:rotate(0deg);top:100px;left:auto;right:10px}
.bigSlider .slick-arrow.slick-prev{left:-60px}
.bigSlider .slick-arrow.slick-next{right:-60px}
.modal_div{width:calc(100% - 30px);left:15px;margin-left:0px;padding:30px 30px}
.enterButtons a{width:100%}
.enterLinks{margin-bottom:15px}
.supportButton{width:100%;margin:15px 0px}
.big-button-blue{width:260px}
.chatBlock-ava{width:40px}
.chatBlock-ava img{width:30px;height:30px}
.chatBlock-content{width:calc(100% - 40px)}
.s-acc{padding:35px 15px;height:70% !important}
.regBlock{padding:35px 15px}
}

