<div class="col-12 col-lg-4 col-xl-4">
    <div class="row" id="game_chat">
        <div class="col-12">
            <div class="card">
                <div class="card-header text">{{ phrase(46) }}</div>
                <div class="card-body">
                    <div class="row">
                        {% if get_enable_game_chat() %}
                        <div class="chat_window">
                            <ul class="messages" id="chat_messages"></ul>
                        </div>
                        <div class="message_template">
                            <li class="message">
                                <div class="text_wrapper">
                                    <div class="text"></div>
                                </div>
                            </li>
                        </div>
                        {% else %}
                        <div class="media-body ml-3">Чата игры отключен</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>