{% extends 'base.html' %}

{% block content %}

<!-- Start wrapper-->
<div id="wrapper">

    <div class="card card-authentication1 mx-auto my-4">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="{{ template }}/assets/images/logo-icon.png" alt="logo icon">
                </div>
                <div class="card-title text-uppercase text-center py-3">{{phrase(67)}}</div>
				<div class="card-footer text-center py-3">
					<p class="mb-0">{{phrase(277)}}</p>
				</div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <a href="#"> <img id='refreshCaptcha' src="" class="lightbox-thumb img-thumbnail captcha_img" /> </a>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-xl" name="captcha" id="captcha" >
                    </div>
                </div>

               <div class="input-group">
                <input type="text" class="form-control" id="email" placeholder="E-mail"> 
					<div class="input-group-prepend">
						<button class="btn btn-outline-primary" id="send_email" type="button">{{phrase(285)}}</button>
					</div>
              </div>
				<hr>
               <div class="input-group">
                <input type="text" class="form-control" id="code" placeholder="{{phrase(284)}}">
					<div class="input-group-prepend">
						<button class="btn btn-outline-primary" id="send_code" type="button">{{phrase(278)}}</button>
					</div>
               </div>
				
				 
				
            </div>
        </div>
        <div class="card-footer text-center py-3">
            <p class="mb-0">{{ phrase(11) }} <a href="/registration/user"> {{ phrase(12) }}</a></p>
        </div>
    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
</div>

{% endblock %}

{% block js %}
<script src="{{'assets/js/auth/forget.js'|template}}"></script>
{% endblock %}
