{% extends 'basic/base.html' %}

{% block title %}{{phrase(238)}}{% endblock %}

{% block content %}

<div class="content">

    <div class="row items-push">
        <div class="col-md-5">
            <div class="block block-rounded h-100 mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">{{phrase(554, get_server_default().name, get_server_default().rate_exp, get_server_default().chronicle )}}</h3>
                </div>
                <div class="block-content">

                    <form class="mb-5" action="/account/sync" method="POST" onsubmit="return false;">

                        <div class="mb-4">
                            <label class="visually-hidden" for="account">{{phrase(login)}}</label>
                            <input type="text" class="form-control" id="account" name="account" placeholder="{{phrase('login')}}">
                        </div>

                        <div class="mb-4">
                            <label class="visually-hidden" for="password">{{phrase('password')}}</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="{{phrase('password')}}">
                        </div>

                        <div class="mb-4">
                            <div class="form-check form-switch js-bs-tooltip-enabled" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{phrase(483)}}">
                                <input class="form-check-input" type="checkbox" value="" id="password_hide" name="password_hide" checked="">
                                <label class="form-check-label" for="password_hide">{{phrase(482)}}</label>
                            </div>
                        </div>

                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-arrow-right opacity-50 me-1"></i> {{phrase(335)}}
                            </button>
                        </div>
                    </form>




                </div>
            </div>
        </div>


        <div class="col-md-7">
            <!-- Floating Labels Login -->
            <div class="block block-rounded h-100 mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">{{phrase(555)}}</h3>
                </div>
                <div class="block-content ">
                    {{phrase(556)|raw}}
                </div>
            </div>
            <!-- END Floating Labels Login -->
        </div>
    </div>


</div>

{% endblock %}
