{% extends 'base.html' %}
{% set server_info = get_server_info(serverID) %}
{% set launcher_info = get_launcher_info(serverID) %}

{% set title = phrase(386) ~ " " ~ server_info.name ~ " x" ~ server_info.rate_exp ?? "Not set name" %}

{% block content %}


<div id="showErrorStartLauncher" class="alert alert-icon-danger alert-dismissible d-none" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="alert-icon icon-part-danger">
        <i class="fa fa-times"></i>
    </div>
    <div class="alert-message">
        <span><strong>{{phrase(174)}}:</strong> {{phrase(451)}}</span>
    </div>
</div>


<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-success top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                           class="nav-link active"><span class="hidden-xs">{{phrase(386)}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><span
                                class="hidden-xs">{{phrase("settings")}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><span
                                class="hidden-xs">{{phrase(0)}}</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-body text-center">


                                        <div class="card-action">
                                            <div class="dropdown">
                                                <a href="javascript:void();"
                                                   class="dropdown-toggle dropdown-toggle-nocaret"
                                                   data-toggle="dropdown">
                                                    <i class="icon-options"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item client_update" href="#">{{phrase(449)}}</a>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card-body">
                                            <div class="chart easy-pie-chart-4" id="main_panel_load" data-percent="0"
                                                 data-toggle="tooltip" data-placement="bottom" title=""
                                                 data-original-title="{{phrase(450)}} 0 / 0">
                                                <span class="percent"></span>
                                            </div>
                                            <hr>
                                            <div id="buttonGame"></div>

                                            <button
                                                    id="client_update_cancel"
                                                    class="btn-social-text btn-github waves-effect waves-light m-1 d-none">
                                                <i class="fa fa-refresh"></i> <span>{{phrase(80)}}</span>
                                            </button>

                                            {% if launcher_info %}
                                                {% for launcher in launcher_info %}
                                                    <button class="btn-social-text btn-tumblr waves-effect waves-light m-1 d-none startL2"
                                                            data-l2app="{{launcher['l2app']}}" data-args="{{launcher['args']}}">
                                                        {{phrase(launcher['phrase'])}}
                                                    </button>
                                                {% endfor %}
                                            {% else %}
                                                <button class="btn-social-text btn-tumblr waves-effect waves-light m-1 d-none startL2"
                                                        data-l2app="/system/l2.exe" data-args="">
                                                    {{phrase('launch_game')}}
                                                </button>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-9">


                                <div class="progress-wrapper mb-4">
                                    <p>{{phrase(425)}}: <span id="download_status_filename_1" data-toggle="tooltip"
                                                          data-placement="bottom" title="" data-original-title="0 kb">{{phrase(426)}}</span>
                                        <span id="download_status_load_procent_1" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-ibiza "
                                             id="download_status_load_procent_csswidth_1" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>{{phrase(425)}}: <span id="download_status_filename_2" data-toggle="tooltip"
                                                          data-placement="bottom" title="" data-original-title="0 kb">{{phrase(426)}}</span>
                                        <span id="download_status_load_procent_2" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-quepal "
                                             id="download_status_load_procent_csswidth_2" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>{{phrase(425)}}: <span id="download_status_filename_3" data-toggle="tooltip"
                                                          data-placement="bottom" title="" data-original-title="0 kb">{{phrase(426)}}</span>
                                        <span id="download_status_load_procent_3" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-blooker "
                                             id="download_status_load_procent_csswidth_3" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>{{phrase(425)}}: <span id="download_status_filename_4" data-toggle="tooltip"
                                                          data-placement="bottom" title="" data-original-title="0 kb">{{phrase(426)}}</span>
                                        <span id="download_status_load_procent_4" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-ohhappiness "
                                             id="download_status_load_procent_csswidth_4" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper">
                                    <p>{{phrase(425)}}: <span id="download_status_filename_5" data-toggle="tooltip"
                                                          data-placement="bottom" title="" data-original-title="0 kb">{{phrase(426)}}</span>
                                        <span id="download_status_load_procent_5" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-scooter"
                                             id="download_status_load_procent_csswidth_5" style="width:0%"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <table id="eventNotification" class="table table-responsive-xl">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{phrase(427)}}</h6>
                                        <hr>
                                        <p>{{phrase(428)|raw}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{phrase(427)}}</h6>
                                        <hr>
                                        <p>
                                            {{phrase(430)|raw}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{phrase(431)}}</h6>
                                        <hr>
                                        <p>{{phrase(432)|raw}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{phrase(433)}}</h6>
                                        <hr>
                                        <p>{{phrase(434)|raw}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{phrase(435)}}</h6>
                                        <hr>
                                        <p>{{phrase(436)|raw}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="tab-pane" id="edit">
                        <div>

                            <div class="form-group row">
                                <label for="selectClient" class="col-sm-3 col-form-label">{{phrase(437, get_server_info(user_info('get_default_server'))['chronicle'])|raw}} </label>
                                <div class="card-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-github text-success" id="addClientDirectoryButton"
                                                    type="button">{{phrase(438)}}
                                            </button>
                                        </div>
                                        <select class="form-control custom-select-lg" id="selectClient"
                                                required></select>
                                        <div class="input-group-append">
                                            <button class="btn btn-github text-success" id="removeClientDir"
                                                    type="button">{{phrase("delete")}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr>

                            <div class="form-group row">
                                <label for="isClientFilesArchive" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="isClientFilesArchive">
                                        <label for="isClientFilesArchive">{{phrase(439)}}</label>
                                    </div>
                                </label>
                                <divs class="col-sm-8">
                                    {{phrase(440)|raw}}
                                </divs>
                                <!--                                <button type="submit" class="btn btn-success col-sm-1"><i class="fa fa-plus"></i>-->
                                <!--                                    Указать папку-->
                                <!--                                </button>-->
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="autoStartLauncher" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="autoStartLauncher">
                                        <label for="autoStartLauncher">{{phrase(441)}}</label>
                                    </div>
                                </label>
                                <div class="col-sm-8">
                                    {{phrase(442)}}
                                    <br>
                                    <small class="mb-0 text-facebook">{{phrase(443)}}</small>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="autoUpdateLauncher" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="autoUpdateLauncher">
                                        <label for="autoUpdateLauncher">{{phrase(444)}}</label>
                                    </div>
                                </label>
                                <div class="col-sm-8">
                                    {{phrase(445)}}
                                    <br>
                                    <small class="mb-0 text-facebook">{{phrase(443)}}</small> [ {{phrase(446)}} -
                                    <spin class="userLauncherVersion">0</spin>
                                    {{phrase(447)}} -
                                    <spin class="actualLauncherVersion">0</spin>
                                    ]
                                </div>

                            </div>
                            <hr>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="modal fade" id="addClientDirectory" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dirfullpath">{{phrase(415)}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body" id="dirlist"></div>
            </div>
            <div class="modal-footer">
                <div class="text-left" style="flex-grow: 1;">{{phrase(448)}}</div>
                <button type="button" data-server_id="{{serverID}}"
                        class="btn btn-primary saveDirClient" data-client-dir-path=""><i
                        class="fa fa-check-square-o"></i> {{phrase(89)}}
                </button>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block css %}
<!-- simplebar CSS-->
<link href="{{template('/assets/plugins/simplebar/css/simplebar.css')}}" rel="stylesheet"/>
<!-- Bootstrap core CSS-->
<link href="{{template('/assets/css/bootstrap.min.css')}}" rel="stylesheet"/>
<!-- animate CSS-->
<link href="{{template('/assets/css/animate.css')}}" rel="stylesheet" type="text/css"/>
<!-- Icons CSS-->
<link href="{{template('/assets/css/icons.css')}}" rel="stylesheet" type="text/css"/>
<!-- Sidebar CSS-->
<link href="{{template('/assets/css/sidebar-menu.css')}}" rel="stylesheet"/>
<!-- Custom Style-->
<link href="{{template('/assets/css/app-style.css')}}" rel="stylesheet"/>
<!-- skins CSS-->
<link href="{{template('/assets/css/skins.css')}}" rel="stylesheet"/>
<!-- Vector CSS -->
<link href="{{template('/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css')}}" rel="stylesheet"/>

<style>

    figure {
        cursor: pointer;
        display: inline-block;
        max-width: 100%;
        text-align: center;
        margin-right: 10px; /* Задайте желаемое значение для расстояния между изображениями */
    }
    figure:hover .name {
        color: red; /* Задайте желаемый цвет текста при наведении */
    }

    figcaption {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    figcaption.name {
        max-width: 80px; /* Задайте желаемую ширину для обрезки текста */
        white-space: nowrap; /* Запретить перенос текста на новую строку */
        overflow: hidden; /* Скрыть выходящий за пределы области текст */
        text-overflow: ellipsis; /* Добавить многоточие (...) для обозначения обрезанного текста */
    }
    figcaption.name:hover {
        color: red; /* Задайте желаемый цвет текста при наведении */
    }

</style>

{% endblock %}

{% block js %}

<!-- Easy Pie Chart JS -->
<script src="{{template('/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js')}}"></script>
<script src="{{template('/assets/plugins/jquery.easy-pie-chart/easy-pie-chart.init.js')}}"></script>

<!--[if IE]>
<script type="text/javascript" src="{{template('/assets/jquery-knob/excanvas.js')}}"></script>
<![endif]-->
<script src="{{template('/assets/plugins/jquery-knob/excanvas.js')}}"></script>
<script src="{{template('/assets/plugins/jquery-knob/jquery.knob.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<script>
        $(function() {
            $(".knob").knob();
        });

        var bad_title = '{{phrase(418)}}';
        var bad_html = '{{phrase(419)|raw}}';
        var bad_confirmButtonText = '{{phrase(420)}}';
        var bad_cancelButtonText = '{{phrase(421)}}';
        var bad_swalWithBootstrapButtonsTitle = '{{phrase(422)}}';
        var bad_swalWithBootstrapButtonsContent = '{{phrase(423)|raw}}';

</script>


<script src="{{template('/launcher/launcher.js')}}"></script>

{% endblock %}

