{% extends 'base.html' %}

{% block content %}

{% set launcher_info = get_launcher_info(serverID) %}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-success top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                           class="nav-link active"><span class="hidden-xs">Лаунчер</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><span
                                class="hidden-xs">Настройки</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><span
                                class="hidden-xs">Описание</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-body text-center">

                                        <div class="card-body">
                                            <div class="chart easy-pie-chart-4" id="main_panel_load" data-percent="0">
                                                <span class="percent"></span>
                                            </div>
                                            <hr>
                                            <button
                                                    id="button_loading"
                                                    class="btn-social-text btn-tumblr waves-effect waves-light m-1 ">
                                                Подключение
                                            </button>
                                            <button id="turn_on_launcher"
                                                    class="btn-social-text btn-tumblr waves-effect waves-light m-1 d-none">
                                                Включить лаунчер
                                            </button>
                                            <button
                                                    id="client_update"
                                                    data-files-link="{{launcher_info['clientdir']}}"
                                                    data-files-patch="{{launcher_info['patchlist']}}"
                                                    data-client-start-app="{{launcher_info['l2app']}}"
                                                    data-client-start-app-phrase="{{phrase(launcher_info['phrasebutton'])}}"
                                                    class="btn-social-text btn-github waves-effect waves-light m-1 d-none">
                                                Обновить клиент
                                            </button>
                                            <button
                                                    id="client_update_cancel"
                                                    class="btn-social-text btn-github waves-effect waves-light m-1 d-none">
                                                <i
                                                        class="fa fa-refresh"></i> <span>Отменить</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-9">


                                <div class="progress-wrapper mb-4">
                                    <p>Загружается: <span id="download_status_filename_1">Нет</span>
                                        <span id="download_status_load_procent_1" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-ibiza "
                                             id="download_status_load_procent_csswidth_1" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>Загружается: <span id="download_status_filename_2">Нет</span>
                                        <span id="download_status_load_procent_2" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-quepal "
                                             id="download_status_load_procent_csswidth_2" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>Загружается: <span id="download_status_filename_3">Нет</span>
                                        <span id="download_status_load_procent_3" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-blooker "
                                             id="download_status_load_procent_csswidth_3" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper mb-4">
                                    <p>Загружается: <span id="download_status_filename_4">Нет</span>
                                        <span id="download_status_load_procent_4" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-ohhappiness "
                                             id="download_status_load_procent_csswidth_4" style="width:0%"></div>
                                    </div>
                                </div>

                                <div class="progress-wrapper">
                                    <p>Загружается: <span id="download_status_filename_5">Нет</span>
                                        <span id="download_status_load_procent_5" class="float-right">0%</span></p>
                                    <div class="progress" style="height:7px;">
                                        <div class="progress-bar gradient-scooter"
                                             id="download_status_load_procent_csswidth_5" style="width:0%"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <h5 class="mt-2 mb-6"><span class="fa fa-clock-o ion-clock float-right"></span> События
                                </h5>
                                <div class="table-responsive">
                                    <table id="eventNotification" class="table table-hover table-striped">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <div class="alert-icon">
                                <i class="icon-info"></i>
                            </div>
                            <div class="alert-message">
                                <span><strong>Info!</strong> Lorem Ipsum is simply dummy text.</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link
                                        to the latest summary report from the..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">Yesterday</span> There has been a
                                        request on your account since that was..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices
                                        quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt
                                        ullamcorper eros eget luctus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix
                                        for tibulum tincidunt ullamcorper eros.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <div>

                            <div class="form-group row">
                                <label for="input-6" class="col-sm-3 col-form-label">Папка для обновления клиента.<br>Под
                                    клиент: High Five</label>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-github text-success" type="button" data-toggle="modal" data-target="#largesizemodal">Добавить</button>
                                            </div>
                                            <select class="form-control custom-select-lg" name="intersted" required>
                                                <option>C:\Games\HF localhost</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-github text-success" type="button">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="modal fade" id="largesizemodal" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="dirfullpath">Мой компьютер</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                                <div class="card-body" id="dirlist">

                                                    <figure class="cursor-pointer highlight direction">
                                                        <img src="{{template}}/assets/images/local_disk.png" style="width: 124px;" alt="Folder Icon">
                                                        <figcaption data-all-path="" class="name">Это пиктограмма папки.</figcaption>
                                                    </figure>

                                                    <figure class="cursor-pointer highlight direction">
                                                        <img src="{{template}}/assets/images/local_disk.png" style="width: 124px;" alt="Folder Icon">
                                                        <figcaption class="name">Это пиктограмма папки.</figcaption>
                                                    </figure>

                                                    <figure>
                                                        <img src="{{template}}/assets/images/folder.png" alt="Folder Icon">
                                                        <figcaption>Это пиктограмма папки.</figcaption>
                                                    </figure>

                                                    <figure>
                                                        <img   src="{{template}}/assets/images/folder.png" alt="Folder Icon">
                                                        <figcaption>Это пиктограмма папки.</figcaption>
                                                    </figure>

                                                    <figure>
                                                        <img src="{{template}}/assets/images/folder.png" alt="Folder Icon">
                                                        <figcaption>Это длинный текст, который должен переноситься на новую строку, если он длинее, чем ширина изображения.</figcaption>
                                                    </figure>


                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                            <button type="button" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row">
                                <label for="input-6" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="user-checkbox1" checked="">
                                        <label for="user-checkbox1">Сохранять загруженные файлы</label>
                                    </div>
                                </label>
                                <div class="col-sm-8">
                                    Если "Да", лаунчер будет сохранять файлы патчей, для того чтоб не загружать их в
                                    будущем в случае если когда-то ранее Вы его уже загружали.<br>
                                    Данная опция может сократить время загрузки.
                                </div>
                                <button type="submit" class="btn btn-success col-sm-1"><i class="fa fa-plus"></i>
                                    Указать папку
                                </button>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="input-6" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="user-checkbox2" checked="">
                                        <label for="user-checkbox1">Автозагрузка</label>
                                    </div>
                                </label>
                                <div class="col-sm-8">
                                    Лаунчер не нужно будет запускать, он не потербляет память. После старта Windows,
                                    лаунчер будет загружен в память, и срабатывать только при обращении к нему.
                                    <br>
                                    <small class="mb-0 text-facebook">Рекомендуется*</small>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="input-6" class="col-sm-3 col-form-label">
                                    <div class="icheck-material-primary">
                                        <input type="checkbox" id="user-checkbox3" checked="">
                                        <label for="user-checkbox1">Автообновление</label>
                                    </div>
                                </label>
                                <div class="col-sm-8">
                                    Лаунчер будет периодически проверять обновление, и обновляться если вышла новая
                                    версия.
                                    <br>
                                    <small class="mb-0 text-facebook">Рекомендуется*</small>
                                </div>
                                <button type="submit" class="btn btn-success col-sm-1"><i class="fa fa-refresh"></i>
                                    Проверить обновление
                                </button>
                            </div>
                            <hr>

                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}


{% block css %}
<!-- simplebar CSS-->
<link href="{{template}}/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
<!-- Bootstrap core CSS-->
<link href="{{template}}/assets/css/bootstrap.min.css" rel="stylesheet"/>
<!-- animate CSS-->
<link href="{{template}}/assets/css/animate.css" rel="stylesheet" type="text/css"/>
<!-- Icons CSS-->
<link href="{{template}}/assets/css/icons.css" rel="stylesheet" type="text/css"/>
<!-- Sidebar CSS-->
<link href="{{template}}/assets/css/sidebar-menu.css" rel="stylesheet"/>
<!-- Custom Style-->
<link href="{{template}}/assets/css/app-style.css" rel="stylesheet"/>
<!-- skins CSS-->
<link href="{{template}}/assets/css/skins.css" rel="stylesheet"/>
<!-- Vector CSS -->
<link href="{{template}}/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>

<style>

    figure {
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }

    figcaption {
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }


</style>

{% endblock %}

{% block js %}

<!-- Easy Pie Chart JS -->
<script src="{{template}}/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{template}}/assets/plugins/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="{{template}}/assets/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="{{template}}/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="{{template}}/assets/plugins/jquery-knob/jquery.knob.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

<script>
        $(function() {
            $(".knob").knob();
        });

$("#alert-basic").click(function(){

});





</script>

<script src="{{template}}/launcher/launcher.js"></script>


{% endblock %}

