   <div class="user-details">
    <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
      <div class="avatar"><img class="mr-3 side-user-img user_self_avatar" src="{{template}}/assets/images/navatar/{{ user_info('get_avatar') }}" alt="avatar"></div>
       <div class="media-body">
	   {% if user_info('get_is_auth') %}
       <h6 class="side-user-name">{{ user_info('get_email') }}</h6>
           <small class="">{{phrase(user_info('get_access_level'))}}</small>
	   {% else %}
       <h6 class="side-user-name">{{ phrase("not_authorized") }}</h6>
           <small class="">{{phrase(user_info('get_access_level'))}}</small>
           {% endif %}
      </div>
       </div>
      <div id="user-dropdown" class="collapse">



      <ul class="user-setting-menu">
			{% if user_info('get_is_auth') %}
            <li><a href="/user/change"><i class="icon-settings"></i> {{ phrase("settings") }}</a></li>
            <li><a href="/user/change/avatar"><i class="icon-settings"></i> {{phrase(65)}}</a></li>
            <li><a href="/user/change/avatar/background"><i class="icon-settings"></i> {{phrase(66)}}</a></li>
 			<li><a href="/auth/logout"><i class="icon-power"></i> {{ phrase("logout") }}</a></li>
			{% else %}
			<li><a href="/auth"><i class="icon-user"></i> {{ phrase("authorization") }}</a></li>
			<li><a href="/registration/user"><i class="icon-user"></i> {{ phrase("menu_registration") }}</a></li>
			<li><a href="/auth/forget"><i class="icon-user"></i> {{phrase(67)}}</a></li>
			{% endif %}
      </ul>
     </div>
   </div>