{% extends 'basic/base.html' %}

{% block title %}{{phrase(238)}}{% endblock %}

{% block content %}

<div class="bg-image bg-image-bottom" style="background-image: url('{{template}}/assets/media/photos/develop.jpg');">
    <div class="bg-black-10 py-7">
        <div class="content content-full text-center ">
            <div class="mb-5">
                <img class="img-avatar img-avatar96 img-avatar-thumb" src="https://avatars.githubusercontent.com/u/16440006" alt="">
            </div>
            <div class="">
                <div class=" badge rounded-pill bg-success ">
                    Developer: <a href="https://github.com/Cannabytes" class="text-black" target="_blank">@Cannabytes</a>
                </div>
                <br>
                <div class=" badge rounded-pill bg-success ">
                    Sphere Telegram Chat: <a href="https://t.me/shpereweb" class="text-black" target="_blank">@SphereWeb && Launcher Chat</a>
                </div>
                <br>
                <div class=" badge rounded-pill bg-success ">
                    GitHub: <a target="_blank" class="text-black" href="https://github.com/Cannabytes/SphereWeb">@SphereWeb</a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Main Content -->
<div class="content">
    <!-- Projects -->
    <h2 class="content-heading d-flex justify-content-between align-items-center">
        <span class="fw-semibold"><i class="si si-briefcase me-1"></i> {{phrase(221)}}</span>
    </h2>
    <div class="row items-push">



        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/news.jpg');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_page_create')}}"> {{phrase("add_news")}} </a>
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_pages')}}">{{phrase(56)}}</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/java.jpg');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_options')}}">
                            {{phrase("add_new_server")}}
                        </a>
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_options_server_list')}}">
                            {{phrase(56)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/template.jpg');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_template')}}">
                            {{phrase("templates")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/email.jpg');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload" href="{{action('admin_plugin')}}">
                           Плагины
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/chat.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_chat')}}">
                            {{phrase(383)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/donate.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_donate')}}">
                            {{phrase(63)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/users.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_users')}}">
                            {{phrase("users")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/gallery.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_gallery')}}">
                            {{phrase("gallery")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/cache.webp');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_cache')}}">
                            {{phrase(320)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/forum.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_forum')}}">
                            {{phrase(62)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/bonus.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_bonus')}}">
                            {{phrase("code_bonus")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>


         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/support.png');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_support')}}">
                            {{phrase("technical support")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="block block-rounded block-transparent text-center bg-image" style="background-image: url('{{template}}/assets/media/photos/logs.jpg');" href="javascript:void(0)">
                <div class="block-content block-content-full">
                </div>
                <div class="block-content block-content-full block-content-sm bg-black-50">
                    <div class="fw-semibold text-white mb-1">
                        <a class="btn btn-sm btn-alt-secondary ajaxload mt-1" href="{{action('admin_log_user')}}">
                            {{phrase("log_user")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


{% endblock %}
