{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card mt-3 shadow-none">
                <div class="card-body">
                    <div>
                        <div class="form-group row">
                            <label for="code" class="col-sm-3 ">Код аккредитации лаунчера
                            </label>
                            <div class="col-sm-9">
                                <input id="code" value="" type="text" class="form-control" required>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group row">
                            <label for="l2app" class="col-sm-3 col-form-label">Файл для запуска</label>
                            <div class="col-sm-4">
                                <input id="l2app" value="/system/l2.exe" type="text" class="form-control" required>
                            </div>
                            <label for="buttonphrase" class="col-sm-2 col-form-label">Кнопки запуска игры</label>
                            <div class="col-sm-3">
                                <input id="buttonphrase" value="launch_game" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-footer">
                        <button data-server_id="{{serverLauncher}}" type="submit" id="launcherAdd" class="btn btn-success"><i
                                class="fa fa-check-square-o"></i> Сохранить
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block js %}
    <script src="{{'assets/js/launcher/launcher.js'|template}}"></script>
    {% endblock %}