{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">

        <div class="card mt-3 shadow-none">
            <div class="card-header">Кнопка запуска игры</div>


            <div class="card-body">
                <div class="form-group row">
                    <label for="l2app" class="col-sm-3 col-form-label">Путь l2.exe</label>
                    <div class="col-sm-4">
                        <input id="l2app" value="/system/l2.exe" placeholder="/system/l2.exe" type="text"
                               class="form-control" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="buttonphrase" class="col-sm-3 col-form-label">Название кнопки запуска игры</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="buttonphrase">
                            {% for i, phrase in show_all_lang_package() %}
                                <option value="{{i}}">{{truncateWord(phrase, 30)}}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="form-group row">
                    <label for="buttonargs" class="col-sm-3 col-form-label">Аргументы</label>
                    <div class="col-sm-4">
                        <input id="buttonargs" value="" type="text" class="form-control">
                    </div>
                </div>

                <hr>
                <div class="form-footer">
                    <button data-server_id="{{serverLauncher}}" type="submit" id="addlauncherToServer" class="btn btn-success">
                        Добавить кнопку запуска клиента
                    </button>
                </div>
            </div>


        </div>
    </div>


    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Все кнопки запуска лаунера</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Путь к l2.exe</th>
                            <th scope="col">Аргументы</th>
                            <th scope="col">Название кнопки</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for launcher in get_launcher_info(serverLauncher) %}
                        <tr>
                            <td>{{launcher['l2app']}}</td>
                            <td>{{launcher['args']}}</td>
                            <td>{{phrase(launcher['phrase'])}}</td>
                            <td><i data-launcher-id="{{launcher['id']}}" aria-hidden="true"
                                   class="fa fa-trash text-danger removepath" style="cursor: pointer;"></i></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script>
$(document).on('click', '.removepath', function (e) {
      th = $(this)
      e.preventDefault();
      $.ajax({
          type: "POST",
          url: "/admin/options/server/launcher/remove",
          dataType: "json",
          encode: true,
          data: {
              launcherId: th.data("launcher-id"),
          },
          success: function (data) {
		  if(data.ok){
                  th.closest("tr").remove();
		  }else{
			notify_warning(data.message)
		  }
	},
    error: function (data) {
        notify_warning(data.message);
    },
    });
});

$(document).on('click', '#addlauncherToServer', function (e) {
      e.preventDefault();
      $.ajax({
          type: "POST",
          url: "/admin/options/server/launcher/add",
          dataType: "json",
          encode: true,
          data: {
              l2app: $("#l2app").val(),
              buttonphrase: $("#buttonphrase").val(),
              args: $("#buttonargs").val(),
              serverId: $(this).data("server_id"),
          },
          success: function (data) {
		  if(data.ok){
		      notify_success(data.message)
              setTimeout(function(){
                   window.location.reload(1);
              }, 2000);
		  }else{
			notify_warning(data.message)
		  }
	},
    error: function (data) {
        notify_warning(data.message);
    },
    });
});

</script>
{% endblock %}