@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic,latin);

@font-face {
    font-family: 'AlbertusMedium';
    src: url('../fonts/AlbertusMedium.eot');
    src: url('../fonts/AlbertusMedium.eot') format('embedded-opentype'),
         url('../fonts/AlbertusMedium.woff2') format('woff2'),
         url('../fonts/AlbertusMedium.woff') format('woff'),
         url('../fonts/AlbertusMedium.ttf') format('truetype'),
         url('../fonts/AlbertusMedium.svg#AlbertusMedium') format('svg');
}
@font-face {
    font-family: 'AlbertusExtraBold';
    src: url('../fonts/AlbertusExtraBold.eot');
    src: url('../fonts/AlbertusExtraBold.eot') format('embedded-opentype'),
         url('../fonts/AlbertusExtraBold.woff2') format('woff2'),
         url('../fonts/AlbertusExtraBold.woff') format('woff'),
         url('../fonts/AlbertusExtraBold.ttf') format('truetype'),
         url('../fonts/AlbertusExtraBold.svg#AlbertusExtraBold') format('svg');
}
